openapi: 3.0.1
info:
  contact:
    email: support@suger.io
    name: Suger Support
    url: https://www.suger.io/support
  description: CRUD operations on a set of resources, including organizations, products, offers, entitlements, usage record groups for meterting, etc.
  title: Suger API Product API
  version: '1.0'
servers:
- url: https://api.suger.cloud
tags:
- description: Access to Product resources
  name: Product
paths:
  /org/{orgId}/draftProduct:
    post:
      description: Create a new draft product or update the existing draft product. When updating draft product, the product.ID is required.
      operationId: CreateOrUpdateDraftProduct
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkloadProduct'
        description: the draft product to create
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadProduct'
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal server error
      security:
      - APIKeyAuth: []
      summary: Create Or Update Draft Product
      tags:
      - Product
      x-codegen-request-body-name: data
  /org/{orgId}/partner/{partner}/product:
    get:
      description: list all products under the given organization and cloud partner
      operationId: ListProductsByPartner
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Cloud Partner
        explode: false
        in: path
        name: partner
        required: true
        schema:
          enum:
          - AWS
          - AZURE
          - GCP
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/WorkloadProduct'
                type: array
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal server error
      security:
      - APIKeyAuth: []
      summary: List Products By Partner
      tags:
      - Product
  /org/{orgId}/product:
    get:
      description: list all products under the given organization
      operationId: ListProducts
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: filter by partner
        explode: true
        in: query
        name: partner
        required: false
        schema:
          enum:
          - AWS
          - AZURE
          - GCP
          - STRIPE
          type: string
        style: form
      - description: List pagination size, default 100, max value is 1000
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: List pagination offset, default 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/WorkloadProduct'
                type: array
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal server error
      security:
      - APIKeyAuth: []
      summary: List Products
      tags:
      - Product
    post:
      description: create a new product in the marketplace
      operationId: CreateProduct
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkloadProduct'
        description: the product to create
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadProduct'
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal server error
      security:
      - APIKeyAuth: []
      summary: Create Product
      tags:
      - Product
      x-codegen-request-body-name: data
  /org/{orgId}/product/{productId}:
    delete:
      description: The product is soft deleted (marked as DELETED status) in Suger service. only the products with non PUBLIC status are allowed to be deleted.
      operationId: DeleteProduct
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Product ID
        explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
          description: Empty string if deletion is successful
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '404':
          content:
            application/json:
              schema:
                type: string
          description: Not found error
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal server error
      security:
      - APIKeyAuth: []
      summary: Delete Product
      tags:
      - Product
    get:
      description: get product by product id
      operationId: GetProduct
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Product ID
        explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadProduct'
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '404':
          content:
            application/json:
              schema:
                type: string
          description: Not found error
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal server error
      security:
      - APIKeyAuth: []
      summary: Get Product
      tags:
      - Product
    patch:
      description: update product info, no price update is allowed via this API.
      operationId: UpdateProduct
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Product ID
        explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkloadProduct'
        description: the product to update
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadProduct'
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal server error
      security:
      - APIKeyAuth: []
      summary: Update Product
      tags:
      - Product
      x-codegen-request-body-name: data
  /org/{orgId}/product/{productId}/dimension:
    get:
      description: list all metering dimensions of the given product
      operationId: ListProductMeteringDimensions
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Product ID
        explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MeteringDimension'
                type: array
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '404':
          content:
            application/json:
              schema:
                type: string
          description: Not found error
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal server error
      security:
      - APIKeyAuth: []
      summary: List Metering Dimensions Of Product
      tags:
      - Product
  /org/{orgId}/product/{productId}/fulfillmentUrl:
    patch:
      description: update the fulfillment url of the given product
      operationId: UpdateProductFulfillmentUrl
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Product ID
        explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductParams'
        description: Update Product Params
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadProduct'
          description: OK
        '500':
          content: {}
          description: Internal Server Error
      security:
      - APIKeyAuth: []
      summary: Update Product Fulfillment Url
      tags:
      - Product
      x-codegen-request-body-name: data
  /org/{orgId}/product/{productId}/metaInfo:
    patch:
      description: Update the meta info of the given product.
      operationId: UpdateProductMetaInfo
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Product ID
        explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkloadMetaInfo'
        description: Product meta info to update
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadMetaInfo'
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '500':
          content:
            application/json:
              schema:
                type: string
          description: internal server error
      security:
      - APIKeyAuth: []
      summary: Update Product Meta Info
      tags:
      - Product
      x-codegen-request-body-name: data
  /org/{orgId}/product/{productId}/publish:
    patch:
      description: publish the given product to the public status in the marketplace
      operationId: PublishProduct
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Product ID
        explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkloadProduct'
        description: the product to publish
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadProduct'
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '404':
          content:
            application/json:
              schema:
                type: string
          description: Not found error
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal server error
      security:
      - APIKeyAuth: []
      summary: Publish Product
      tags:
      - Product
      x-codegen-request-body-name: data
components:
  schemas:
    AzureIncludedBaseQuantity:
      example:
        quantity: 1.2315135367772556
        isInfinite: true
        recurringUnit: Monthly
      properties:
        isInfinite:
          type: boolean
        quantity:
          type: number
        recurringUnit:
          enum:
          - Monthly
          - Annual
          type: string
      type: object
    AwsProductPromotionalResources:
      example:
        AdditionalResources:
        - Type: Type
          Text: Text
          Url: Url
        - Type: Type
          Text: Text
          Url: Url
        LogoUrl: LogoUrl
        Videos:
        - Type: Type
          Title: Title
          Url: Url
        - Type: Type
          Title: Title
          Url: Url
      properties:
        AdditionalResources:
          items:
            $ref: '#/components/schemas/AwsProductAdditionalResource'
          type: array
        LogoUrl:
          type: string
        Videos:
          items:
            $ref: '#/components/schemas/AwsProductVideo'
          type: array
      type: object
    SnowflakeMarketplacePlanInstallment:
      example:
        installment_amount: 4.652396432933246
        installment_number: 8.969578798196912
      properties:
        installment_amount:
          type: number
        installment_number:
          type: number
      type: object
    AzureProductVariantTrial:
      example:
        duration: 9
        dateTimeRange:
          endAt:
            dateTimeInUtc: dateTimeInUtc
            localizePerMarket: true
          startAt:
            dateTimeInUtc: dateTimeInUtc
            localizePerMarket: true
        type: NoTrial
        durationType: Minute
      properties:
        dateTimeRange:
          $ref: '#/components/schemas/AzureLocalizedTimeRange'
        duration:
          type: integer
        durationType:
          enum:
          - Minute
          - Days
          - Months
          type: string
        type:
          enum:
          - NoTrial
          - TimedAccess
          - TimedUsage
          - Unlimited
          type: string
      type: object
    AwsMarketplaceProductVisibility:
      enum:
      - Limited
      - Public
      - Restricted
      - Unavailable
      - Draft
      type: string
      x-enum-varnames:
      - AwsMarketplaceProductVisibility_Limited
      - AwsMarketplaceProductVisibility_Public
      - AwsMarketplaceProductVisibility_Restricted
      - AwsMarketplaceProductVisibility_Unavailable
      - AwsMarketplaceProductVisibility_Draft
    AzureMarketState:
      example:
        marketCode: marketCode
        state: Disabled
      properties:
        marketCode:
          description: ISO Country Code
          type: string
        state:
          enum:
          - Disabled
          - Enabled
          - StopSelling
          - Terminated
          type: string
      type: object
    NotificationEventAction:
      enum:
      - ''
      - ABNORMAL_ALERT
      - ACCEPT
      - ADD
      - APPROVE
      - CANCEL
      - CLOSE
      - CREATE
      - DELETE
      - ARCHIVE
      - DISBURSE
      - END_SOON
      - EXPIRE
      - EXPIRE_SOON
      - MERGE
      - METER
      - NEW_CLIENT_SIGNUP
      - NOTIFY
      - NOTIFY_CONTACTS
      - OPEN_EMAIL
      - PENDING_CANCEL
      - PENDING_ACCEPTANCE
      - REINSTATE
      - REJECT
      - REOPEN
      - CHARGE
      - REFUND
      - ISSUE
      - SIGN
      - ROTATE_SECRET
      - SUSPEND
      - TEST
      - UPDATE
      - ACE_ENGAGEMENT_SCORE_UPDATE
      - ACE_SALES_REP_UPDATE
      - ACE_CUSTOMER_EMAIL_UPDATE
      - AZURE_STATUS_UPDATE
      - SUBMIT_APPROVAL_REQUEST
      - REVIEW_APPROVAL_REQUEST
      - COMPLETE
      - FAIL
      - WEBHOOK
      - MARKETPLACE_CONTACT_EMAIL_UPDATE
      type: string
      x-enum-comments:
        NotificationEventAction_ADD: Add user to organization
      x-enum-varnames:
      - NotificationEventAction_UNKNOWN
      - NotificationEventAction_ABNORMAL_ALERT
      - NotificationEventAction_ACCEPT
      - NotificationEventAction_ADD
      - NotificationEventAction_APPROVE
      - NotificationEventAction_CANCEL
      - NotificationEventAction_CLOSE
      - NotificationEventAction_CREATE
      - NotificationEventAction_DELETE
      - NotificationEventAction_ARCHIVE
      - NotificationEventAction_DISBURSE
      - NotificationEventAction_END_SOON
      - NotificationEventAction_EXPIRE
      - NotificationEventAction_EXPIRE_SOON
      - NotificationEventAction_MERGE
      - NotificationEventAction_METER
      - NotificationEventAction_NEW_CLIENT_SIGNUP
      - NotificationEventAction_NOTIFY
      - NotificationEventAction_NOTIFY_CONTACTS
      - NotificationEventAction_OPEN_EMAIL
      - NotificationEventAction_PENDING_CANCEL
      - NotificationEventAction_PENDING_ACCEPTANCE
      - NotificationEventAction_REINSTATE
      - NotificationEventAction_REJECT
      - NotificationEventAction_REOPEN
      - NotificationEventAction_CHARGE
      - NotificationEventAction_REFUND
      - NotificationEventAction_ISSUE
      - NotificationEventAction_SIGN
      - NotificationEventAction_ROTATE_SECRET
      - NotificationEventAction_SUSPEND
      - NotificationEventAction_TEST
      - NotificationEventAction_UPDATE
      - NotificationEventAction_ACE_ENGAGEMENT_SCORE_UPDATE
      - NotificationEventAction_ACE_SALES_REP_UPDATE
      - NotificationEventAction_ACE_CUSTOMER_EMAIL_UPDATE
      - NotificationEventAction_AZURE_STATUS_UPDATE
      - NotificationEventAction_SUBMIT_APPROVAL_REQUEST
      - NotificationEventAction_REVIEW_APPROVAL_REQUEST
      - NotificationEventAction_COMPLETE
      - NotificationEventAction_FAIL
      - NotificationEventAction_WEBHOOK
      - NotificationEventAction_MARKETPLACE_CONTACT_EMAIL_UPDATE
    AwsProduct:
      example:
        Repositories:
        - Type: Type
          Url: Url
        - Type: Type
          Url: Url
        Description:
          UsW9Submitted: true
          Highlights:
          - Highlights
          - Highlights
          Categories:
          - Categories
          - Categories
          ProductCode: ProductCode
          SearchKeywords:
          - SearchKeywords
          - SearchKeywords
          ProductTitle: ProductTitle
          EuW8Submitted: true
          ShortDescription: ShortDescription
          LongDescription: LongDescription
          Manufacturer: Manufacturer
          Visibility: Limited
          AssociatedProducts: '{}'
          Sku: Sku
          Registered: true
        Versions:
        - CreationDate: 2000-01-23 04:56:07+00:00
          Id: Id
          DeliveryOptions:
          - Recommendations: '{}'
            Type: Type
            AmiAlias: AmiAlias
            SourceId: SourceId
            Title: Title
            Visibility: Visibility
            FulfillmentUrl: FulfillmentUrl
            Id: Id
            ShortDescription: ShortDescription
          - Recommendations: '{}'
            Type: Type
            AmiAlias: AmiAlias
            SourceId: SourceId
            Title: Title
            Visibility: Visibility
            FulfillmentUrl: FulfillmentUrl
            Id: Id
            ShortDescription: ShortDescription
          ReleaseNotes: ReleaseNotes
          VersionTitle: VersionTitle
        - CreationDate: 2000-01-23 04:56:07+00:00
          Id: Id
          DeliveryOptions:
          - Recommendations: '{}'
            Type: Type
            AmiAlias: AmiAlias
            SourceId: SourceId
            Title: Title
            Visibility: Visibility
            FulfillmentUrl: FulfillmentUrl
            Id: Id
            ShortDescription: ShortDescription
          - Recommendations: '{}'
            Type: Type
            AmiAlias: AmiAlias
            SourceId: SourceId
            Title: Title
            Visibility: Visibility
            FulfillmentUrl: FulfillmentUrl
            Id: Id
            ShortDescription: ShortDescription
          ReleaseNotes: ReleaseNotes
          VersionTitle: VersionTitle
        productId: productId
        PromotionalResources:
          AdditionalResources:
          - Type: Type
            Text: Text
            Url: Url
          - Type: Type
            Text: Text
            Url: Url
          LogoUrl: LogoUrl
          Videos:
          - Type: Type
            Title: Title
            Url: Url
          - Type: Type
            Title: Title
            Url: Url
        dataFeedProductId: dataFeedProductId
        Dimensions:
        - Types:
          - Types
          - Types
          Description: Description
          Length: 2
          Rate: 6.778324963048013
          TimeUnit: DAY
          Unit: Unit
          Key: Key
          Name: Name
        - Types:
          - Types
          - Types
          Description: Description
          Length: 2
          Rate: 6.778324963048013
          TimeUnit: DAY
          Unit: Unit
          Key: Key
          Name: Name
        SignatureVerificationKeys:
        - Status: Status
          PublicKey: PublicKey
          PublicKeyVersion: 2
        - Status: Status
          PublicKey: PublicKey
          PublicKeyVersion: 2
        SupportInformation:
          Description: Description
      properties:
        Description:
          $ref: '#/components/schemas/AwsProductDescription'
        Dimensions:
          items:
            $ref: '#/components/schemas/AwsProductDimension'
          type: array
        PromotionalResources:
          $ref: '#/components/schemas/AwsProductPromotionalResources'
        Repositories:
          items:
            $ref: '#/components/schemas/AwsProductRepository'
          type: array
        SignatureVerificationKeys:
          items:
            $ref: '#/components/schemas/AwsProductSignatureVerificationKey'
          type: array
        SupportInformation:
          $ref: '#/components/schemas/AwsProductSupportInformation'
        Versions:
          items:
            $ref: '#/components/schemas/AwsProductVersion'
          type: array
        dataFeedProductId:
          description: The product Id in AWS Marketplace Data Feed Service.
          type: string
        productId:
          description: AWS Product ID
          type: string
      type: object
    AzureMarketplacePriceAndAvailabilityPrivateOfferPrice:
      example:
        customMeters:
          priceInputOption: perMarket
          meters: '{}'
        recurrentPrice:
          recurrentPriceMode: flatRate
          userLimits:
            min: 6.84685269835264
            max: 1.4894159098541704
          priceInputOption: perMarket
          prices:
          - billingFrequency: '{}'
            pricePerPaymentInUsd: 1.2315135367772556
            flexibleSchedule: '{}'
            contractDuration: '{}'
            billingTerm:
              type: day
              value: 7.386281948385884
            paymentOption:
              type: day
              value: 7.386281948385884
            prices:
            - markets:
              - markets
              - markets
              price: 1.0246457001441578
              currency: currency
            - markets:
              - markets
              - markets
              price: 1.0246457001441578
              currency: currency
          - billingFrequency: '{}'
            pricePerPaymentInUsd: 1.2315135367772556
            flexibleSchedule: '{}'
            contractDuration: '{}'
            billingTerm:
              type: day
              value: 7.386281948385884
            paymentOption:
              type: day
              value: 7.386281948385884
            prices:
            - markets:
              - markets
              - markets
              price: 1.0246457001441578
              currency: currency
            - markets:
              - markets
              - markets
              price: 1.0246457001441578
              currency: currency
      properties:
        customMeters:
          $ref: '#/components/schemas/AzureMarketplacePriceAndAvailabilityPrivateOfferCustomMeters'
        recurrentPrice:
          $ref: '#/components/schemas/AzureMarketplacePriceAndAvailabilityRecurrentPrice'
      type: object
    GcpMarketplacePriceModel:
      enum:
      - FREE
      - SUBSCRIPTION
      - USAGE
      - SUBSCRIPTION_PLUS_USAGE
      type: string
      x-enum-varnames:
      - GcpMarketplacePriceModel_FREE
      - GcpMarketplacePriceModel_SUBSCRIPTION
      - GcpMarketplacePriceModel_USAGE
      - GcpMarketplacePriceModel_SUBSCRIPTION_PLUS_USAGE
    AzureProductListing:
      example:
        summary: summary
        accessInformation: accessInformation
        keywords:
        - keywords
        - keywords
        compatibleProducts:
        - compatibleProducts
        - compatibleProducts
        description: description
        shortDescription: shortDescription
        languageCode: languageCode
        title: title
        gettingStartedInstructions: gettingStartedInstructions
        assets:
        - fileName: fileName
          fileSasUri: fileSasUri
          description: description
          id: id
          state: PendingUpload
          type: type
          publisherDefinedSasUri: publisherDefinedSasUri
          friendlyName: friendlyName
          order: 4
          resourceType: ListingAsset
        - fileName: fileName
          fileSasUri: fileSasUri
          description: description
          id: id
          state: PendingUpload
          type: type
          publisherDefinedSasUri: publisherDefinedSasUri
          friendlyName: friendlyName
          order: 4
          resourceType: ListingAsset
        listingUris:
        - displayText: displayText
          subtype: subtype
          type: type
          uri: uri
        - displayText: displayText
          subtype: subtype
          type: type
          uri: uri
        publisherName: publisherName
        productDisplayName: productDisplayName
        listingContacts:
        - phone: phone
          name: name
          type: CustomerSupport
          uri: uri
          email: email
        - phone: phone
          name: name
          type: CustomerSupport
          uri: uri
          email: email
        id: id
        resourceType: AzureListing
      properties:
        accessInformation:
          type: string
        assets:
          description: Not original fields. They are populated by other API calls
          items:
            $ref: '#/components/schemas/AzureProductListingAsset'
          type: array
        compatibleProducts:
          items:
            type: string
          type: array
        description:
          type: string
        gettingStartedInstructions:
          type: string
        id:
          type: string
        keywords:
          items:
            type: string
          type: array
        languageCode:
          type: string
        listingContacts:
          items:
            $ref: '#/components/schemas/AzureListingContact'
          type: array
        listingUris:
          items:
            $ref: '#/components/schemas/AzureListingUri'
          type: array
        productDisplayName:
          type: string
        publisherName:
          type: string
        resourceType:
          enum:
          - AzureListing
          type: string
        shortDescription:
          type: string
        summary:
          type: string
        title:
          type: string
      type: object
    AlibabaMarketplaceProductSkuOrderPeriods:
      example:
        OrderPeriod:
        - PeriodType: PeriodType
          Name: Name
        - PeriodType: PeriodType
          Name: Name
      properties:
        OrderPeriod:
          items:
            $ref: '#/components/schemas/AlibabaMarketplaceProductSkuOrderPeriod'
          type: array
      type: object
    AzureMarketplaceCustomerLeads:
      example:
        salesforceLeadConfiguration: '{}'
        product: product
        $schema: $schema
        tableLeadConfiguration: '{}'
        httpsEndpointLeadConfiguration: '{}'
        resourceName: resourceName
        emailLeadConfiguration: '{}'
        dynamicsLeadConfiguration: '{}'
        marketoLeadConfiguration: '{}'
        leadDestination: none
        id: id
        validations:
        - resourceId: resourceId
          code: businessValidationError
          $schema: $schema
          level: informational
          message: message
        - resourceId: resourceId
          code: businessValidationError
          $schema: $schema
          level: informational
          message: message
        blobLeadConfiguration: '{}'
      properties:
        $schema:
          type: string
        blobLeadConfiguration:
          type: object
        dynamicsLeadConfiguration:
          type: object
        emailLeadConfiguration:
          type: object
        httpsEndpointLeadConfiguration:
          type: object
        id:
          type: string
        leadDestination:
          enum:
          - none
          - blob
          - dynamics
          - email
          - httpsEndpoint
          - marketo
          - salesforce
          - table
          type: string
        marketoLeadConfiguration:
          type: object
        product:
          type: string
        resourceName:
          type: string
        salesforceLeadConfiguration:
          type: object
        tableLeadConfiguration:
          type: object
        validations:
          items:
            $ref: '#/components/schemas/AzureMarketplaceValidation'
          type: array
      type: object
    AzureMarketplaceCustomAmendment:
      example:
        tenants:
          manualEntries:
          - description: description
            id: id
          - description: description
            id: id
        terms: terms
      properties:
        tenants:
          $ref: '#/components/schemas/AzureMarketplaceCustomAmendmentTenant'
        terms:
          type: string
      type: object
    AzureAudience:
      example:
        description: description
        id: id
      properties:
        description:
          type: string
        id:
          type: string
      type: object
    WorkloadMetaInfo:
      example:
        cppoOfferId: cppoOfferId
        enableTestUsageMetering: true
        replacedOfferResourceName: replacedOfferResourceName
        renewalOfferType: '{}'
        isAgreementBasedOffer: true
        isRenewalOffer: true
        cppoInOfferId: cppoInOfferId
        aceApnCrmUniqueIdentifier: aceApnCrmUniqueIdentifier
        testUsageMeteringEndTime: 2000-01-23 04:56:07+00:00
        entitlementCancellationSchedule: '{}'
        isGrossRevenueFullSync: true
        offerAcceptDate: 2000-01-23 04:56:07+00:00
        salesforceOpportunityId: salesforceOpportunityId
        hubspotDealId: hubspotDealId
        prettifiedErrorMessages:
        - prettifiedErrorMessages
        - prettifiedErrorMessages
        replacedOfferEndTime: 2000-01-23 04:56:07+00:00
        lastModifiedBy: '{}'
        customMetaInfo:
          key: customMetaInfo
        isReplacementOffer: true
        buyerIds:
        - buyerIds
        - buyerIds
        cppoOutOfferId: cppoOutOfferId
        errorMessages:
        - errorMessages
        - errorMessages
        baseAgreementId: baseAgreementId
        internalNote: internalNote
        salesforceEntitlementURL: salesforceEntitlementURL
        awsSaasProductDimensions:
        - Types:
          - Types
          - Types
          Description: Description
          Length: 2
          Rate: 6.778324963048013
          TimeUnit: DAY
          Unit: Unit
          Key: Key
          Name: Name
        - Types:
          - Types
          - Types
          Description: Description
          Length: 2
          Rate: 6.778324963048013
          TimeUnit: DAY
          Unit: Unit
          Key: Key
          Name: Name
        contacts:
        - name: name
          company: company
          email: email
        - name: name
          company: company
          email: email
        notifications:
        - eventID: eventID
          customFields:
            key: ''
          entityType: ''
          contactEmails:
          - contactEmails
          - contactEmails
          entityID: entityID
          message: message
          priority: '{}'
          title: title
          contactIds:
          - contactIds
          - contactIds
          organizationID: organizationID
          ccContactIds:
          - ccContactIds
          - ccContactIds
          channels:
          - EMAIL
          - EMAIL
          isActionItem: true
          partner: '{}'
          createdBy: '{}'
          entityStatus: entityStatus
          entityName: entityName
          eventStatus: '{}'
          action: ''
          requireAudit: true
          trackEvents:
          - contactId: contactId
            action: OPEN_EMAIL
            timestamp: 2000-01-23 04:56:07+00:00
          - contactId: contactId
            action: OPEN_EMAIL
            timestamp: 2000-01-23 04:56:07+00:00
          info: '{}'
          lastUpdateTime: 2000-01-23 04:56:07+00:00
          timestamp: 2000-01-23 04:56:07+00:00
        - eventID: eventID
          customFields:
            key: ''
          entityType: ''
          contactEmails:
          - contactEmails
          - contactEmails
          entityID: entityID
          message: message
          priority: '{}'
          title: title
          contactIds:
          - contactIds
          - contactIds
          organizationID: organizationID
          ccContactIds:
          - ccContactIds
          - ccContactIds
          channels:
          - EMAIL
          - EMAIL
          isActionItem: true
          partner: '{}'
          createdBy: '{}'
          entityStatus: entityStatus
          entityName: entityName
          eventStatus: '{}'
          action: ''
          requireAudit: true
          trackEvents:
          - contactId: contactId
            action: OPEN_EMAIL
            timestamp: 2000-01-23 04:56:07+00:00
          - contactId: contactId
            action: OPEN_EMAIL
            timestamp: 2000-01-23 04:56:07+00:00
          info: '{}'
          lastUpdateTime: 2000-01-23 04:56:07+00:00
          timestamp: 2000-01-23 04:56:07+00:00
        updateMessage: updateMessage
      properties:
        aceApnCrmUniqueIdentifier:
          description: The linked ACE ApnCrmUniqueIdentifier of the private offer if available.
          type: string
        awsSaasProductDimensions:
          description: 'The AWS SaaS product dimensions. Applicable for AWS SaaS products only.

            This is used to save price info when creating AWS SaaS product.'
          items:
            $ref: '#/components/schemas/AwsProductDimension'
          type: array
        baseAgreementId:
          description: Applicable for AWS Marketplace only, when the IsAgreementBasedOffer is true.
          type: string
        buyerIds:
          description: The Suger buyer IDs of the private offer if available.
          items:
            type: string
          type: array
        contacts:
          description: The contacts of the offer to notify if any updates.
          items:
            $ref: '#/components/schemas/Contact'
          type: array
        cppoInOfferId:
          description: The Suger CPPO_IN offer ID.
          type: string
        cppoOfferId:
          description: The Suger CPPO offer ID. Reseller to end buyer
          type: string
        cppoOutOfferId:
          description: The Suger CPPO_OUT offer ID. ISV to reseller
          type: string
        customMetaInfo:
          additionalProperties:
            type: string
          description: The custom meta info of the offer can be updated by seller via API or console.
          type: object
        enableTestUsageMetering:
          description: If enabled, Suger will test metering the usage for this entitlement hourly.
          type: boolean
        entitlementCancellationSchedule:
          allOf:
          - $ref: '#/components/schemas/CancellationSchedule'
          description: The cancellation schedule for the entitlement. It is nill if no cancellation schedule.
          type: object
        errorMessages:
          description: 'The error messages when the offer is invalid or offer related tasks failed.

            This is the raw error messages from the offer related tasks.'
          items:
            type: string
          type: array
        hubspotDealId:
          description: Hubsport deal ID of the private offer if available.
          type: string
        internalNote:
          description: 'The Internal note of the private offer.

            It is only visible to the seller/ISV, not visible to the buyer.

            Up to 1000 characters.'
          type: string
        isAgreementBasedOffer:
          description: Applicable for AWS Marketplace only, If this offer is agreement based offer.
          type: boolean
        isGrossRevenueFullSync:
          description: Whether the gross revenue is fully synced for the entitlement.
          type: boolean
        isRenewalOffer:
          description: 'Applicable for AWS Marketplace only. If this offer is renewal offer of existing agreement.

            The existing agreement can be within or outside AWS Marketplace. AWS may audit and verify your offer is a renewal.

            If AWS is unable to verify your offer, then AWS may revoke the offer and entitlements from your customer.'
          type: boolean
        isReplacementOffer:
          description: If this offer is a GCP replacement offer. Applicable for GCP Marketplace replacement offer only.
          type: boolean
        lastModifiedBy:
          allOf:
          - $ref: '#/components/schemas/LastModifiedBy'
          description: The user who last modified the product/offer/buyer/contact.
          type: object
        notifications:
          description: 'The notifications of the offer if any updates.

            In most cases, it is to notify contacts/buyers when the offer is pending acceptance.'
          items:
            $ref: '#/components/schemas/NotificationEvent'
          type: array
        offerAcceptDate:
          description: The date when the offer is accepted by the buyer. Only available when the private offer has been accepted.
          format: date-time
          type: string
        prettifiedErrorMessages:
          description: 'The prettified ErrorMessages. Using AI to make it more readable and understandable.

            The prettified error messages will be used for the offer related UI display.'
          items:
            type: string
          type: array
        renewalOfferType:
          allOf:
          - $ref: '#/components/schemas/AwsRenewalOfferType'
          description: Applicable for AWS Marketplace only, required when the IsRenewalOffer is true.
          type: object
        replacedOfferEndTime:
          description: The end time of the replaced offer. Applicable for GCP Marketplace replacement offer only.
          format: date-time
          type: string
        replacedOfferResourceName:
          description: 'The resource name of the GCP Marketplace offer that this offer is replacing.

            In format of "projects/{gcpProjectNumber}/services/{productServiceName}/privateOffers/{privateOfferId}"

            Applicable for GCP Marketplace replacement offer only.'
          type: string
        salesforceEntitlementURL:
          description: The Salesforce entitlement URL
          type: string
        salesforceOpportunityId:
          description: The Salesforce opportunity ID of the private offer if available.
          type: string
        testUsageMeteringEndTime:
          description: 'The test usage metering end time. It is used for test usage metering only.

            Required if EnableTestUsageMetering is true.'
          format: date-time
          type: string
        updateMessage:
          description: The message to notify when the offer is updated.
          type: string
      type: object
    GcpMarketplaceProductServiceConfigBilling:
      example:
        metrics:
        - metrics
        - metrics
      properties:
        metrics:
          description: 'The list of metrics that are available for billing for the product.

            In format of "product-name.endpoints.gcp-project-id.cloud.goog/plan_name_metric_name"'
          items:
            type: string
          type: array
      type: object
    AzureValidationResult:
      example:
        errorMessage: errorMessage
        memberNames:
        - memberNames
        - memberNames
      properties:
        errorMessage:
          type: string
        memberNames:
          items:
            type: string
          type: array
      type: object
    AzurePendingUpdateInfo:
      example:
        status: status
        updateType: updateType
      properties:
        status:
          type: string
        updateType:
          type: string
      type: object
    AwsProductVersion:
      example:
        CreationDate: 2000-01-23 04:56:07+00:00
        Id: Id
        DeliveryOptions:
        - Recommendations: '{}'
          Type: Type
          AmiAlias: AmiAlias
          SourceId: SourceId
          Title: Title
          Visibility: Visibility
          FulfillmentUrl: FulfillmentUrl
          Id: Id
          ShortDescription: ShortDescription
        - Recommendations: '{}'
          Type: Type
          AmiAlias: AmiAlias
          SourceId: SourceId
          Title: Title
          Visibility: Visibility
          FulfillmentUrl: FulfillmentUrl
          Id: Id
          ShortDescription: ShortDescription
        ReleaseNotes: ReleaseNotes
        VersionTitle: VersionTitle
      properties:
        CreationDate:
          format: date-time
          type: string
        DeliveryOptions:
          items:
            $ref: '#/components/schemas/AwsProductDeliveryOption'
          type: array
        Id:
          type: string
        ReleaseNotes:
          type: string
        VersionTitle:
          type: string
      type: object
    AzureMarketplaceGovernmentCertification:
      example:
        link: link
        name: name
      properties:
        link:
          description: in patern of "^(http|https)://"
          type: string
        name:
          type: string
      type: object
    AzureProduct:
      example:
        availabilities:
        - visibility: visibility
          enterpriseLicensing: enterpriseLicensing
          emailAudiences:
          - description: description
            id: id
          - description: description
            id: id
          subscriptionAudiences:
          - description: description
            id: id
          - description: description
            id: id
          id: id
          resourceType: resourceType
        - visibility: visibility
          enterpriseLicensing: enterpriseLicensing
          emailAudiences:
          - description: description
            id: id
          - description: description
            id: id
          subscriptionAudiences:
          - description: description
            id: id
          - description: description
            id: id
          id: id
          resourceType: resourceType
        externalIDs:
        - type: type
          value: value
        - type: type
          value: value
        variants:
        - conversionPaths: conversionPaths
          leadGenID: leadGenID
          extendedProperties:
          - type: type
            value: value
          - type: type
            value: value
          cloudAvailabilities:
          - cloudAvailabilities
          - cloudAvailabilities
          azureGovernmentCertifications:
          - validationResults:
            - errorMessage: errorMessage
              memberNames:
              - memberNames
              - memberNames
            - errorMessage: errorMessage
              memberNames:
              - memberNames
              - memberNames
            title: title
            uri: uri
          - validationResults:
            - errorMessage: errorMessage
              memberNames:
              - memberNames
              - memberNames
            - errorMessage: errorMessage
              memberNames:
              - memberNames
              - memberNames
            title: title
            uri: uri
          externalID: externalID
          referenceVariantID: referenceVariantID
          id: id
          state: InActive
          featureAvailabilities:
          - markets:
            - marketCode: marketCode
              friendlyName: friendlyName
            - marketCode: marketCode
              friendlyName: friendlyName
            visibility: Public
            priceSchedules:
            - isBaseSchedule: true
              schedules:
              - pricingModel: Flat
                pricingUnits:
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                priceCadence:
                  type: Month
                  value: 9
                retailPrice:
                  openPrice: 8.762042012749001
                  priceTierID: priceTierID
                  currencyCode: currencyCode
              - pricingModel: Flat
                pricingUnits:
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                priceCadence:
                  type: Month
                  value: 9
                retailPrice:
                  openPrice: 8.762042012749001
                  priceTierID: priceTierID
                  currencyCode: currencyCode
              dateTimeRange:
                endAt:
                  dateTimeInUtc: dateTimeInUtc
                  localizePerMarket: true
                startAt:
                  dateTimeInUtc: dateTimeInUtc
                  localizePerMarket: true
              marketCodes:
              - marketCodes
              - marketCodes
              friendlyName: friendlyName
            - isBaseSchedule: true
              schedules:
              - pricingModel: Flat
                pricingUnits:
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                priceCadence:
                  type: Month
                  value: 9
                retailPrice:
                  openPrice: 8.762042012749001
                  priceTierID: priceTierID
                  currencyCode: currencyCode
              - pricingModel: Flat
                pricingUnits:
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                priceCadence:
                  type: Month
                  value: 9
                retailPrice:
                  openPrice: 8.762042012749001
                  priceTierID: priceTierID
                  currencyCode: currencyCode
              dateTimeRange:
                endAt:
                  dateTimeInUtc: dateTimeInUtc
                  localizePerMarket: true
                startAt:
                  dateTimeInUtc: dateTimeInUtc
                  localizePerMarket: true
              marketCodes:
              - marketCodes
              - marketCodes
              friendlyName: friendlyName
            customMeters:
            - unitOfMeasure: unitOfMeasure
              displayName: displayName
              includedBaseQuantities:
              - quantity: 1.2315135367772556
                isInfinite: true
                recurringUnit: Monthly
              - quantity: 1.2315135367772556
                isInfinite: true
                recurringUnit: Monthly
              isEnabled: true
              priceInUsd: 5.025004791520295
              id: id
              uniqueID: uniqueID
            - unitOfMeasure: unitOfMeasure
              displayName: displayName
              includedBaseQuantities:
              - quantity: 1.2315135367772556
                isInfinite: true
                recurringUnit: Monthly
              - quantity: 1.2315135367772556
                isInfinite: true
                recurringUnit: Monthly
              isEnabled: true
              priceInUsd: 5.025004791520295
              id: id
              uniqueID: uniqueID
            marketStates:
            - marketCode: marketCode
              state: Disabled
            - marketCode: marketCode
              state: Disabled
            tenantAudiences:
            - description: description
              id: id
            - description: description
              id: id
            subscriptionAudiences:
            - description: description
              id: id
            - description: description
              id: id
            id: id
            properties:
            - type: type
              value: value
            - type: type
              value: value
            trial:
              duration: 9
              dateTimeRange:
                endAt:
                  dateTimeInUtc: dateTimeInUtc
                  localizePerMarket: true
                startAt:
                  dateTimeInUtc: dateTimeInUtc
                  localizePerMarket: true
              type: NoTrial
              durationType: Minute
            isHidden: true
            resourceType: resourceType
          - markets:
            - marketCode: marketCode
              friendlyName: friendlyName
            - marketCode: marketCode
              friendlyName: friendlyName
            visibility: Public
            priceSchedules:
            - isBaseSchedule: true
              schedules:
              - pricingModel: Flat
                pricingUnits:
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                priceCadence:
                  type: Month
                  value: 9
                retailPrice:
                  openPrice: 8.762042012749001
                  priceTierID: priceTierID
                  currencyCode: currencyCode
              - pricingModel: Flat
                pricingUnits:
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                priceCadence:
                  type: Month
                  value: 9
                retailPrice:
                  openPrice: 8.762042012749001
                  priceTierID: priceTierID
                  currencyCode: currencyCode
              dateTimeRange:
                endAt:
                  dateTimeInUtc: dateTimeInUtc
                  localizePerMarket: true
                startAt:
                  dateTimeInUtc: dateTimeInUtc
                  localizePerMarket: true
              marketCodes:
              - marketCodes
              - marketCodes
              friendlyName: friendlyName
            - isBaseSchedule: true
              schedules:
              - pricingModel: Flat
                pricingUnits:
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                priceCadence:
                  type: Month
                  value: 9
                retailPrice:
                  openPrice: 8.762042012749001
                  priceTierID: priceTierID
                  currencyCode: currencyCode
              - pricingModel: Flat
                pricingUnits:
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                priceCadence:
                  type: Month
                  value: 9
                retailPrice:
                  openPrice: 8.762042012749001
                  priceTierID: priceTierID
                  currencyCode: currencyCode
              dateTimeRange:
                endAt:
                  dateTimeInUtc: dateTimeInUtc
                  localizePerMarket: true
                startAt:
                  dateTimeInUtc: dateTimeInUtc
                  localizePerMarket: true
              marketCodes:
              - marketCodes
              - marketCodes
              friendlyName: friendlyName
            customMeters:
            - unitOfMeasure: unitOfMeasure
              displayName: displayName
              includedBaseQuantities:
              - quantity: 1.2315135367772556
                isInfinite: true
                recurringUnit: Monthly
              - quantity: 1.2315135367772556
                isInfinite: true
                recurringUnit: Monthly
              isEnabled: true
              priceInUsd: 5.025004791520295
              id: id
              uniqueID: uniqueID
            - unitOfMeasure: unitOfMeasure
              displayName: displayName
              includedBaseQuantities:
              - quantity: 1.2315135367772556
                isInfinite: true
                recurringUnit: Monthly
              - quantity: 1.2315135367772556
                isInfinite: true
                recurringUnit: Monthly
              isEnabled: true
              priceInUsd: 5.025004791520295
              id: id
              uniqueID: uniqueID
            marketStates:
            - marketCode: marketCode
              state: Disabled
            - marketCode: marketCode
              state: Disabled
            tenantAudiences:
            - description: description
              id: id
            - description: description
              id: id
            subscriptionAudiences:
            - description: description
              id: id
            - description: description
              id: id
            id: id
            properties:
            - type: type
              value: value
            - type: type
              value: value
            trial:
              duration: 9
              dateTimeRange:
                endAt:
                  dateTimeInUtc: dateTimeInUtc
                  localizePerMarket: true
                startAt:
                  dateTimeInUtc: dateTimeInUtc
                  localizePerMarket: true
              type: NoTrial
              durationType: Minute
            isHidden: true
            resourceType: resourceType
          friendlyName: friendlyName
          resourceType: AzureSkuVariant
        - conversionPaths: conversionPaths
          leadGenID: leadGenID
          extendedProperties:
          - type: type
            value: value
          - type: type
            value: value
          cloudAvailabilities:
          - cloudAvailabilities
          - cloudAvailabilities
          azureGovernmentCertifications:
          - validationResults:
            - errorMessage: errorMessage
              memberNames:
              - memberNames
              - memberNames
            - errorMessage: errorMessage
              memberNames:
              - memberNames
              - memberNames
            title: title
            uri: uri
          - validationResults:
            - errorMessage: errorMessage
              memberNames:
              - memberNames
              - memberNames
            - errorMessage: errorMessage
              memberNames:
              - memberNames
              - memberNames
            title: title
            uri: uri
          externalID: externalID
          referenceVariantID: referenceVariantID
          id: id
          state: InActive
          featureAvailabilities:
          - markets:
            - marketCode: marketCode
              friendlyName: friendlyName
            - marketCode: marketCode
              friendlyName: friendlyName
            visibility: Public
            priceSchedules:
            - isBaseSchedule: true
              schedules:
              - pricingModel: Flat
                pricingUnits:
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                priceCadence:
                  type: Month
                  value: 9
                retailPrice:
                  openPrice: 8.762042012749001
                  priceTierID: priceTierID
                  currencyCode: currencyCode
              - pricingModel: Flat
                pricingUnits:
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                priceCadence:
                  type: Month
                  value: 9
                retailPrice:
                  openPrice: 8.762042012749001
                  priceTierID: priceTierID
                  currencyCode: currencyCode
              dateTimeRange:
                endAt:
                  dateTimeInUtc: dateTimeInUtc
                  localizePerMarket: true
                startAt:
                  dateTimeInUtc: dateTimeInUtc
                  localizePerMarket: true
              marketCodes:
              - marketCodes
              - marketCodes
              friendlyName: friendlyName
            - isBaseSchedule: true
              schedules:
              - pricingModel: Flat
                pricingUnits:
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                priceCadence:
                  type: Month
                  value: 9
                retailPrice:
                  openPrice: 8.762042012749001
                  priceTierID: priceTierID
                  currencyCode: currencyCode
              - pricingModel: Flat
                pricingUnits:
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                priceCadence:
                  type: Month
                  value: 9
                retailPrice:
                  openPrice: 8.762042012749001
                  priceTierID: priceTierID
                  currencyCode: currencyCode
              dateTimeRange:
                endAt:
                  dateTimeInUtc: dateTimeInUtc
                  localizePerMarket: true
                startAt:
                  dateTimeInUtc: dateTimeInUtc
                  localizePerMarket: true
              marketCodes:
              - marketCodes
              - marketCodes
              friendlyName: friendlyName
            customMeters:
            - unitOfMeasure: unitOfMeasure
              displayName: displayName
              includedBaseQuantities:
              - quantity: 1.2315135367772556
                isInfinite: true
                recurringUnit: Monthly
              - quantity: 1.2315135367772556
                isInfinite: true
                recurringUnit: Monthly
              isEnabled: true
              priceInUsd: 5.025004791520295
              id: id
              uniqueID: uniqueID
            - unitOfMeasure: unitOfMeasure
              displayName: displayName
              includedBaseQuantities:
              - quantity: 1.2315135367772556
                isInfinite: true
                recurringUnit: Monthly
              - quantity: 1.2315135367772556
                isInfinite: true
                recurringUnit: Monthly
              isEnabled: true
              priceInUsd: 5.025004791520295
              id: id
              uniqueID: uniqueID
            marketStates:
            - marketCode: marketCode
              state: Disabled
            - marketCode: marketCode
              state: Disabled
            tenantAudiences:
            - description: description
              id: id
            - description: description
              id: id
            subscriptionAudiences:
            - description: description
              id: id
            - description: description
              id: id
            id: id
            properties:
            - type: type
              value: value
            - type: type
              value: value
            trial:
              duration: 9
              dateTimeRange:
                endAt:
                  dateTimeInUtc: dateTimeInUtc
                  localizePerMarket: true
                startAt:
                  dateTimeInUtc: dateTimeInUtc
                  localizePerMarket: true
              type: NoTrial
              durationType: Minute
            isHidden: true
            resourceType: resourceType
          - markets:
            - marketCode: marketCode
              friendlyName: friendlyName
            - marketCode: marketCode
              friendlyName: friendlyName
            visibility: Public
            priceSchedules:
            - isBaseSchedule: true
              schedules:
              - pricingModel: Flat
                pricingUnits:
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                priceCadence:
                  type: Month
                  value: 9
                retailPrice:
                  openPrice: 8.762042012749001
                  priceTierID: priceTierID
                  currencyCode: currencyCode
              - pricingModel: Flat
                pricingUnits:
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                priceCadence:
                  type: Month
                  value: 9
                retailPrice:
                  openPrice: 8.762042012749001
                  priceTierID: priceTierID
                  currencyCode: currencyCode
              dateTimeRange:
                endAt:
                  dateTimeInUtc: dateTimeInUtc
                  localizePerMarket: true
                startAt:
                  dateTimeInUtc: dateTimeInUtc
                  localizePerMarket: true
              marketCodes:
              - marketCodes
              - marketCodes
              friendlyName: friendlyName
            - isBaseSchedule: true
              schedules:
              - pricingModel: Flat
                pricingUnits:
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                priceCadence:
                  type: Month
                  value: 9
                retailPrice:
                  openPrice: 8.762042012749001
                  priceTierID: priceTierID
                  currencyCode: currencyCode
              - pricingModel: Flat
                pricingUnits:
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                - unitType: unitType
                  name: sharedcore
                  lowerUnit: 9
                  upperUnit: 6
                  isUnlimitedUnit: true
                priceCadence:
                  type: Month
                  value: 9
                retailPrice:
                  openPrice: 8.762042012749001
                  priceTierID: priceTierID
                  currencyCode: currencyCode
              dateTimeRange:
                endAt:
                  dateTimeInUtc: dateTimeInUtc
                  localizePerMarket: true
                startAt:
                  dateTimeInUtc: dateTimeInUtc
                  localizePerMarket: true
              marketCodes:
              - marketCodes
              - marketCodes
              friendlyName: friendlyName
            customMeters:
            - unitOfMeasure: unitOfMeasure
              displayName: displayName
              includedBaseQuantities:
              - quantity: 1.2315135367772556
                isInfinite: true
                recurringUnit: Monthly
              - quantity: 1.2315135367772556
                isInfinite: true
                recurringUnit: Monthly
              isEnabled: true
              priceInUsd: 5.025004791520295
              id: id
              uniqueID: uniqueID
            - unitOfMeasure: unitOfMeasure
              displayName: displayName
              includedBaseQuantities:
              - quantity: 1.2315135367772556
                isInfinite: true
                recurringUnit: Monthly
              - quantity: 1.2315135367772556
                isInfinite: true
                recurringUnit: Monthly
              isEnabled: true
              priceInUsd: 5.025004791520295
              id: id
              uniqueID: uniqueID
            marketStates:
            - marketCode: marketCode
              state: Disabled
            - marketCode: marketCode
              state: Disabled
            tenantAudiences:
            - description: description
              id: id
            - description: description
              id: id
            subscriptionAudiences:
            - description: description
              id: id
            - description: description
              id: id
            id: id
            properties:
            - type: type
              value: value
            - type: type
              value: value
            trial:
              duration: 9
              dateTimeRange:
                endAt:
                  dateTimeInUtc: dateTimeInUtc
                  localizePerMarket: true
                startAt:
                  dateTimeInUtc: dateTimeInUtc
                  localizePerMarket: true
              type: NoTrial
              durationType: Minute
            isHidden: true
            resourceType: resourceType
          friendlyName: friendlyName
          resourceType: AzureSkuVariant
        branches:
        - module: module
          id: id
          variantID: variantID
          currentDraftInstanceID: currentDraftInstanceID
          type: type
          friendlyName: friendlyName
          resourceType: resourceType
        - module: module
          id: id
          variantID: variantID
          currentDraftInstanceID: currentDraftInstanceID
          type: type
          friendlyName: friendlyName
          resourceType: resourceType
        isModularPublishing: true
        listings:
        - summary: summary
          accessInformation: accessInformation
          keywords:
          - keywords
          - keywords
          compatibleProducts:
          - compatibleProducts
          - compatibleProducts
          description: description
          shortDescription: shortDescription
          languageCode: languageCode
          title: title
          gettingStartedInstructions: gettingStartedInstructions
          assets:
          - fileName: fileName
            fileSasUri: fileSasUri
            description: description
            id: id
            state: PendingUpload
            type: type
            publisherDefinedSasUri: publisherDefinedSasUri
            friendlyName: friendlyName
            order: 4
            resourceType: ListingAsset
          - fileName: fileName
            fileSasUri: fileSasUri
            description: description
            id: id
            state: PendingUpload
            type: type
            publisherDefinedSasUri: publisherDefinedSasUri
            friendlyName: friendlyName
            order: 4
            resourceType: ListingAsset
          listingUris:
          - displayText: displayText
            subtype: subtype
            type: type
            uri: uri
          - displayText: displayText
            subtype: subtype
            type: type
            uri: uri
          publisherName: publisherName
          productDisplayName: productDisplayName
          listingContacts:
          - phone: phone
            name: name
            type: CustomerSupport
            uri: uri
            email: email
          - phone: phone
            name: name
            type: CustomerSupport
            uri: uri
            email: email
          id: id
          resourceType: AzureListing
        - summary: summary
          accessInformation: accessInformation
          keywords:
          - keywords
          - keywords
          compatibleProducts:
          - compatibleProducts
          - compatibleProducts
          description: description
          shortDescription: shortDescription
          languageCode: languageCode
          title: title
          gettingStartedInstructions: gettingStartedInstructions
          assets:
          - fileName: fileName
            fileSasUri: fileSasUri
            description: description
            id: id
            state: PendingUpload
            type: type
            publisherDefinedSasUri: publisherDefinedSasUri
            friendlyName: friendlyName
            order: 4
            resourceType: ListingAsset
          - fileName: fileName
            fileSasUri: fileSasUri
            description: description
            id: id
            state: PendingUpload
            type: type
            publisherDefinedSasUri: publisherDefinedSasUri
            friendlyName: friendlyName
            order: 4
            resourceType: ListingAsset
          listingUris:
          - displayText: displayText
            subtype: subtype
            type: type
            uri: uri
          - displayText: displayText
            subtype: subtype
            type: type
            uri: uri
          publisherName: publisherName
          productDisplayName: productDisplayName
          listingContacts:
          - phone: phone
            name: name
            type: CustomerSupport
            uri: uri
            email: email
          - phone: phone
            name: name
            type: CustomerSupport
            uri: uri
            email: email
          id: id
          resourceType: AzureListing
        plans:
        - lifecycleState: notAvailable
          product: product
          softwareReservation:
            paymentSchedule:
              type: day
              value: 7.386281948385884
            reservationDuration:
              type: day
              value: 7.386281948385884
            vmPrices:
              patternProperties:
                key:
                  quantity: 7.457744773683766
                  unitPricePerPaymentPeriodInUsd: 1.1730742509559433
          $schema: $schema
          offerPricingType: '{}'
          visibility: visible
          planName: planName
          resourceName: resourceName
          id: id
          validations:
          - resourceId: resourceId
            code: businessValidationError
            $schema: $schema
            level: informational
            message: message
          - resourceId: resourceId
            code: businessValidationError
            $schema: $schema
            level: informational
            message: message
          plan: plan
          pricing:
            customMeters:
              priceInputOption: perMarket
              meters: '{}'
            recurrentPrice:
              recurrentPriceMode: flatRate
              userLimits:
                min: 6.84685269835264
                max: 1.4894159098541704
              priceInputOption: perMarket
              prices:
              - billingFrequency: '{}'
                pricePerPaymentInUsd: 1.2315135367772556
                flexibleSchedule: '{}'
                contractDuration: '{}'
                billingTerm:
                  type: day
                  value: 7.386281948385884
                paymentOption:
                  type: day
                  value: 7.386281948385884
                prices:
                - markets:
                  - markets
                  - markets
                  price: 1.0246457001441578
                  currency: currency
                - markets:
                  - markets
                  - markets
                  price: 1.0246457001441578
                  currency: currency
              - billingFrequency: '{}'
                pricePerPaymentInUsd: 1.2315135367772556
                flexibleSchedule: '{}'
                contractDuration: '{}'
                billingTerm:
                  type: day
                  value: 7.386281948385884
                paymentOption:
                  type: day
                  value: 7.386281948385884
                prices:
                - markets:
                  - markets
                  - markets
                  price: 1.0246457001441578
                  currency: currency
                - markets:
                  - markets
                  - markets
                  price: 1.0246457001441578
                  currency: currency
        - lifecycleState: notAvailable
          product: product
          softwareReservation:
            paymentSchedule:
              type: day
              value: 7.386281948385884
            reservationDuration:
              type: day
              value: 7.386281948385884
            vmPrices:
              patternProperties:
                key:
                  quantity: 7.457744773683766
                  unitPricePerPaymentPeriodInUsd: 1.1730742509559433
          $schema: $schema
          offerPricingType: '{}'
          visibility: visible
          planName: planName
          resourceName: resourceName
          id: id
          validations:
          - resourceId: resourceId
            code: businessValidationError
            $schema: $schema
            level: informational
            message: message
          - resourceId: resourceId
            code: businessValidationError
            $schema: $schema
            level: informational
            message: message
          plan: plan
          pricing:
            customMeters:
              priceInputOption: perMarket
              meters: '{}'
            recurrentPrice:
              recurrentPriceMode: flatRate
              userLimits:
                min: 6.84685269835264
                max: 1.4894159098541704
              priceInputOption: perMarket
              prices:
              - billingFrequency: '{}'
                pricePerPaymentInUsd: 1.2315135367772556
                flexibleSchedule: '{}'
                contractDuration: '{}'
                billingTerm:
                  type: day
                  value: 7.386281948385884
                paymentOption:
                  type: day
                  value: 7.386281948385884
                prices:
                - markets:
                  - markets
                  - markets
                  price: 1.0246457001441578
                  currency: currency
                - markets:
                  - markets
                  - markets
                  price: 1.0246457001441578
                  currency: currency
              - billingFrequency: '{}'
                pricePerPaymentInUsd: 1.2315135367772556
                flexibleSchedule: '{}'
                contractDuration: '{}'
                billingTerm:
                  type: day
                  value: 7.386281948385884
                paymentOption:
                  type: day
                  value: 7.386281948385884
                prices:
                - markets:
                  - markets
                  - markets
                  price: 1.0246457001441578
                  currency: currency
                - markets:
                  - markets
                  - markets
                  price: 1.0246457001441578
                  currency: currency
        submissions:
        - subState: InDraft
          pendingUpdateInfo:
            status: status
            updateType: updateType
          resources:
          - type: type
            value: value
          - type: type
            value: value
          areResourcesReady: true
          id: id
          publishedTimeInUtc: 2000-01-23 04:56:07+00:00
          state: Inprogress
          variantResources:
          - resources:
            - type: type
              value: value
            - type: type
              value: value
            variantID: variantID
          - resources:
            - type: type
              value: value
            - type: type
              value: value
            variantID: variantID
          releaseNumber: 4
          targets:
          - type: type
            value: value
          - type: type
            value: value
          friendlyName: friendlyName
          resourceType: Submission
        - subState: InDraft
          pendingUpdateInfo:
            status: status
            updateType: updateType
          resources:
          - type: type
            value: value
          - type: type
            value: value
          areResourcesReady: true
          id: id
          publishedTimeInUtc: 2000-01-23 04:56:07+00:00
          state: Inprogress
          variantResources:
          - resources:
            - type: type
              value: value
            - type: type
              value: value
            variantID: variantID
          - resources:
            - type: type
              value: value
            - type: type
              value: value
            variantID: variantID
          releaseNumber: 4
          targets:
          - type: type
            value: value
          - type: type
            value: value
          friendlyName: friendlyName
          resourceType: Submission
        name: name
        packageConfigurations:
        - landingPageUri: landingPageUri
          azureActiveDirectoryApplicationID: azureActiveDirectoryApplicationID
          id: id
          azureActiveDirectoryTenantID: azureActiveDirectoryTenantID
          connectionWebhook: connectionWebhook
          resourceType: AzureSoftwareAsAServicePackageConfiguration
        - landingPageUri: landingPageUri
          azureActiveDirectoryApplicationID: azureActiveDirectoryApplicationID
          id: id
          azureActiveDirectoryTenantID: azureActiveDirectoryTenantID
          connectionWebhook: connectionWebhook
          resourceType: AzureSoftwareAsAServicePackageConfiguration
        setup: '{}'
        id: id
        properties:
        - appVersion: appVersion
          useEnterpriseContract: true
          submissionVersion: submissionVersion
          customAmendments:
          - customAmendments
          - customAmendments
          extendedProperties:
          - extendedProperties
          - extendedProperties
          termsOfUse: termsOfUse
          hideKeys:
          - hideKeys
          - hideKeys
          leveledIndustries:
            key: ''
          marketingOnlyChange: true
          globalAmendmentTerms: globalAmendmentTerms
          industries:
          - industries
          - industries
          additionalCategories:
          - additionalCategories
          - additionalCategories
          applicableProducts:
          - applicableProducts
          - applicableProducts
          leveledCategories:
            key: ''
          categories:
          - categories
          - categories
          id: id
          productTags:
          - productTags
          - productTags
          resourceType: resourceType
        - appVersion: appVersion
          useEnterpriseContract: true
          submissionVersion: submissionVersion
          customAmendments:
          - customAmendments
          - customAmendments
          extendedProperties:
          - extendedProperties
          - extendedProperties
          termsOfUse: termsOfUse
          hideKeys:
          - hideKeys
          - hideKeys
          leveledIndustries:
            key: ''
          marketingOnlyChange: true
          globalAmendmentTerms: globalAmendmentTerms
          industries:
          - industries
          - industries
          additionalCategories:
          - additionalCategories
          - additionalCategories
          applicableProducts:
          - applicableProducts
          - applicableProducts
          leveledCategories:
            key: ''
          categories:
          - categories
          - categories
          id: id
          productTags:
          - productTags
          - productTags
          resourceType: resourceType
        resourceType: resourceType
      properties:
        availabilities:
          items:
            $ref: '#/components/schemas/AzureProductAvailability'
          type: array
        branches:
          items:
            $ref: '#/components/schemas/AzureProductBranch'
          type: array
        externalIDs:
          items:
            $ref: '#/components/schemas/AzureTypeValue'
          type: array
        id:
          type: string
        isModularPublishing:
          type: boolean
        listings:
          items:
            $ref: '#/components/schemas/AzureProductListing'
          type: array
        name:
          type: string
        packageConfigurations:
          items:
            $ref: '#/components/schemas/AzureProductPackageConfiguration'
          type: array
        plans:
          description: All plans under this product
          items:
            $ref: '#/components/schemas/AzureMarketplacePriceAndAvailabilityPrivateOfferPlan'
          type: array
        properties:
          items:
            $ref: '#/components/schemas/AzureProductProperty'
          type: array
        resourceType:
          type: string
        setup:
          allOf:
          - $ref: '#/components/schemas/AzureProductSetup'
          description: Not original fields. They are populated by other API calls
          type: object
        submissions:
          items:
            $ref: '#/components/schemas/AzureProductSubmission'
          type: array
        variants:
          items:
            $ref: '#/components/schemas/AzureProductVariant'
          type: array
      type: object
    AwsProductDimension:
      example:
        Types:
        - Types
        - Types
        Description: Description
        Length: 2
        Rate: 6.778324963048013
        TimeUnit: DAY
        Unit: Unit
        Key: Key
        Name: Name
      properties:
        Description:
          type: string
        Key:
          type: string
        Length:
          description: 'The term length for the commit amount, such as 6 months, or 1 year.

            The length is used together with timeUnit.

            Length and TimeUnit are only used for commit dimension.'
          type: integer
        Name:
          type: string
        Rate:
          description: 'Below three fields are only used for pass data when create or update product''s public offer pricing.

            Rate is only used for update public offer, becasue rate will be set as 0.01 when create new product.'
          type: number
        TimeUnit:
          $ref: '#/components/schemas/TimeUnit'
        Types:
          items:
            type: string
          type: array
        Unit:
          type: string
      type: object
    GcpMarketplaceProductSubscriptionPlan:
      example:
        period: period
        price:
          nanos: 1
          units: units
          currencyCode: currencyCode
      properties:
        period:
          description: such as "ONE_YEAR", "TWO_YEAR", "THREE_YEAR"
          type: string
        price:
          $ref: '#/components/schemas/GcpPriceValue'
      type: object
    AzureMarketplaceVmPrice:
      example:
        patternProperties:
          key:
            quantity: 7.457744773683766
            unitPricePerPaymentPeriodInUsd: 1.1730742509559433
      properties:
        patternProperties:
          additionalProperties:
            $ref: '#/components/schemas/AzureMarketplaceVmPricePropertyItem'
          type: object
      type: object
    AzureMarketplacePriceAndAvailabilityRecurrentPriceItem:
      example:
        billingFrequency: '{}'
        pricePerPaymentInUsd: 1.2315135367772556
        flexibleSchedule: '{}'
        contractDuration: '{}'
        billingTerm:
          type: day
          value: 7.386281948385884
        paymentOption:
          type: day
          value: 7.386281948385884
        prices:
        - markets:
          - markets
          - markets
          price: 1.0246457001441578
          currency: currency
        - markets:
          - markets
          - markets
          price: 1.0246457001441578
          currency: currency
      properties:
        billingFrequency:
          allOf:
          - $ref: '#/components/schemas/AzureMarketplaceTerm'
          description: billingFrequency defines the frequency of the billing for recurring price.
          type: object
        billingTerm:
          $ref: '#/components/schemas/AzureMarketplaceTerm'
        contractDuration:
          allOf:
          - $ref: '#/components/schemas/AzureMarketplaceTerm'
          description: contractDuration defines the duration of the contract, should always be “year” with value 1 or 2 or 3
          type: object
        flexibleSchedule:
          allOf:
          - $ref: '#/components/schemas/AzureMarketplacePriceFlexibleSchedule'
          description: flexibleSchedule defines the payment installments for flexible billing.
          type: object
        paymentOption:
          $ref: '#/components/schemas/AzureMarketplaceTerm'
        pricePerPaymentInUsd:
          type: number
        prices:
          items:
            $ref: '#/components/schemas/AzureMarketplacePrice'
          type: array
      type: object
    AzureMarketplacePriceAndAvailabilityCustomMeterPriceIncludedQuantityItem:
      example:
        quantity: 2.8841621266687802
        isInfinite: true
        billingTerm:
          type: day
          value: 7.386281948385884
      properties:
        billingTerm:
          $ref: '#/components/schemas/AzureMarketplaceTerm'
        isInfinite:
          type: boolean
        quantity:
          type: number
      type: object
    AwsProductAdditionalResource:
      example:
        Type: Type
        Text: Text
        Url: Url
      properties:
        Text:
          type: string
        Type:
          type: string
        Url:
          type: string
      type: object
    AzureProductBranch:
      example:
        module: module
        id: id
        variantID: variantID
        currentDraftInstanceID: currentDraftInstanceID
        type: type
        friendlyName: friendlyName
        resourceType: resourceType
      properties:
        currentDraftInstanceID:
          type: string
        friendlyName:
          type: string
        id:
          type: string
        module:
          type: string
        resourceType:
          type: string
        type:
          type: string
        variantID:
          type: string
      type: object
    AzureMarketplacePriceAndAvailabilityPrivateOfferPlanSoftwareReservation:
      example:
        paymentSchedule:
          type: day
          value: 7.386281948385884
        reservationDuration:
          type: day
          value: 7.386281948385884
        vmPrices:
          patternProperties:
            key:
              quantity: 7.457744773683766
              unitPricePerPaymentPeriodInUsd: 1.1730742509559433
      properties:
        paymentSchedule:
          $ref: '#/components/schemas/AzureMarketplaceTerm'
        reservationDuration:
          $ref: '#/components/schemas/AzureMarketplaceTerm'
        vmPrices:
          $ref: '#/components/schemas/AzureMarketplaceVmPrice'
      type: object
    EntityType:
      enum:
      - ''
      - API_CLIENT
      - AUDITING_EVENT
      - AUTO_SHARE_TASK
      - BUYER
      - CONTACT
      - ENTITLEMENT
      - ENTITLEMENT_TERM
      - HEADLESS_ENTITLEMENTS
      - HUBSPOT_USER
      - INTEGRATION
      - INVOICE
      - NEW_CLIENT
      - NOTIFICATION_MESSAGE
      - OFFER
      - ORGANIZATION
      - PAYMENT_TRANSACTION
      - PRODUCT
      - REFERRAL
      - REVENUE_RECORD
      - SUPPORT_TICKET
      - UNPURCHASED_OFFERS
      - USAGE_RECORD_GROUP
      - USAGE_RECORD_REPORT
      - USER
      - WORKFLOW
      - WORKFLOW_EXECUTION
      - WORKFLOW_WEBHOOK
      type: string
      x-enum-varnames:
      - EntityType_UNKNOWN
      - EntityType_API_CLIENT
      - EntityType_AUDITING_EVENT
      - EntityType_AUTO_SHARE_TASK
      - EntityType_BUYER
      - EntityType_CONTACT
      - EntityType_ENTITLEMENT
      - EntityType_ENTITLEMENT_TERM
      - EntityType_HEADLESS_ENTITLEMENTS
      - EntityType_HUBSPOT_USER
      - EntityType_INTEGRATION
      - EntityType_INVOICE
      - EntityType_NEW_CLIENT
      - EntityType_NOTIFICATION_MESSAGE
      - EntityType_OFFER
      - EntityType_ORGANIZATION
      - EntityType_PAYMENT_TRANSACTION
      - EntityType_PRODUCT
      - EntityType_REFERRAL
      - EntityType_REVENUE_RECORD
      - EntityType_SUPPORT_TICKET
      - EntityType_UNPURCHASED_OFFERS
      - EntityType_USAGE_RECORD_GROUP
      - EntityType_USAGE_RECORD_REPORT
      - EntityType_USER
      - EntityType_WORKFLOW
      - EntityType_WORKFLOW_EXECUTION
      - EntityType_WORKFLOW_WEBHOOK
    AzureMarketplaceGeneralLink:
      example:
        displayText: displayText
        link: link
      properties:
        displayText:
          type: string
        link:
          description: in patern of "^(http|https)://"
          type: string
      type: object
    UsageCount:
      properties:
        creditCount:
          description: The count of this dimension usage records that are handled as credit.
          type: number
        includedCount:
          description: The count of this dimension usage records that are handled as included in IncludedBaseQuantity
          type: number
        reportedCount:
          description: The count of this dimension usage records that are reported to cloud vendors.
          type: number
      type: object
    Contact:
      example:
        name: name
        company: company
        email: email
      properties:
        company:
          type: string
        email:
          type: string
        name:
          type: string
      type: object
    GcpMarketplaceProductPriceInfo:
      example:
        usageFees:
        - priceTiers:
          - startingUsageAmount: startingUsageAmount
            price:
              nanos: 1
              units: units
              currencyCode: currencyCode
            fromAmount: 1.0246457001441578
          - startingUsageAmount: startingUsageAmount
            price:
              nanos: 1
              units: units
              currencyCode: currencyCode
            fromAmount: 1.0246457001441578
          metricId: metricId
          displayQuantity: 5
        - priceTiers:
          - startingUsageAmount: startingUsageAmount
            price:
              nanos: 1
              units: units
              currencyCode: currencyCode
            fromAmount: 1.0246457001441578
          - startingUsageAmount: startingUsageAmount
            price:
              nanos: 1
              units: units
              currencyCode: currencyCode
            fromAmount: 1.0246457001441578
          metricId: metricId
          displayQuantity: 5
        subscriptionPlans:
        - period: period
          price:
            nanos: 1
            units: units
            currencyCode: currencyCode
        - period: period
          price:
            nanos: 1
            units: units
            currencyCode: currencyCode
        description: description
        priceModel: FREE
      properties:
        description:
          type: string
        priceModel:
          $ref: '#/components/schemas/GcpMarketplacePriceModel'
        subscriptionPlans:
          description: Subscription Plan (Flat Commitment)
          items:
            $ref: '#/components/schemas/GcpMarketplaceProductSubscriptionPlan'
          type: array
        usageFees:
          description: Usage Metering Dimension/Metric if available
          items:
            $ref: '#/components/schemas/GcpMarketplaceProductUsageFee'
          type: array
      type: object
    AzureMarketplacePlanResource:
      example:
        planListing:
          summary: summary
          lifecycleState: null
          product: product
          $schema: $schema
          kind: azureVM-plan
          languageId: languageId
          name: name
          description: description
          resourceName: resourceName
          id: id
          validations:
          - resourceId: resourceId
            code: businessValidationError
            $schema: $schema
            level: informational
            message: message
          - resourceId: resourceId
            code: businessValidationError
            $schema: $schema
            level: informational
            message: message
          plan: plan
        priceAndAvailabilityPlan:
          audience: public
          product: product
          softwareReservation:
          - percentageSave: 6.704019297950036
            term: 3.353193347011243
            type: month
          - percentageSave: 6.704019297950036
            term: 3.353193347011243
            type: month
          $schema: $schema
          visibility: visible
          meterDefine: meterDefine
          billingTag: billingTag
          resourceName: resourceName
          trial:
            type: day
            value: 7.386281948385884
          markets:
[...]
