openapi: 3.0.1
info:
  contact:
    email: support@suger.io
    name: Suger Support
    url: https://www.suger.io/support
  description: CRUD operations on a set of resources, including organizations, products, offers, entitlements, usage record groups for meterting, etc.
  title: Suger API Entitlement API
  version: '1.0'
servers:
- url: https://api.suger.cloud
tags:
- description: Access to Entitlement resources
  name: Entitlement
paths:
  /org/{orgId}/entitlement:
    get:
      description: List entitlements under the given organization with pagination and optional filters.
      operationId: ListEntitlements
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: filter by partner
        explode: true
        in: query
        name: partner
        required: false
        schema:
          type: string
        style: form
      - description: filter by productId
        explode: true
        in: query
        name: productId
        required: false
        schema:
          type: string
        style: form
      - description: filter by offerId
        explode: true
        in: query
        name: offerId
        required: false
        schema:
          type: string
        style: form
      - description: filter by buyerId
        explode: true
        in: query
        name: buyerId
        required: false
        schema:
          type: string
        style: form
      - description: filter by externalId
        explode: true
        in: query
        name: externalId
        required: false
        schema:
          type: string
        style: form
      - description: filter by buyerAccountId is currently supported only for AWS
        explode: true
        in: query
        name: buyerAccountId
        required: false
        schema:
          type: string
        style: form
      - description: List pagination size, default 1000, max value is 1000
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: List pagination offset, default 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/WorkloadEntitlement'
                type: array
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal server error
      security:
      - APIKeyAuth: []
      summary: List Entitlements
      tags:
      - Entitlement
    post:
      description: Create an new entitlement for the given buyer & offer. Only applicable to non cloud billing partners.
      operationId: CreateEntitlement
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEntitlementParams'
        description: RequestBody
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadEntitlement'
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal server error
      security:
      - APIKeyAuth: []
      summary: Create Entitlement
      tags:
      - Entitlement
      x-codegen-request-body-name: data
  /org/{orgId}/entitlement/{entitlementId}:
    get:
      description: Get the entitlement by ID.
      operationId: GetEntitlement
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Entitlement ID
        explode: false
        in: path
        name: entitlementId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadEntitlement'
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '404':
          content:
            application/json:
              schema:
                type: string
          description: Not found
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal server error
      security:
      - APIKeyAuth: []
      summary: Get Entitlement
      tags:
      - Entitlement
  /org/{orgId}/entitlement/{entitlementId}/addCredit:
    post:
      description: Add the credit amount to the given Entitlement. The credit amount is accumulated & saved in the current Entitlement Term of the gvien Entitlement.
      operationId: AddEntitlementCredit
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Entitlement ID
        explode: false
        in: path
        name: entitlementId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddEntitlementCreditParams'
        description: RequestBody
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddEntitlementCreditResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad Request Error
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - APIKeyAuth: []
      summary: Add Entitlement Credit
      tags:
      - Entitlement
      x-codegen-request-body-name: data
  /org/{orgId}/entitlement/{entitlementId}/addon:
    post:
      description: Apply one billing addon to the given Entitlement. The entitlement status must be ACTIVE.
      operationId: ApplyAddonToEntitlement
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Entitlement ID
        explode: false
        in: path
        name: entitlementId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingAddonRecord'
        description: RequestBody
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadEntitlement'
          description: Entitlement
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal server error
      security:
      - APIKeyAuth: []
      summary: Apply Addon To Entitlement
      tags:
      - Entitlement
      x-codegen-request-body-name: data
  /org/{orgId}/entitlement/{entitlementId}/approve:
    post:
      description: Approve the given Entitlement. Only applicable to the Azure or GCP Entitlements with the status of "PENDING_START". Return 200 if the entitlement is already active.
      operationId: ApproveEntitlement
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Entitlement ID
        explode: false
        in: path
        name: entitlementId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadEntitlement'
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '404':
          content:
            application/json:
              schema:
                type: string
          description: Not found
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal server error
      security:
      - APIKeyAuth: []
      summary: Approve Entitlement
      tags:
      - Entitlement
  /org/{orgId}/entitlement/{entitlementId}/cancel:
    post:
      description: Cancel the active subscription in Azure Marketplace.
      operationId: CancelEntitlement
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Entitlement ID
        explode: false
        in: path
        name: entitlementId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadEntitlement'
          description: the canceled Entitlement
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '404':
          content:
            application/json:
              schema:
                type: string
          description: Not found
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal server error
      security:
      - APIKeyAuth: []
      summary: Cancel Entitlement
      tags:
      - Entitlement
  /org/{orgId}/entitlement/{entitlementId}/divideCommit:
    post:
      description: Divide the commit equally from the given entitlement into sub entitlement terms based on the given time periods.
      operationId: DivideEntitlementCommit
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Entitlement ID
        explode: false
        in: path
        name: entitlementId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DivideEntitlementCommitParams'
        description: RequestBody
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal server error
      security:
      - APIKeyAuth: []
      summary: Divide Entitlement Commit
      tags:
      - Entitlement
      x-codegen-request-body-name: data
  /org/{orgId}/entitlement/{entitlementId}/entitlementName:
    patch:
      description: Update the name of the given Entitlement.
      operationId: UpdateEntitlementName
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Entitlement ID
        explode: false
        in: path
        name: entitlementId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_sugerio_marketplace-service_pkg_legacy_rds-db_lib.UpdateEntitlementNameParams'
        description: UpdateEntitlementNameParams
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadEntitlement'
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal server error
      security:
      - APIKeyAuth: []
      summary: Update Entitlement Name
      tags:
      - Entitlement
      x-codegen-request-body-name: data
  /org/{orgId}/entitlement/{entitlementId}/entitlementTerm:
    get:
      description: List all Entitlement Terms of the given Entitlement.
      operationId: ListEntitlementTerms
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Entitlement ID
        explode: false
        in: path
        name: entitlementId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/WorkloadEntitlementTerm'
                type: array
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal server error
      security:
      - APIKeyAuth: []
      summary: List Entitlement Terms
      tags:
      - Entitlement
  /org/{orgId}/entitlement/{entitlementId}/entitlementTerm/{entitlementTermId}:
    delete:
      description: Delete the entitlement term by the given entitlement ID and entitlement term ID. Only allow to delete the divided entitlement term.
      operationId: DeleteEntitlementTerm
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Entitlement ID
        explode: false
        in: path
        name: entitlementId
        required: true
        schema:
          type: string
        style: simple
      - description: Entitlement Term ID
        explode: false
        in: path
        name: entitlementTermId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal server error
      security:
      - APIKeyAuth: []
      summary: Delete Entitlement Term
      tags:
      - Entitlement
    get:
      description: Get the entitlement term by ID.
      operationId: GetEntitlementTerm
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Entitlement ID
        explode: false
        in: path
        name: entitlementId
        required: true
        schema:
          type: string
        style: simple
      - description: Entitlement Term ID
        explode: false
        in: path
        name: entitlementTermId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadEntitlementTerm'
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal server error
      security:
      - APIKeyAuth: []
      summary: Get Entitlement Term
      tags:
      - Entitlement
  /org/{orgId}/entitlement/{entitlementId}/metaInfo:
    patch:
      description: Update the meta info of the given entitlement.
      operationId: UpdateEntitlementMetaInfo
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Entitlement ID
        explode: false
        in: path
        name: entitlementId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkloadMetaInfo'
        description: Entitlement meta info to update
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadMetaInfo'
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '500':
          content:
            application/json:
              schema:
                type: string
          description: internal server error
      security:
      - APIKeyAuth: []
      summary: Update Entitlement Meta Info
      tags:
      - Entitlement
      x-codegen-request-body-name: data
  /org/{orgId}/entitlement/{entitlementId}/priceModel:
    patch:
      description: Update the price model of the given entitlement, such as recurring commits, billable dimensions. Only applicable to non cloud billing partners.
      operationId: UpdateEntitlementPriceModel
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Entitlement ID
        explode: false
        in: path
        name: entitlementId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEntitlementPriceModelParams'
        description: Entitlement price model update params
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadEntitlement'
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '500':
          content:
            application/json:
              schema:
                type: string
          description: internal server error
      security:
      - APIKeyAuth: []
      summary: Update Entitlement Price Model
      tags:
      - Entitlement
      x-codegen-request-body-name: data
  /org/{orgId}/entitlement/{entitlementId}/scheduleCancellation:
    post:
      description: Schedule the cancellation of the given Entitlement.
      operationId: ScheduleEntitlementCancellation
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Entitlement ID
        explode: false
        in: path
        name: entitlementId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancellationSchedule'
        description: RequestBody
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadEntitlement'
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal server error
      security:
      - APIKeyAuth: []
      summary: Schedule Entitlement Cancellation
      tags:
      - Entitlement
      x-codegen-request-body-name: data
  /org/{orgId}/entitlement/{entitlementId}/seat:
    patch:
      description: Update the seat number for the active AZURE subscription.
      operationId: UpdateEntitlementSeat
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Entitlement ID
        explode: false
        in: path
        name: entitlementId
        required: true
        schema:
          type: string
        style: simple
      - description: New seat number
        explode: true
        in: query
        name: newSeat
        required: true
        schema:
          type: integer
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadEntitlement'
          description: the original entitlement before the seat update
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal server error
      security:
      - APIKeyAuth: []
      summary: Update Seat For The Active AZURE Subscription
      tags:
      - Entitlement
  /org/{orgId}/entitlement/{entitlementId}/unscheduleCancellation:
    post:
      description: Unschedule the cancellation of the given Entitlement.
      operationId: UnscheduleEntitlementCancellation
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Entitlement ID
        explode: false
        in: path
        name: entitlementId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadEntitlement'
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal server error
      security:
      - APIKeyAuth: []
      summary: Unschedule Entitlement Cancellation
      tags:
      - Entitlement
components:
  schemas:
    AzureADIdentifier:
      example:
        firstName: firstName
        lastName: lastName
        licenseType: licenseType
        puid: puid
        customerId: customerId
        tenantId: tenantId
        billingAccountId: billingAccountId
        emailId: emailId
        objectId: objectId
      properties:
        billingAccountId:
          description: Azure Billing Account ID
          type: string
        customerId:
          type: string
        emailId:
          description: Email address
          type: string
        firstName:
          type: string
        lastName:
          type: string
        licenseType:
          description: Azure License Type
          type: string
        objectId:
          type: string
        puid:
          description: ID of the user, used as External ID of suger IdentityBuyer.
          type: string
        tenantId:
          type: string
      type: object
    SnowflakeMarketplaceOffer:
      properties:
        access_end_time:
          type: string
        access_start_date_preference:
          type: string
        access_start_time:
          type: string
        additional_information:
          type: string
        comment:
          type: string
        contract_duration_months:
          type: integer
        contract_type:
          type: string
        contract_value:
          type: string
        discount:
          type: number
        display_name:
          type: string
        expiration_time:
          type: string
        invoice_start_date_preference:
          description: 'invoice start date preference: FIRST_DAY_NEXT_MONTH, OFFER_ACCEPTED_DATE'
          type: string
        invoice_start_time:
          type: string
        is_default:
          type: boolean
        name:
          type: string
        payment_terms:
          $ref: '#/components/schemas/SnowflakeMarketplaceOfferPaymentTerms'
        pricing_plan_name:
          type: string
        state:
          type: string
        state_updated_on:
          type: string
        target_consumer:
          type: string
        terms_of_service:
          allOf:
          - $ref: '#/components/schemas/SnowflakeMarketplaceOfferTermsOfService'
          description: 'terms of service: {"type":"DEFAULT"}'
          type: object
        updated_on:
          type: string
      type: object
    AzureIncludedBaseQuantity:
      example:
        quantity: 1.2315135367772556
        isInfinite: true
        recurringUnit: Monthly
      properties:
        isInfinite:
          type: boolean
        quantity:
          type: number
        recurringUnit:
          enum:
          - Monthly
          - Annual
          type: string
      type: object
    SnowflakeMarketplacePlanInstallment:
      example:
        installment_amount: 4.652396432933246
        installment_number: 8.969578798196912
      properties:
        installment_amount:
          type: number
        installment_number:
          type: number
      type: object
    AzureMarketplaceSubscriptionStatus:
      enum:
      - NotStarted
      - PendingFulfillmentStart
      - Subscribed
      - Suspended
      - Unsubscribed
      type: string
      x-enum-varnames:
      - AzureMarketplaceSubscriptionStatus_NotStarted
      - AzureMarketplaceSubscriptionStatus_PendingFulfillmentStart
      - AzureMarketplaceSubscriptionStatus_Subscribed
      - AzureMarketplaceSubscriptionStatus_Suspended
      - AzureMarketplaceSubscriptionStatus_Unsubscribed
    PriceModelBulk:
      properties:
        bulkAmount:
          description: A currency amount to rate usage by
          type: number
        bulkSize:
          description: 'An integer amount to represent package size. For example, 1000 here would divide

            usage by 1000 before multiplying by package_amount in rating'
          type: integer
      type: object
    TrialConfig:
      properties:
        trialPeriod:
          type: integer
        trialPeriodUnit:
          $ref: '#/components/schemas/TimeUnit'
      type: object
    NotificationEventAction:
      enum:
      - ''
      - ABNORMAL_ALERT
      - ACCEPT
      - ADD
      - APPROVE
      - CANCEL
      - CLOSE
      - CREATE
      - DELETE
      - ARCHIVE
      - DISBURSE
      - END_SOON
      - EXPIRE
      - EXPIRE_SOON
      - MERGE
      - METER
      - NEW_CLIENT_SIGNUP
      - NOTIFY
      - NOTIFY_CONTACTS
      - OPEN_EMAIL
      - PENDING_CANCEL
      - PENDING_ACCEPTANCE
      - REINSTATE
      - REJECT
      - REOPEN
      - CHARGE
      - REFUND
      - ISSUE
      - SIGN
      - ROTATE_SECRET
      - SUSPEND
      - TEST
      - UPDATE
      - ACE_ENGAGEMENT_SCORE_UPDATE
      - ACE_SALES_REP_UPDATE
      - ACE_CUSTOMER_EMAIL_UPDATE
      - AZURE_STATUS_UPDATE
      - SUBMIT_APPROVAL_REQUEST
      - REVIEW_APPROVAL_REQUEST
      - COMPLETE
      - FAIL
      - WEBHOOK
      - MARKETPLACE_CONTACT_EMAIL_UPDATE
      type: string
      x-enum-comments:
        NotificationEventAction_ADD: Add user to organization
      x-enum-varnames:
      - NotificationEventAction_UNKNOWN
      - NotificationEventAction_ABNORMAL_ALERT
      - NotificationEventAction_ACCEPT
      - NotificationEventAction_ADD
      - NotificationEventAction_APPROVE
      - NotificationEventAction_CANCEL
      - NotificationEventAction_CLOSE
      - NotificationEventAction_CREATE
      - NotificationEventAction_DELETE
      - NotificationEventAction_ARCHIVE
      - NotificationEventAction_DISBURSE
      - NotificationEventAction_END_SOON
      - NotificationEventAction_EXPIRE
      - NotificationEventAction_EXPIRE_SOON
      - NotificationEventAction_MERGE
      - NotificationEventAction_METER
      - NotificationEventAction_NEW_CLIENT_SIGNUP
      - NotificationEventAction_NOTIFY
      - NotificationEventAction_NOTIFY_CONTACTS
      - NotificationEventAction_OPEN_EMAIL
      - NotificationEventAction_PENDING_CANCEL
      - NotificationEventAction_PENDING_ACCEPTANCE
      - NotificationEventAction_REINSTATE
      - NotificationEventAction_REJECT
      - NotificationEventAction_REOPEN
      - NotificationEventAction_CHARGE
      - NotificationEventAction_REFUND
      - NotificationEventAction_ISSUE
      - NotificationEventAction_SIGN
      - NotificationEventAction_ROTATE_SECRET
      - NotificationEventAction_SUSPEND
      - NotificationEventAction_TEST
      - NotificationEventAction_UPDATE
      - NotificationEventAction_ACE_ENGAGEMENT_SCORE_UPDATE
      - NotificationEventAction_ACE_SALES_REP_UPDATE
      - NotificationEventAction_ACE_CUSTOMER_EMAIL_UPDATE
      - NotificationEventAction_AZURE_STATUS_UPDATE
      - NotificationEventAction_SUBMIT_APPROVAL_REQUEST
      - NotificationEventAction_REVIEW_APPROVAL_REQUEST
      - NotificationEventAction_COMPLETE
      - NotificationEventAction_FAIL
      - NotificationEventAction_WEBHOOK
      - NotificationEventAction_MARKETPLACE_CONTACT_EMAIL_UPDATE
    BillingDiscount:
      example:
        discountType: PERCENTAGE
        value: 1.4658129805029452
      properties:
        discountType:
          $ref: '#/components/schemas/BillingDiscountType'
        value:
          type: number
      type: object
    GcpMarketplacePriceModel:
      enum:
      - FREE
      - SUBSCRIPTION
      - USAGE
      - SUBSCRIPTION_PLUS_USAGE
      type: string
      x-enum-varnames:
      - GcpMarketplacePriceModel_FREE
      - GcpMarketplacePriceModel_SUBSCRIPTION
      - GcpMarketplacePriceModel_USAGE
      - GcpMarketplacePriceModel_SUBSCRIPTION_PLUS_USAGE
    WorkloadMetaInfo:
      example:
        cppoOfferId: cppoOfferId
        enableTestUsageMetering: true
        replacedOfferResourceName: replacedOfferResourceName
        renewalOfferType: '{}'
        isAgreementBasedOffer: true
        isRenewalOffer: true
        cppoInOfferId: cppoInOfferId
        aceApnCrmUniqueIdentifier: aceApnCrmUniqueIdentifier
        testUsageMeteringEndTime: 2000-01-23 04:56:07+00:00
        entitlementCancellationSchedule: '{}'
        isGrossRevenueFullSync: true
        offerAcceptDate: 2000-01-23 04:56:07+00:00
        salesforceOpportunityId: salesforceOpportunityId
        hubspotDealId: hubspotDealId
        prettifiedErrorMessages:
        - prettifiedErrorMessages
        - prettifiedErrorMessages
        replacedOfferEndTime: 2000-01-23 04:56:07+00:00
        lastModifiedBy: '{}'
        customMetaInfo:
          key: customMetaInfo
        isReplacementOffer: true
        buyerIds:
        - buyerIds
        - buyerIds
        cppoOutOfferId: cppoOutOfferId
        errorMessages:
        - errorMessages
        - errorMessages
        baseAgreementId: baseAgreementId
        internalNote: internalNote
        salesforceEntitlementURL: salesforceEntitlementURL
        awsSaasProductDimensions:
        - Types:
          - Types
          - Types
          Description: Description
          Length: 2
          Rate: 6.778324963048013
          TimeUnit: DAY
          Unit: Unit
          Key: Key
          Name: Name
        - Types:
          - Types
          - Types
          Description: Description
          Length: 2
          Rate: 6.778324963048013
          TimeUnit: DAY
          Unit: Unit
          Key: Key
          Name: Name
        contacts:
        - name: name
          company: company
          email: email
        - name: name
          company: company
          email: email
        notifications:
        - eventID: eventID
          customFields:
            key: ''
          entityType: ''
          contactEmails:
          - contactEmails
          - contactEmails
          entityID: entityID
          message: message
          priority: '{}'
          title: title
          contactIds:
          - contactIds
          - contactIds
          organizationID: organizationID
          ccContactIds:
          - ccContactIds
          - ccContactIds
          channels:
          - EMAIL
          - EMAIL
          isActionItem: true
          partner: '{}'
          createdBy: '{}'
          entityStatus: entityStatus
          entityName: entityName
          eventStatus: '{}'
          action: ''
          requireAudit: true
          trackEvents:
          - contactId: contactId
            action: OPEN_EMAIL
            timestamp: 2000-01-23 04:56:07+00:00
          - contactId: contactId
            action: OPEN_EMAIL
            timestamp: 2000-01-23 04:56:07+00:00
          info: '{}'
          lastUpdateTime: 2000-01-23 04:56:07+00:00
          timestamp: 2000-01-23 04:56:07+00:00
        - eventID: eventID
          customFields:
            key: ''
          entityType: ''
          contactEmails:
          - contactEmails
          - contactEmails
          entityID: entityID
          message: message
          priority: '{}'
          title: title
          contactIds:
          - contactIds
          - contactIds
          organizationID: organizationID
          ccContactIds:
          - ccContactIds
          - ccContactIds
          channels:
          - EMAIL
          - EMAIL
          isActionItem: true
          partner: '{}'
          createdBy: '{}'
          entityStatus: entityStatus
          entityName: entityName
          eventStatus: '{}'
          action: ''
          requireAudit: true
          trackEvents:
          - contactId: contactId
            action: OPEN_EMAIL
            timestamp: 2000-01-23 04:56:07+00:00
          - contactId: contactId
            action: OPEN_EMAIL
            timestamp: 2000-01-23 04:56:07+00:00
          info: '{}'
          lastUpdateTime: 2000-01-23 04:56:07+00:00
          timestamp: 2000-01-23 04:56:07+00:00
        updateMessage: updateMessage
      properties:
        aceApnCrmUniqueIdentifier:
          description: The linked ACE ApnCrmUniqueIdentifier of the private offer if available.
          type: string
        awsSaasProductDimensions:
          description: 'The AWS SaaS product dimensions. Applicable for AWS SaaS products only.

            This is used to save price info when creating AWS SaaS product.'
          items:
            $ref: '#/components/schemas/AwsProductDimension'
          type: array
        baseAgreementId:
          description: Applicable for AWS Marketplace only, when the IsAgreementBasedOffer is true.
          type: string
        buyerIds:
          description: The Suger buyer IDs of the private offer if available.
          items:
            type: string
          type: array
        contacts:
          description: The contacts of the offer to notify if any updates.
          items:
            $ref: '#/components/schemas/Contact'
          type: array
        cppoInOfferId:
          description: The Suger CPPO_IN offer ID.
          type: string
        cppoOfferId:
          description: The Suger CPPO offer ID. Reseller to end buyer
          type: string
        cppoOutOfferId:
          description: The Suger CPPO_OUT offer ID. ISV to reseller
          type: string
        customMetaInfo:
          additionalProperties:
            type: string
          description: The custom meta info of the offer can be updated by seller via API or console.
          type: object
        enableTestUsageMetering:
          description: If enabled, Suger will test metering the usage for this entitlement hourly.
          type: boolean
        entitlementCancellationSchedule:
          allOf:
          - $ref: '#/components/schemas/CancellationSchedule'
          description: The cancellation schedule for the entitlement. It is nill if no cancellation schedule.
          type: object
        errorMessages:
          description: 'The error messages when the offer is invalid or offer related tasks failed.

            This is the raw error messages from the offer related tasks.'
          items:
            type: string
          type: array
        hubspotDealId:
          description: Hubsport deal ID of the private offer if available.
          type: string
        internalNote:
          description: 'The Internal note of the private offer.

            It is only visible to the seller/ISV, not visible to the buyer.

            Up to 1000 characters.'
          type: string
        isAgreementBasedOffer:
          description: Applicable for AWS Marketplace only, If this offer is agreement based offer.
          type: boolean
        isGrossRevenueFullSync:
          description: Whether the gross revenue is fully synced for the entitlement.
          type: boolean
        isRenewalOffer:
          description: 'Applicable for AWS Marketplace only. If this offer is renewal offer of existing agreement.

            The existing agreement can be within or outside AWS Marketplace. AWS may audit and verify your offer is a renewal.

            If AWS is unable to verify your offer, then AWS may revoke the offer and entitlements from your customer.'
          type: boolean
        isReplacementOffer:
          description: If this offer is a GCP replacement offer. Applicable for GCP Marketplace replacement offer only.
          type: boolean
        lastModifiedBy:
          allOf:
          - $ref: '#/components/schemas/LastModifiedBy'
          description: The user who last modified the product/offer/buyer/contact.
          type: object
        notifications:
          description: 'The notifications of the offer if any updates.

            In most cases, it is to notify contacts/buyers when the offer is pending acceptance.'
          items:
            $ref: '#/components/schemas/NotificationEvent'
          type: array
        offerAcceptDate:
          description: The date when the offer is accepted by the buyer. Only available when the private offer has been accepted.
          format: date-time
          type: string
        prettifiedErrorMessages:
          description: 'The prettified ErrorMessages. Using AI to make it more readable and understandable.

            The prettified error messages will be used for the offer related UI display.'
          items:
            type: string
          type: array
        renewalOfferType:
          allOf:
          - $ref: '#/components/schemas/AwsRenewalOfferType'
          description: Applicable for AWS Marketplace only, required when the IsRenewalOffer is true.
          type: object
        replacedOfferEndTime:
          description: The end time of the replaced offer. Applicable for GCP Marketplace replacement offer only.
          format: date-time
          type: string
        replacedOfferResourceName:
          description: 'The resource name of the GCP Marketplace offer that this offer is replacing.

            In format of "projects/{gcpProjectNumber}/services/{productServiceName}/privateOffers/{privateOfferId}"

            Applicable for GCP Marketplace replacement offer only.'
          type: string
        salesforceEntitlementURL:
          description: The Salesforce entitlement URL
          type: string
        salesforceOpportunityId:
          description: The Salesforce opportunity ID of the private offer if available.
          type: string
        testUsageMeteringEndTime:
          description: 'The test usage metering end time. It is used for test usage metering only.

            Required if EnableTestUsageMetering is true.'
          format: date-time
          type: string
        updateMessage:
          description: The message to notify when the offer is updated.
          type: string
      type: object
    PriceModelTieredPercentageConfig:
      properties:
        firstUnit:
          description: Inclusive tier starting value
          type: number
        flatFee:
          type: number
        lastUnit:
          description: Exclusive tier ending value. If null, this is treated as the last tier
          type: number
        percentageRate:
          type: number
      type: object
    PriceModelTiered:
      properties:
        tiers:
          items:
            $ref: '#/components/schemas/PriceModelTieredConfig'
          type: array
      type: object
    AwsProductDimension:
      example:
        Types:
        - Types
        - Types
        Description: Description
        Length: 2
        Rate: 6.778324963048013
        TimeUnit: DAY
        Unit: Unit
        Key: Key
        Name: Name
      properties:
        Description:
          type: string
        Key:
          type: string
        Length:
          description: 'The term length for the commit amount, such as 6 months, or 1 year.

            The length is used together with timeUnit.

            Length and TimeUnit are only used for commit dimension.'
          type: integer
        Name:
          type: string
        Rate:
          description: 'Below three fields are only used for pass data when create or update product''s public offer pricing.

            Rate is only used for update public offer, becasue rate will be set as 0.01 when create new product.'
          type: number
        TimeUnit:
          $ref: '#/components/schemas/TimeUnit'
        Types:
          items:
            type: string
          type: array
        Unit:
          type: string
      type: object
    GcpMarketplaceProductSubscriptionPlan:
      example:
        period: period
        price:
          nanos: 1
          units: units
          currencyCode: currencyCode
      properties:
        period:
          description: such as "ONE_YEAR", "TWO_YEAR", "THREE_YEAR"
          type: string
        price:
          $ref: '#/components/schemas/GcpPriceValue'
      type: object
    BillableDimension:
      example:
        priceModelTiered: '{}'
        priceModelTieredPercentage: '{}'
        priceModelMatrix: '{}'
        minimumCommit: 5.962133916683182
        length: 1
        priceModelBulk: '{}'
        description: description
        discount: '{}'
        minimumCommitScope: '{}'
        minimumCommitProrata: true
        billableMetricId: billableMetricId
        priceModelPercentage: '{}'
        name: name
        priceModelBasic: '{}'
        category: '{}'
        priceModelVolume: '{}'
        timeUnit: '{}'
      properties:
        billableMetricId:
          description: The ID for the billable metric.
          type: string
        category:
          allOf:
          - $ref: '#/components/schemas/PriceModelCategory'
          description: The category of the pricing model. This is used to determine which pricing model to use.
          type: object
        description:
          description: Description of the dimension. This is used in the UI to display the dimension.
          type: string
        discount:
          allOf:
          - $ref: '#/components/schemas/BillingDiscount'
          description: Discount for the dimension.
          type: object
        length:
          description: The term length for the commit amount. Applicable to Direct only.
          type: integer
        minimumCommit:
          description: The minimum commit amount. Applicable to Direct only. Ignored if the value is 0 or less.
          type: number
        minimumCommitProrata:
          description: 'If the minimum commit is appled with pro-rata. Applicable to Direct only.

            If true, the minimum commit amount will be prorated based on the usage period (starting time and ending time).'
          type: boolean
        minimumCommitScope:
          allOf:
          - $ref: '#/components/schemas/BillingMinimumCommitScope'
          description: The minimum commit scope. The default value is "DIMENSION" if not set.
          type: object
        name:
          description: Display name of the dimension. This is used in the UI to display the dimension.
          type: string
        priceModelBasic:
          allOf:
          - $ref: '#/components/schemas/PriceModelBasic'
          description: The configuration for the Basic pricing model. Applicable to Direct only.
          type: object
        priceModelBulk:
          allOf:
          - $ref: '#/components/schemas/PriceModelBulk'
          description: The configuration for the Package pricing model. Applicable to Direct only.
          type: object
        priceModelMatrix:
          allOf:
          - $ref: '#/components/schemas/PriceModelMatrix'
          description: The configuration for the Matrix pricing model. Applicable to Direct only.
          type: object
        priceModelPercentage:
          allOf:
          - $ref: '#/components/schemas/PriceModelPercentage'
          description: The configuration for the Percentage pricing model. Applicable to Direct only.
          type: object
        priceModelTiered:
          allOf:
          - $ref: '#/components/schemas/PriceModelTiered'
          description: The configuration for the Tiered pricing model. Applicable to Direct only.
          type: object
        priceModelTieredPercentage:
          allOf:
          - $ref: '#/components/schemas/PriceModelTieredPercentage'
          description: The configuration for the Tiered Percentage pricing model. Applicable to Direct only.
          type: object
        priceModelVolume:
          allOf:
          - $ref: '#/components/schemas/PriceModelVolume'
          description: The configuration for the Bulk pricing model. Applicable to Direct only.
          type: object
        timeUnit:
          allOf:
          - $ref: '#/components/schemas/TimeUnit'
          description: The term unit for the commit amount. Applicable to Direct only.
          type: object
      type: object
    EntitlementTermInfo:
      example:
        dimensionQuantityDecimalParts:
          key: 1.4658129805029452
        parentEntitlementTermId: parentEntitlementTermId
        type: ''
        subEntitlementTermIds:
        - subEntitlementTermIds
        - subEntitlementTermIds
        isCommitDivided: true
      properties:
        dimensionQuantityDecimalParts:
          additionalProperties:
            type: number
          description: 'The decimal part of the dimension quantity, in format of <dimensionKey, decimalPart>

            It is used to save the decimal part of the dimension quantity for AWS Marketplace only.

            Because AWS Marketplace only accepts integer for dimension quantity.

            If the dimension quantity is a decimal number, we need to save the decimal part for future use.'
          type: object
        isCommitDivided:
          description: 'Whether the commit is divided into multiple sub entitlement terms.

            If true, it has subEntitlementTermIds.'
          type: boolean
        parentEntitlementTermId:
          description: 'The partner''s entitlement term ID. It stands for the partner''s entitlement term.

            Applicable to the sub entitlement term only.'
          type: string
        subEntitlementTermIds:
          description: All sub entitlement terms id of this entitlement term if it is commit divided.
          items:
            type: string
          type: array
        type:
          $ref: '#/components/schemas/EntitlementTermType'
      type: object
    EntityType:
      enum:
      - ''
      - API_CLIENT
      - AUDITING_EVENT
      - AUTO_SHARE_TASK
      - BUYER
      - CONTACT
      - ENTITLEMENT
      - ENTITLEMENT_TERM
      - HEADLESS_ENTITLEMENTS
      - HUBSPOT_USER
      - INTEGRATION
      - INVOICE
      - NEW_CLIENT
      - NOTIFICATION_MESSAGE
      - OFFER
      - ORGANIZATION
      - PAYMENT_TRANSACTION
      - PRODUCT
      - REFERRAL
      - REVENUE_RECORD
      - SUPPORT_TICKET
      - UNPURCHASED_OFFERS
      - USAGE_RECORD_GROUP
      - USAGE_RECORD_REPORT
      - USER
      - WORKFLOW
      - WORKFLOW_EXECUTION
      - WORKFLOW_WEBHOOK
      type: string
      x-enum-varnames:
      - EntityType_UNKNOWN
      - EntityType_API_CLIENT
      - EntityType_AUDITING_EVENT
      - EntityType_AUTO_SHARE_TASK
      - EntityType_BUYER
      - EntityType_CONTACT
      - EntityType_ENTITLEMENT
      - EntityType_ENTITLEMENT_TERM
      - EntityType_HEADLESS_ENTITLEMENTS
      - EntityType_HUBSPOT_USER
      - EntityType_INTEGRATION
      - EntityType_INVOICE
      - EntityType_NEW_CLIENT
      - EntityType_NOTIFICATION_MESSAGE
      - EntityType_OFFER
      - EntityType_ORGANIZATION
      - EntityType_PAYMENT_TRANSACTION
      - EntityType_PRODUCT
      - EntityType_REFERRAL
      - EntityType_REVENUE_RECORD
      - EntityType_SUPPORT_TICKET
      - EntityType_UNPURCHASED_OFFERS
      - EntityType_USAGE_RECORD_GROUP
      - EntityType_USAGE_RECORD_REPORT
      - EntityType_USER
      - EntityType_WORKFLOW
      - EntityType_WORKFLOW_EXECUTION
      - EntityType_WORKFLOW_WEBHOOK
    UsageCount:
      properties:
        creditCount:
          description: The count of this dimension usage records that are handled as credit.
          type: number
        includedCount:
          description: The count of this dimension usage records that are handled as included in IncludedBaseQuantity
          type: number
        reportedCount:
          description: The count of this dimension usage records that are reported to cloud vendors.
          type: number
      type: object
    Contact:
      example:
        name: name
        company: company
        email: email
      properties:
        company:
          type: string
        email:
          type: string
        name:
          type: string
      type: object
    GcpMarketplaceProductPriceInfo:
      example:
        usageFees:
        - priceTiers:
          - startingUsageAmount: startingUsageAmount
            price:
              nanos: 1
              units: units
              currencyCode: currencyCode
            fromAmount: 1.0246457001441578
          - startingUsageAmount: startingUsageAmount
            price:
              nanos: 1
              units: units
              currencyCode: currencyCode
            fromAmount: 1.0246457001441578
          metricId: metricId
          displayQuantity: 5
        - priceTiers:
          - startingUsageAmount: startingUsageAmount
            price:
              nanos: 1
              units: units
              currencyCode: currencyCode
            fromAmount: 1.0246457001441578
          - startingUsageAmount: startingUsageAmount
            price:
              nanos: 1
              units: units
              currencyCode: currencyCode
            fromAmount: 1.0246457001441578
          metricId: metricId
          displayQuantity: 5
        subscriptionPlans:
        - period: period
          price:
            nanos: 1
            units: units
            currencyCode: currencyCode
        - period: period
          price:
            nanos: 1
            units: units
            currencyCode: currencyCode
        description: description
        priceModel: FREE
      properties:
        description:
          type: string
        priceModel:
          $ref: '#/components/schemas/GcpMarketplacePriceModel'
        subscriptionPlans:
          description: Subscription Plan (Flat Commitment)
          items:
            $ref: '#/components/schemas/GcpMarketplaceProductSubscriptionPlan'
          type: array
        usageFees:
          description: Usage Metering Dimension/Metric if available
          items:
            $ref: '#/components/schemas/GcpMarketplaceProductUsageFee'
          type: array
      type: object
    AuditingEventPriority:
      enum:
      - ''
      - LOW
      - MEDIUM
      - HIGH
      - CRITICAL
      type: string
      x-enum-varnames:
      - AuditingEventPriority_UNKNOWN
      - AuditingEventPriority_LOW
      - AuditingEventPriority_MEDIUM
      - AuditingEventPriority_HIGH
      - AuditingEventPriority_CRITICAL
    SnowflakeMarketplaceOfferPaymentTerms:
      properties:
        installment_schedule:
          allOf:
          - $ref: '#/components/schemas/SnowflakeMarketplacePlanInstallmentSchedule'
          description: The installment schedule for the offer.
          type: object
        payment_type:
          description: The pricing plan payment types. Accepted values are INVOICE, CREDIT_CARD, INSTALLMENT.
          enum:
          - INVOICE
          - CREDIT_CARD
          - INSTALLMENT
          type: string
      type: object
    client.DescribeInstanceResponseBodyModulesModulePropertiesProperty:
      example:
        PropertyValues:
          PropertyValue:
          - Type: Type
            Min: Min
            Max: Max
            DisplayName: DisplayName
            Value: Value
            Step: Step
            Remark: Remark
          - Type: Type
            Min: Min
            Max: Max
            DisplayName: DisplayName
            Value: Value
            Step: Step
            Remark: Remark
        DisplayUnit: DisplayUnit
        Key: Key
        Name: Name
        ShowType: ShowType
      properties:
        DisplayUnit:
          type: string
        Key:
          type: string
        Name:
          type: string
        PropertyValues:
          $ref: '#/components/schemas/client.DescribeInstanceResponseBodyModulesModulePropertiesPropertyPropertyValues'
        ShowType:
          type: string
      type: object
    AddEntitlementCreditParams:
      example:
        organizationID: organizationID
        entitlementTermID: entitlementTermID
        creditAmountIncrement: 0.8008281904610115
        entitlementID: entitlementID
      properties:
        creditAmountIncrement:
          description: The amount to be added to the credit amount.
          type: number
        entitlementID:
          type: string
        entitlementTermID:
          description: This is optional. If it is empty, the credit will be added to the default entitlement term of the entitlement.
          type: string
        organizationID:
          type: string
      required:
      - creditAmountIncrement
      - entitlementID
      - organizationID
      type: object
    CommitDimension:
      description: The commit dimension. There may be one or more commit dimensions defined in single product, offer or entitlement.
      example:
        types:
        - types
        - types
        quantity: 4
        length: 9
        description: description
        type: '{}'
        maximumUsers: 361608
        rate: 7.386281948385884
        isUserCreated: true
        minimumUsers: 202713
        name: name
        term: term
        category: category
        termEndTime: termEndTime
        key: key
        timeUnit: '{}'
      properties:
        category:
          type: string
        description:
          type: string
        isUserCreated:
          description: 'Whether this commit dimension is newly created by user,

            when creating AWS Marketplace Contract private offer.'
          type: boolean
        key:
          description: API name of the dimension
          type: string
        length:
          description: 'The term length for the commit amount, such as 6 months, or 1 year.

            The length is used together with timeUnit.

            If the length is zero, use the TermEndTime.'
          type: integer
        maximumUsers:
          description: The maximum number of users for PER_USER commit
          maximum: 1000000
          minimum: 1
          type: integer
        minimumUsers:
          description: The minimum number of users for PER_USER commit
          maximum: 1000000
          minimum: 1
          type: integer
        name:
          description: Display name of the dimension
          type: string
        quantity:
          description: The quantity of this commit.
          type: integer
        rate:
          description: The commit amount. For GCP, it is monthly commitment.
          type: number
        term:
          description: The term of the commit amount. It is used for front-end display only.
          type: string
        termEndTime:
          description: The end time of the commit term.
          type: string
        timeUnit:
          allOf:
          - $ref: '#/components/schemas/TimeUnit'
          description: The term unit for the commit amount.
          type: object
        type:
          allOf:
          - $ref: '#/components/schemas/CommitDimensionType'
          description: The type of the commit dimension. Applicable only to Azure Marketplace.
          type: object
        types:
          description: These indicate whether the dimension covers metering, entitlement, or support for external metering
          items:
            type: string
          type: array
      type: object
    github_com_sugerio_marketplace-service_pkg_legacy_rds-db_lib.UpdateEntitlementNameParams:
      properties:
        id:
          type: string
        name:
          type: string
        organizationID:
          type: string
      type: object
    AwsMarketplaceAgreementStatus:
      enum:
      - ACTIVE
      - ARCHIVED
      - CANCELLED
      - EXPIRED
      - RENEWED
      - REPLACED
      - ROLLED_BACK
      - SUPERSEDED
      - TERMINATED
      type: string
      x-enum-varnames:
      - AwsMarketplaceAgreementStatus_ACTIVE
      - AwsMarketplaceAgreementStatus_ARCHIVED
      - AwsMarketplaceAgreementStatus_CANCELLED
      - AwsMarketplaceAgreementStatus_EXPIRED
      - AwsMarketplaceAgreementStatus_RENEWED
      - AwsMarketplaceAgreementStatus_REPLACED
      - AwsMarketplaceAgreementStatus_ROLLED_BACK
      - AwsMarketplaceAgreementStatus_SUPERSEDED
      - AwsMarketplaceAgreementStatus_TERMINATED
    EulaType:
      enum:
      - ''
      - SCMP
      - ECMP
      - RCMP
      - CUSTOM
      - ISV
      - CURRENT
      type: string
      x-enum-comments:
        EulaType_CURRENT: Current EULA, used for existing entitlement.
        EulaType_CUSTOM: Custom EULA
        EulaType_ECMP: AWS Enterprise Contract EULA
        EulaType_ISV: ISV standard / default EULA
        EulaType_RCMP: AWS Reseller Contract EULA
        EulaType_SCMP: AWS Standard Contract EULA
      x-enum-varnames:
      - EulaType_UNKNOWN
      - EulaType_SCMP
      - EulaType_ECMP
      - EulaType_RCMP
      - EulaType_CUSTOM
      - EulaType_ISV
      - EulaType_CURRENT
    PriceModelMatrixProperty:
      properties:
        name:
          type: string
        value:
          type: string
      type: object
    CancellationSchedule:
      example:
        note: note
        cancelDate: cancelDate
        creationDate: creationDate
        type: '{}'
      properties:
        cancelDate:
          description: The cancellation date of the entitlement. It is required when the type is SpecificDate.
          type: string
        creationDate:
          description: When this cancellation schedule is created.
          type: string
        note:
          description: The cancellation note. Max 500 characters.
          maxLength: 500
          type: string
        type:
          allOf:
          - $ref: '#/components/schemas/CancellationScheduleType'
          description: Cancellation type
          type: object
      type: object
    CreateEntitlementParams:
      example:
        organizationId: organizationId
        endDate: endDate
        offerId: offerId
        buyerId: buyerId
        startDate: startDate
      properties:
        buyerId:
          type: string
        endDate:
          description: 'The end date of the entitlement. If it is null, the entitlement will ends based on the offer.

            If it is in the past, the entitlement will be created as CANCELLED status.'
          type: string
        offerId:
          type: string
        organizationId:
          type: string
        startDate:
          description: 'The start date of the entitlement. If it is null, the entitlement starts immediately.

            It can be in the future or in the past.'
          type: string
      type: object
    GcpMarketplaceProductPurchaseOptionSpec:
      example:
        priceInfo:
          usageFees:
          - priceTiers:
            - startingUsageAmount: startingUsageAmount
              price:
                nanos: 1
                units: units
                currencyCode: currencyCode
              fromAmount: 1.0246457001441578
            - startingUsageAmount: startingUsageAmount
              price:
                nanos: 1
                units: units
                currencyCode: currencyCode
              fromAmount: 1.0246457001441578
            metricId: metricId
            displayQuantity: 5
          - priceTiers:
            - startingUsageAmount: startingUsageAmount
              price:
                nanos: 1
                units: units
                currencyCode: currencyCode
              fromAmount: 1.0246457001441578
            - startingUsageAmount: startingUsageAmount
              price:
                nanos: 1
                units: units
                currencyCode: currencyCode
              fromAmount: 1.0246457001441578
            metricId: metricId
            displayQuantity: 5
          subscriptionPlans:
          - period: period
            price:
              nanos: 1
              units: units
              currencyCode: currencyCode
          - period: period
            price:
              nanos: 1
              units: units
              currencyCode: currencyCode
          description: description
          priceModel: FREE
        purchaseMode: PURCHASE_MODE_PRIVATE
        name: name
        title: title
        featureValues:
        - featureValue: featureValue
          featureTitle: featureTitle
          featureName: featureName
          featureDescription: featureDescription
        - featureValue: featureValue
          featureTitle: featureTitle
          featureName: featureName
          featureDescription: featureDescription
      properties:
        featureValues:
          items:
            $ref: '#/components/schemas/GcpMarketplaceProductFeatureValue'
          type: array
        name:
          description: The plan ID, such as "starter", without the duration suffix, such as "P1Y".
          type: string
        priceInfo:
          $ref: '#/components/schemas/GcpMarketplaceProductPriceInfo'
        purchaseMode:
          enum:
          - PURCHASE_MODE_PRIVATE
          - PURCHASE_MODE_PUBLIC
          type: string
        title:
          description: such as "Starter"
          type: string
      type: object
    client.DescribeInstanceResponseBodyModulesModulePropertiesPropertyPropertyValues:
      example:
        PropertyValue:
        - Type: Type
          Min: Min
          Max: Max
          DisplayName: DisplayName
          Value: Value
          Step: Step
          Remark: Remark
        - Type: Type
          Min: Min
          Max: Max
          DisplayName: DisplayName
          Value: Value
          Step: Step
          Remark: Remark
      properties:
        PropertyValue:
          items:
            $ref: '#/components/schemas/client.DescribeInstanceResponseBodyModulesModulePropertiesPropertyPropertyValuesPropertyValue'
          type: array
      type: object
    PriceModelVolume:
      properties:
        tiers:
          items:
            $ref: '#/components/schemas/PriceModelVolumeConfig'
          type: array
      type: object
    PaymentInstallment:
      example:
        discountPercentage: 3.5571952270680973
        amount: 9.018348186070783
        originalAmount: 6.965117697638846
        chargeOn: 2000-01-23 04:56:07+00:00
        chargeOnStr: chargeOnStr
        credit: 6.438423552598547
      properties:
        amount:
          description: 'The amount the buyer has paid for this installment.

            If there is a discount off the original price, the amount is the discounted price.'
          type: number
        chargeOn:
          description: 'When the buyer will be charged for this installment.

            If it is null, the buyer will be charged on the effective date of the entitlement.'
          format: date-time
          type: string
        chargeOnStr:
          description: The charge on date in string format. It is used for front-end display only.
          type: string
        credit:
          description: 'Used in GCP Marketplace private offer as one-time credit.

            Default as zero if there is no credit.'
          type: number
        discountPercentage:
          description: 'The discount percentage off the original price.

            For GCP Marketplace, it can be discount off the commitment amount or discount off the usage price.

            The value is between 0 to 100. For example, 20 means 20% off. Default as zero if there is no discount.'
          type: number
        originalAmount:
          description: 'The original amount before discount if there is a discount off the original price.

            nil if there is no discount.'
          type: number
      type: object
    GcpMarketplaceProductFeatureValue:
      example:
        featureValue: featureValue
        featureTitle: featureTitle
        featureName: featureName
        featureDescription: featureDescription
      properties:
        featureDescription:
          description: such as "CPU per VM"
          type: string
        featureName:
          description: such as "cpu"
          type: string
        featureTitle:
          description: such as "CPU"
          type: string
        featureValue:
          description: such as "2 CPU per VM"
          type: string
      type: object
    BillingAddonRecord:
      example:
        amount: 0.8008281904610115
        name: name
        description: description
        chargeOn: 2000-01-23 04:56:07+00:00
        id: id
      properties:
        amount:
          type: number
        chargeOn:
          format: date-time
          type: string
        description:
          type: string
        id:
          type: string
        name:
          type: string
      type: object
    types.EntitlementValue:
      properties:
        booleanValue:
          description: 'The BooleanValue field will be populated with a boolean value when the

            entitlement is a boolean type. Otherwise, the field will not be set.'
          type: boolean
        doubleValue:
          description: 'The DoubleValue field will be populated with a double value when the

            entitlement is a double type. Otherwise, the field will not be set.'
          type: number
        integerValue:
          description: 'The IntegerValue field will be populated with an integer value when the

            entitlement is an integer type. Otherwise, the field will not be set.'
          type: integer
        stringValue:
          description: 'The StringValue field will be populated with a string value when the

            entitlement is a string type. Otherwise, the field will not be set.'
          type: string
      type: object
    PriceModelPercentage:
      properties:
        flatFee:
          type: number
        percentageRate:
          description: Basis point take rate per event
          type: number
      type: object
    AwsChannelPartner:
      properties:
        id:
          description: The AWS Account ID of the Channel Partner
          type: string
        name:
          description: The name of the Channel Partner
          type: string
      type: object
    SnowflakeMarketplaceOfferTermsOfService:
      properties:
        custom_link:
          type: string
        type:
          type: string
      type: object
    AzureTerm:
      example:
        endDate: 2000-01-23 04:56:07+00:00
        chargeDuration: chargeDuration
        startDate: 2000-01-23 04:56:07+00:00
        termUnit: termUnit
      properties:
        chargeDuration:
          type: string
        endDate:
          format: date-time
          type: string
        startDate:
          format: date-time
          type: string
        termUnit:
          type: string
      type: object
    client.DescribeInstanceResponseBodyModules:
      example:
        Module:
        - Id: Id
          Properties:
            Property:
            - PropertyValues:
                PropertyValue:
                - Type: Type
                  Min: Min
                  Max: Max
                  DisplayName: DisplayName
                  Value: Value
                  Step: Step
                  Remark: Remark
                - Type: Type
                  Min: Min
                  Max: Max
                  DisplayName: DisplayName
                  Value: Value
                  Step: Step
                  Remark: Remark
              DisplayUnit: DisplayUnit
              Key: Key
              Name: Name
              ShowType: ShowType
            - PropertyValues:
                PropertyValue:
                - Type: Type
                  Min: Min
                  Max: Max
                  DisplayName: DisplayName
                  Value: Value
                  Step: Step
                  Remark: Remark
                - Type: Type
                  Min: Min
                  Max: Max
                  DisplayName: DisplayName
                  Value: Value
                  Step: Step
                  Remark: Remark
              DisplayUnit: DisplayUnit
              Key: Key
              Name: Name
              ShowType: ShowType
          Code: Code
          Name: Name
        - Id: Id
          Properties:
            Property:
            - PropertyValues:
                PropertyValue:
                - Type: Type
                  Min: Min
                  Max: Max
                  DisplayName: DisplayName
                  Value: Value
                  Step: Step
                  Remark: Remark
                - Type: Type
                  Min: Min
                  Max: Max
                  DisplayName: DisplayName
                  Value: Value
                  Step: Step
                  Remark: Remark
              DisplayUnit: DisplayUnit
              Key: Key
              Name: Name
              ShowType: ShowType
            - PropertyValues:
                PropertyValue:
                - Type: Type
                  Min: Min
                  Max: Max
                  DisplayName: DisplayName
                  Value: Value
                  Step: Step
                  Remark: Remark
                - Type: Type
                  Min: Min
                  Max: Max
                  DisplayName: DisplayName
                  Value: Value
                  Step: Step
                  Remark: Remark
              DisplayUnit: DisplayUnit
              Key: Key
              Name: Name
              ShowType: ShowType
          Code: Code
          Name: Name
      properties:
        Module:
          items:
            $ref: '#/components/schemas/client.DescribeInstanceResponseBodyModulesModule'
          type: array
      type: object
    client.DescribeInstanceResponseBody:
      example:
        Status: Status
        ProductName: ProductName
        EndOn: 5
        InstanceId: 2
        ProductCode: ProductCode
        Modules:
          Module:
          - Id: Id
            Properties:
              Property:
              - PropertyValues:
                  PropertyValue:
                  - Type: Type
                    Min: Min
                    Max: Max
                    DisplayName: DisplayName
                    Value: Value
                    Step: Step
                    Remark: Remark
                  - Type: Type
                    Min: Min
                    Max: Max
                    DisplayName: DisplayName
                    Value: Value
                    Step: Step
                    Remark: Remark
                DisplayUnit: DisplayUnit
                Key: Key
                Name: Name
                ShowType: ShowType
              - PropertyValues:
                  PropertyValue:
                  - Type: Type
                    Min: Min
                    Max: Max
                    DisplayName: DisplayName
                    Value: Value
                    Step: Step
                    Remark: Remark
                  - Type: Type
                    Min: Min
                    Max: Max
                    DisplayName: DisplayName
                    Value: Value
                    Step: Step
                    Remark: Remark
                DisplayUnit: DisplayUnit
                Key: Key
                Name: Name
                ShowType: ShowType
            Code: Code
            Name: Name
          - Id: Id
            Properties:
              Property:
              - PropertyValues:
                  PropertyValue:
                  - Type: Type
                    Min: Min
                    Max: Max
                    DisplayName: DisplayName
                    Value: Value
                    Step: Step
                    Remark: Remark
                  - Type: Type
                    Min: Min
                    Max: Max
                    DisplayName: DisplayName
                    Value: Value
                    Step: Step
                    Remark: Remark
                DisplayUnit: DisplayUnit
                Key: Key
                Name: Name
                ShowType: ShowType
              - PropertyValues:
                  PropertyValue:
                  - Type: Type
                    Min: Min
                    Max: Max
                    DisplayName: DisplayName
                    Value: Value
                    Step: Step
                    Remark: Remark
                  - Type: Type
                    Min: Min
                    Max: Max
                    DisplayName: DisplayName
                    Value: Value
                    Step: Step
                    Remark: Remark
                DisplayUnit: DisplayUnit
                Key: Key
                Name: Name
                ShowType: ShowType
            Code: Code
            Name: Name
        RelationalData:
          ServiceStatus: ServiceStatus
        AppJson: AppJson
        ProductType: ProductType
        OrderId: 7
        Constraints: Constraints
        AutoRenewal: AutoRenewal
        ExtendJson: ExtendJson
        ComponentJson: ComponentJson
        IsTrial: true
        SupplierName: SupplierName
        ProductSkuCode: ProductSkuCode
        CreatedOn: 5
        HostJson: HostJson
        BeganOn: 1
      properties:
        AppJson:
          type: string
        AutoRenewal:
          type: string
        BeganOn:
          type: integer
        ComponentJson:
          type: string
        Constraints:
          type: string
        CreatedOn:
          type: integer
        EndOn:
          type: integer
        ExtendJson:
          type: string
        HostJson:
          type: string
        InstanceId:
          type: integer
        IsTrial:
          type: boolean
        Modules:
          $ref: '#/components/schemas/client.DescribeInstanceResponseBodyModules'
        OrderId:
          type: integer
        ProductCode:
          type: string
        ProductName:
          type: string
        ProductSkuCode:
          type: string
        ProductType:
          type: string
        RelationalData:
          $ref: '#/components/schemas/client.DescribeInstanceResponseBodyRelationalData'
        Status:
          type: string
        SupplierName:
          type: string
      type: object
    EntitlementStatus:
      enum:
      - ''
      - ACTIVE
      - CANCELLED
      - DELETED
      - PENDING_CANCEL
      - PENDING_START
      - SUSPENDED
      type: string
      x-enum-varnames:
      - EntitlementStatus_UNKNOWN
      - EntitlementStatus_ACTIVE
      - EntitlementStatus_CANCELLED
      - EntitlementStatus_DELETED
      - EntitlementStatus_PENDING_CANCEL
      - EntitlementStatus_PENDING_START
      - EntitlementStatus_SUSPENDED
    BillingCycle:
      enum:
      - MONTH_FIRST_DAY
      - ENTITLEMENT_START_DATE
      type: string
      x-enum-varnames:
      - BillingCycle_MonthFirstDay
      - BillingCycle_EntitlementStartDate
    client.DescribeOrderResponseBody:
      example:
        PaidOn: 1
        CouponPrice: 2.027123023002322
        PeriodType: PeriodType
        OriginalPrice: 1.2315135367772556
        PayStatus: PayStatus
        ProductName: ProductName
        RequestId: RequestId
        ProductCode: ProductCode
        SupplierCompanyName: SupplierCompanyName
        Quantity: 6
        OrderId: 7
        SupplierTelephones:
          Telephone:
          - Telephone
          - Telephone
        Components:
          key: ''
        OrderStatus: OrderStatus
        OrderType: OrderType
        TotalPrice: 7.457744773683766
        ProductSkuCode: ProductSkuCode
        CreatedOn: 4
        PaymentPrice: 1.4894159098541704
        InstanceIds:
          InstanceId:
          - InstanceId
          - InstanceId
        AccountQuantity: 9
        AliUid: 3
      properties:
        AccountQuantity:
          type: integer
        AliUid:
          type: integer
        Components:
          additionalProperties: true
          type: object
        CouponPrice:
          type: number
        CreatedOn:
          type: integer
        InstanceIds:
          $ref: '#/components/schemas/client.DescribeOrderResponseBodyInstanceIds'
        OrderId:
          type: integer
        OrderStatus:
          type: string
        OrderType:
          type: string
        OriginalPrice:
          type: number
        PaidOn:
          type: integer
        PayStatus:
          type: string
        PaymentPrice:
          type: number
        PeriodType:
          type: string
        ProductCode:
          type: string
        ProductName:
          type: string
        ProductSkuCode:
          type: string
        Quantity:
          type: integer
        RequestId:
          type: string
        SupplierCompanyName:
          type: string
        SupplierTelephones:
          $ref: '#/components/schemas/client.DescribeOrderResponseBodySupplierTelephones'
        TotalPrice:
          type: number
      type: object
    DivideEntitlementCommitParams:
      example:
        startDates:
        - 2000-01-23 04:56:07+00:00
        - 2000-01-23 04:56:07+00:00
        commitAmount: 0.8008281904610115
      properties:
        commitAmount:
          description: 'The amount of the commit to be divided.

            If it is less or equal to 0.0, the total commit of the entitlement will be divided

            into multiple sub entitlement terms with credit.'
          type: number
        startDates:
          description: 'The start dates of the sub entitlement terms.

            The end date of the last sub entitlement term is the end date of the parent entitlement term.

            The first start date must be the same as the start date of the parent entitlement term.'
          items:
            format: date-time
            type: string
          type: array
      type: object
    SnowflakeMarketplacePlanInstallmentSchedule:
      example:
        default_installment_amount: 6.519180951018382
        overridden_installments:
        - installment_amount: 4.652396432933246
          installment_number: 8.969578798196912
        - installment_amount: 4.652396432933246
          installment_number: 8.969578798196912
        installment_duration: 0.10263654006109402
      properties:
        default_installment_amount:
          type: number
        installment_duration:
          type: number
        overridden_installments:
          items:
            $ref: '#/components/schemas/SnowflakeMarketplacePlanInstallment'
          type: array
      type: object
    LastModifiedBy:
      properties:
        email:
          description: The email of the creator.
          type: string
        entityId:
          description: The ID of the creator.
          type: string
        entityType:
          allOf:
          - $ref: '#/components/schemas/EntityType'
          description: The Entity type of the creator, either USER or API_CLIENT.
          type: object
        name:
          description: The name of the creator.
          type: string
      type: object
    BillingMinimumCommitScope:
      enum:
      - ''
      - DIMENSION
      - DIMENSION_GROUP_BY
      type: string
      x-enum-varnames:
      - BillingMinimumCommitScope_UNKNOWN
      - BillingMinimumCommitScope_DIMENSION
      - BillingMinimumCommitScope_DIMENSION_GROUP_BY
    WorkloadEntitlementTerm:
      example:
        externalEntitlementID: externalEntitlementID
        creationTime: creationTime
        productID: productID
        entitlementID: entitlementID
        usedCommitAmount: 5.637376656633329
        buyerID: buyerID
        usedCreditAmount: 2.3021358869347655
        organizationID: organizationID
        partner: ''
        service: DEFAULT
        offerID: offerID
        reportedAmount: 5.962133916683182
        startTime: 2000-01-23 04:56:07+00:00
        endTime: 2000-01-23 04:56:07+00:00
        id: id
        creditAmount: 6.027456183070403
        commitAmount: 0.8008281904610115
        entitlementInfo:
          alibabaOrders:
          - PaidOn: 1
            CouponPrice: 2.027123023002322
            PeriodType: PeriodType
            OriginalPrice: 1.2315135367772556
            PayStatus: PayStatus
            ProductName: ProductName
            RequestId: RequestId
            ProductCode: ProductCode
            SupplierCompanyName: SupplierCompanyName
            Quantity: 6
            OrderId: 7
            SupplierTelephones:
              Telephone:
              - Telephone
              - Telephone
            Components:
              key: ''
            OrderStatus: OrderStatus
            OrderType: OrderType
            TotalPrice: 7.457744773683766
            ProductSkuCode: ProductSkuCode
            CreatedOn: 4
            PaymentPrice: 1.4894159098541704
            InstanceIds:
              InstanceId:
              - InstanceId
              - InstanceId
            AccountQuantity: 9
            AliUid: 3
          - PaidOn: 1
            CouponPrice: 2.027123023002322
            PeriodType: PeriodType
            OriginalPrice: 1.2315135367772556
            PayStatus: PayStatus
            ProductName: ProductName
            RequestId: RequestId
            ProductCode: ProductCode
            SupplierCompanyName: SupplierCompanyName
            Quantity: 6
            OrderId: 7
            SupplierTelephones:
              Telephone:
              - Telephone
              - Telephone
            Components:
              key: ''
            OrderStatus: OrderStatus
            OrderType: OrderType
            TotalPrice: 7.457744773683766
            ProductSkuCode: ProductSkuCode
            CreatedOn: 4
            PaymentPrice: 1.4894159098541704
            InstanceIds:
              InstanceId:
              - InstanceId
              - InstanceId
            AccountQuantity: 9
            AliUid: 3
          invoicedAmount: 6.438423552598547
          addons:
          - amount: 0.8008281904610115
            name: name
            description: description
            chargeOn: 2000-01-23 04:56:07+00:00
            id: id
          - amount: 0.8008281904610115
            name: name
            description: description
            chargeOn: 2000-01-23 04:56:07+00:00
            id: id
          trialConfig: '{}'
          azureSubscriptions:
          - fulfillmentId: fulfillmentId
            quantity: 1
            allowedCustomerOperations:
            - Read
            - Read
            created: 2000-01-23 04:56:07+00:00
            purchaser:
              firstName: firstName
              lastName: lastName
              licenseType: licenseType
              puid: puid
              customerId: customerId
              tenantId: tenantId
              billingAccountId: billingAccountId
              emailId: emailId
              objectId: objectId
            isFreeTrial: true
            sessionId: sessionId
            saasSubscriptionStatus: NotStarted
            publisherId: publisherId
            beneficiary:
              firstName: firstName
              lastName: lastName
              licenseType: licenseType
              puid: puid
              customerId: customerId
              tenantId: tenantId
              billingAccountId: billingAccountId
              emailId: emailId
              objectId: objectId
            isTest: true
            name: name
            autoRenew: true
            offerId: offerId
            planId: planId
            storeFront: storeFront
            term:
              endDate: 2000-01-23 04:56:07+00:00
              chargeDuration: chargeDuration
              startDate: 2000-01-23 04:56:07+00:00
              termUnit: termUnit
            id: id
            lastModified: lastModified
            sandboxType: None
            sessionMode: None
          - fulfillmentId: fulfillmentId
            quantity: 1
            allowedCustomerOperations:
            - Read
            - Read
            created: 2000-01-23 04:56:07+00:00
            purchaser:
              firstName: firstName
              lastName: lastName
              licenseType: licenseType
              puid: puid
              customerId: customerId
              tenantId: tenantId
              billingAccountId: billingAccountId
              emailId: emailId
              objectId: objectId
            isFreeTrial: true
            sessionId: sessionId
            saasSubscriptionStatus: NotStarted
            publisherId: publisherId
            beneficiary:
              firstName: firstName
              lastName: lastName
              licenseType: licenseType
              puid: puid
              customerId: customerId
              tenantId: tenantId
              billingAccountId: billingAccountId
              emailId: emailId
              objectId: objectId
            isTest: true
            name: name
            autoRenew: true
            offerId: offerId
            planId: planId
            storeFront: storeFront
            term:
              endDate: 2000-01-23 04:56:07+00:00
              chargeDuration: chargeDuration
              startDate: 2000-01-23 04:56:07+00:00
              termUnit: termUnit
            id: id
            lastModified: lastModified
            sandboxType: None
            sessionMode: None
          awsEntitlements:
          - productCode: productCode
            customerIdentifier: customerIdentifier
            dimension: dimension
            value: '{}'
            expirationDate: expirationDate
          - productCode: productCode
            customerIdentifier: customerIdentifier
            dimension: dimension
            value: '{}'
            expirationDate: expirationDate
          gcpEntitlements:
          - newPendingOffer: newPendingOffer
            offerEffectiveTime: 2000-01-23 04:56:07+00:00
            newPlan: newPlan
            offer: offer
            inputProperties:
            - 6
            - 6
            provider: provider
            offerEndTime: 2000-01-23 04:56:07+00:00
            offerDuration: offerDuration
            consumers:
            - project: project
            - project: project
            newOfferEndTime: newOfferEndTime
            subscriptionEndTime: 2000-01-23 04:56:07+00:00
            id: id
            state: '{}'
            usageReportingId: usageReportingId
            plan: plan
            messageToUser: messageToUser
            product: product
            updateTime: 2000-01-23 04:56:07+00:00
            newOfferDuration: newOfferDuration
            quoteExternalName: quoteExternalName
            createTime: 2000-01-23 04:56:07+00:00
            newPendingPlan: newPendingPlan
            name: name
            newPendingOfferDuration: newPendingOfferDuration
            account: account
            productExternalName: productExternalName
            newOfferStartTime: newOfferStartTime
          - newPendingOffer: newPendingOffer
            offerEffectiveTime: 2000-01-23 04:56:07+00:00
            newPlan: newPlan
            offer: offer
            inputProperties:
            - 6
            - 6
            provider: provider
            offerEndTime: 2000-01-23 04:56:07+00:00
            offerDuration: offerDuration
            consumers:
            - project: project
            - project: project
            newOfferEndTime: newOfferEndTime
            subscriptionEndTime: 2000-01-23 04:56:07+00:00
            id: id
            state: '{}'
            usageReportingId: usageReportingId
            plan: plan
            messageToUser: messageToUser
            product: product
            updateTime: 2000-01-23 04:56:07+00:00
            newOfferDuration: newOfferDuration
            quoteExternalName: quoteExternalName
            createTime: 2000-01-23 04:56:07+00:00
            newPendingPlan: newPendingPlan
            name: name
            newPendingOfferDuration: newPendingOfferDuration
            account: account
            productExternalName: productExternalName
            newOfferStartTime: newOfferStartTime
          paymentInstallments:
          - discountPercentage: 3.5571952270680973
            amount: 9.018348186070783
            originalAmount: 6.965117697638846
            chargeOn: 2000-01-23 04:56:07+00:00
            chargeOnStr: chargeOnStr
            credit: 6.438423552598547
          - discountPercentage: 3.5571952270680973
            amount: 9.018348186070783
            originalAmount: 6.965117697638846
            chargeOn: 2000-01-23 04:56:07+00:00
            chargeOnStr: chargeOnStr
            credit: 6.438423552598547
          billableDimensions:
          - priceModelTiered: '{}'
            priceModelTieredPercentage: '{}'
            priceModelMatrix: '{}'
            minimumCommit: 5.962133916683182
            length: 1
            priceModelBulk: '{}'
            description: description
            discount: '{}'
            minimumCommitScope: '{}'
            minimumCommitProrata: true
            billableMetricId: billableMetricId
            priceModelPercentage: '{}'
            name: name
            priceModelBasic: '{}'
            category: '{}'
            priceModelVolume: '{}'
            timeUnit: '{}'
          - priceModelTiered: '{}'
            priceModelTieredPercentage: '{}'
            priceModelMatrix: '{}'
            minimumCommit: 5.962133916683182
            length: 1
            priceModelBulk: '{}'
            description: description
            discount: '{}'
            minimumCommitScope: '{}'
            minimumCommitProrata: true
            billableMetricId: billableMetricId
            priceModelPercentage: '{}'
            name: name
            priceModelBasic: '{}'
            category: '{}'
            priceModelVolume: '{}'
            timeUnit: '{}'
          eulaUrl: eulaUrl
          billingIntervalInMonths: 4
          refundCancellationPolicy: refundCancellationPolicy
          paymentSchedule: '{}'
          autoRenew: true
          currency: currency
          alibabaEntitlements:
          - Status: Status
            ProductName: ProductName
            EndOn: 5
            InstanceId: 2
            ProductCode: ProductCode
            Modules:
              Module:
              - Id: Id
                Properties:
                  Property:
                  - PropertyValues:
                      PropertyValue:
                      - Type: Type
                        Min: Min
                        Max: Max
                        DisplayName: DisplayName
                        Value: Value
                        Step: Step
                        Remark: Remark
                      - Type: Type
                        Min: Min
                        Max: Max
                        DisplayName: DisplayName
                        Value: Value
                        Step: Step
                        Remark: Remark
                    DisplayUnit: DisplayUnit
                    Key: Key
                    Name: Name
                    ShowType: ShowType
                  - PropertyValues:
                      PropertyValue:
                      - Type: Type
                        Min: Min
                        Max: Max
                        DisplayName: DisplayName
                        Value: Value
                        Step: Step
                        Remark: Remark
                      - Type: Type
                        Min: Min
                        Max: Max
                        DisplayName: DisplayName
                        Value: Value
                        Step: Step
                        Remark: Remark
                    DisplayUnit: DisplayUnit
                    Key: Key
                    Name: Name
                    ShowType: ShowType
                Code: Code
                Name: Name
              - Id: Id
                Properties:
                  Property:
                  - PropertyValues:
                      PropertyValue:
                      - Type: Type
                        Min: Min
                        Max: Max
                        DisplayName: DisplayName
                        Value: Value
                        Step: Step
                        Remark: Remark
                      - Type: Type
                        Min: Min
                        Max: Max
                        DisplayName: DisplayName
                        Value: Value
                        Step: Step
                        Remark: Remark
                    DisplayUnit: DisplayUnit
                    Key: Key
                    Name: Name
                    ShowType: ShowType
                  - PropertyValues:
                      PropertyValue:
                      - Type: Type
                        Min: Min
                        Max: Max
                        DisplayName: DisplayName
                        Value: Value
                        Step: Step
                        Remark: Remark
                      - Type: Type
                        Min: Min
                        Max: Max
                        DisplayName: DisplayName
                        Value: Value
                        Step: Step
                        Remark: Remark
                    DisplayUnit: DisplayUnit
                    Key: Key
                    Name: Name
                    ShowType: ShowType
                Code: Code
                Name: Name
            RelationalData:
              ServiceStatus: ServiceStatus
            AppJson: AppJson
            ProductType: ProductType
            OrderId: 7
            Constraints: Constraints
            AutoRenewal: AutoRenewal
            ExtendJson: ExtendJson
            ComponentJson: ComponentJson
            IsTrial: true
            SupplierName: SupplierName
            ProductSkuCode: ProductSkuCode
            CreatedOn: 5
            HostJson: HostJson
            BeganOn: 1
          - Status: Status
            ProductName: ProductName
            EndOn: 5
            InstanceId: 2
            ProductCode: ProductCode
            Modules:
              Module:
              - Id: Id
                Properties:
                  Property:
                  - PropertyValues:
                      PropertyValue:
                      - Type: Type
                        Min: Min
                        Max: Max
                        DisplayName: DisplayName
                        Value: Value
                        Step: Step
                        Remark: Remark
                      - Type: Type
                        Min: Min
                        Max: Max
                        DisplayName: DisplayName
                        Value: Value
                        Step: Step
                        Remark: Remark
                    DisplayUnit: DisplayUnit
                    Key: Key
                    Name: Name
                    ShowType: ShowType
                  - PropertyValues:
                      PropertyValue:
                      - Type: Type
                        Min: Min
                        Max: Max
                        DisplayName: DisplayName
                        Value: Value
                        Step: Step
                        Remark: Remark
                      - Type: Type
                        Min: Min
                        Max: Max
[...]
