openapi: 3.0.1
info:
  contact:
    email: support@suger.io
    name: Suger Support
    url: https://www.suger.io/support
  description: CRUD operations on a set of resources, including organizations, products, offers, entitlements, usage record groups for meterting, etc.
  title: Suger API Offer API
  version: '1.0'
servers:
- url: https://api.suger.cloud
tags:
- description: Access to Offer resources
  name: Offer
paths:
  /org/{orgId}/draftOffer:
    post:
      description: Create a new draft offer or update the existing draft offer. When updating draft offer, the offer.ID is required.
      operationId: CreateOrUpdateDraftOffer
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkloadOffer'
        description: the draft offer to create
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadOffer'
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '405':
          content:
            application/json:
              schema:
                type: string
          description: Method not allowed
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal error
      security:
      - APIKeyAuth: []
      summary: Create Or Update Draft Offer
      tags:
      - Offer
      x-codegen-request-body-name: data
  /org/{orgId}/offer:
    get:
      description: List offers under the given organization with pagination and optional filter.
      operationId: ListOffers
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: filter by offer status
        explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      - description: filter by partner
        explode: true
        in: query
        name: partner
        required: false
        schema:
          type: string
        style: form
      - description: filter by offerType
        explode: true
        in: query
        name: offerType
        required: false
        schema:
          type: string
        style: form
      - description: filter by productId
        explode: true
        in: query
        name: productId
        required: false
        schema:
          type: string
        style: form
      - description: filter by buyerId
        explode: true
        in: query
        name: buyerId
        required: false
        schema:
          type: string
        style: form
      - description: filter by hubspotDealId
        explode: true
        in: query
        name: hubspotDealId
        required: false
        schema:
          type: string
        style: form
      - description: filter by contactId
        explode: true
        in: query
        name: contactId
        required: false
        schema:
          type: string
        style: form
      - description: List pagination size, default 1000, max value is 1000
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: List pagination offset, default 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/WorkloadOffer'
                type: array
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '405':
          content:
            application/json:
              schema:
                type: string
          description: Method not allowed
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal server error
      security:
      - APIKeyAuth: []
      summary: List Offers
      tags:
      - Offer
    post:
      description: Create a private offer under the given organization.
      operationId: CreateOffer
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkloadOffer'
        description: Offer to create
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadOffer'
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '405':
          content:
            application/json:
              schema:
                type: string
          description: Method not allowed
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal server error
      security:
      - APIKeyAuth: []
      summary: Create Offer
      tags:
      - Offer
      x-codegen-request-body-name: data
  /org/{orgId}/offer/{offerId}:
    delete:
      description: The offer is soft deleted (marked as DELETED status) in Suger service. Only the offer with status = "DRAFT", "CREATE_FAILED", "EXPIRED" or "CANCELLED" is allowed to be deleted.
      operationId: DeleteOffer
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Offer ID
        explode: false
        in: path
        name: offerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
          description: Empty string if deletion is successful
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '404':
          content:
            application/json:
              schema:
                type: string
          description: Not found error
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal error
      security:
      - APIKeyAuth: []
      summary: Delete Offer
      tags:
      - Offer
    get:
      description: Get the offer by the given offer ID.
      operationId: GetOffer
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Offer ID
        explode: false
        in: path
        name: offerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadOffer'
          description: the Offer Object
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '404':
          content:
            application/json:
              schema:
                type: string
          description: Not found
        '405':
          content:
            application/json:
              schema:
                type: string
          description: Method not allowed
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal error
      security:
      - APIKeyAuth: []
      summary: Get Offer
      tags:
      - Offer
  /org/{orgId}/offer/{offerId}/cancel:
    post:
      description: Only the offer with status = "PENDING_ACCEPTANCE", "PENDING_CANCEL", "ACTIVE" or "USED" is allowed to cancel.
      operationId: CancelOffer
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Offer ID
        explode: false
        in: path
        name: offerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadOffer'
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '405':
          content:
            application/json:
              schema:
                type: string
          description: Method not allowed
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal error
      security:
      - APIKeyAuth: []
      summary: Cancel Offer
      tags:
      - Offer
  /org/{orgId}/offer/{offerId}/eula:
    get:
      description: Get the EULA file of the given offer ID.
      operationId: GetOfferEula
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Offer ID
        explode: false
        in: path
        name: offerId
        required: true
        schema:
          type: string
        style: simple
      - description: response format in JSON or string
        explode: true
        in: query
        name: format
        required: false
        schema:
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
          description: AWS S3 signed URL with 30 minutes expiry time
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '405':
          content:
            application/json:
              schema:
                type: string
          description: Method not allowed
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal error
      security:
      - APIKeyAuth: []
      summary: Get Offer EULA
      tags:
      - Offer
  /org/{orgId}/offer/{offerId}/extendExpiryDate:
    post:
      description: Only the offer with status = "PENDING_ACCEPTANCE", "EXPIRED" or "ACCEPTED" is allowed to extend expiry date.
      operationId: ExtendPrivateOfferExpiryDate
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Offer ID
        explode: false
        in: path
        name: offerId
        required: true
        schema:
          type: string
        style: simple
      - description: new expiry date in YYYY-MM-DD format
        explode: true
        in: query
        name: newExpiryDate
        required: true
        schema:
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadOffer'
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '404':
          content:
            application/json:
              schema:
                type: string
          description: Not found
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal error
      security:
      - APIKeyAuth: []
      summary: Extend Offer Expiry Date
      tags:
      - Offer
  /org/{orgId}/offer/{offerId}/metaInfo:
    patch:
      description: Update the meta info of the given offer.
      operationId: UpdateOfferMetaInfo
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Offer ID
        explode: false
        in: path
        name: offerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkloadMetaInfo'
        description: Offer meta info to update
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadMetaInfo'
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '405':
          content:
            application/json:
              schema:
                type: string
          description: Method not allowed
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal error
      security:
      - APIKeyAuth: []
      summary: Update Offer Meta Info
      tags:
      - Offer
      x-codegen-request-body-name: data
  /org/{orgId}/offer/{offerId}/notifyContacts:
    post:
      description: Send offer notifications to the given contact ids. If contactIDs is empty, send notifications to all contacts of the offer.
      operationId: SendOfferNotifications
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Offer ID
        explode: false
        in: path
        name: offerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: string
              type: array
        description: List of Contact IDs, if emoty or nil, send notifications to all contacts of the offer
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationEvent'
          description: NotificationEvent object
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '405':
          content:
            application/json:
              schema:
                type: string
          description: Method not allowed
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal error
      security:
      - APIKeyAuth: []
      summary: Notify Offer Contacts
      tags:
      - Offer
      x-codegen-request-body-name: contactIDs
  /org/{orgId}/offer/{offerId}/resellerEula:
    get:
      description: Get the Reseller EULA file of the given offer ID.
      operationId: GetOfferResellerEula
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Offer ID
        explode: false
        in: path
        name: offerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
          description: AWS S3 signed URL with 30 minutes expiry time
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '405':
          content:
            application/json:
              schema:
                type: string
          description: Method not allowed
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal error
      security:
      - APIKeyAuth: []
      summary: Get Offer Reseller EULA
      tags:
      - Offer
  /org/{orgId}/offerExternalId/{offerExternalId}:
    get:
      description: Get the offer by the given offer external ID.
      operationId: GetOfferByExternalId
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Offer External ID
        explode: false
        in: path
        name: offerExternalId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadOffer'
          description: the Offer Object
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Bad request error
        '404':
          content:
            application/json:
              schema:
                type: string
          description: Not found
        '405':
          content:
            application/json:
              schema:
                type: string
          description: Method not allowed
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal error
      security:
      - APIKeyAuth: []
      summary: Get Offer By External ID
      tags:
      - Offer
components:
  schemas:
    GcpMarketplaceResellerPrivateOfferPlanInstallmentTemplate:
      example:
        priceModelTemplate:
          baseOffer: baseOffer
          commitment:
            commitmentAmountPerPeriodTemplate:
              decimalAmountConstraint:
                minAmount:
                  nanos: 9
                  units: units
                defaultAmount:
                  nanos: 9
                  units: units
                maxAmount:
                  nanos: 9
                  units: units
              currencyCode: currencyCode
            period:
              unit: MONTHLY_PERIOD
              count: 9
            discountTemplate:
              discountPercentage:
                minAmount:
                  nanos: 9
                  units: units
                defaultAmount:
                  nanos: 9
                  units: units
                maxAmount:
                  nanos: 9
                  units: units
              discountEconomics: discountEconomics
              hideDiscountPercentage: true
              discountedPrice:
                nanos: 1
                units: units
                currencyCode: currencyCode
          consumption: overage
          payg:
            period:
              unit: MONTHLY_PERIOD
              count: 9
            discountTemplate:
              discountPercentage:
                minAmount:
                  nanos: 9
                  units: units
                defaultAmount:
                  nanos: 9
                  units: units
                maxAmount:
                  nanos: 9
                  units: units
              discountEconomics: discountEconomics
              hideDiscountPercentage: true
              discountedPrice:
                nanos: 1
                units: units
                currencyCode: currencyCode
            skuDiscountTemplates:
            - '{}'
            - '{}'
            skuRepresentation:
              skuList:
                skus:
                - skus
                - skus
              skus: skus
              skuGroupList: '{}'
          subscription: fixedPrice
          fixedPrice:
            period:
              unit: MONTHLY_PERIOD
              count: 9
            discountTemplate:
              discountPercentage:
                minAmount:
                  nanos: 9
                  units: units
                defaultAmount:
                  nanos: 9
                  units: units
                maxAmount:
                  nanos: 9
                  units: units
              discountEconomics: discountEconomics
              hideDiscountPercentage: true
              discountedPrice:
                nanos: 1
                units: units
                currencyCode: currencyCode
          overage:
            discountTemplate:
              discountPercentage:
                minAmount:
                  nanos: 9
                  units: units
                defaultAmount:
                  nanos: 9
                  units: units
                maxAmount:
                  nanos: 9
                  units: units
              discountEconomics: discountEconomics
              hideDiscountPercentage: true
              discountedPrice:
                nanos: 1
                units: units
                currencyCode: currencyCode
            skuDiscountTemplates:
            - '{}'
            - '{}'
            skuRepresentation:
              skuList:
                skus:
                - skus
                - skus
              skus: skus
              skuGroupList: '{}'
        startTime: 2000-01-23 04:56:07+00:00
      properties:
        priceModelTemplate:
          $ref: '#/components/schemas/GcpMarketplaceResellerPrivateOfferPlanPriceModelTemplate'
        startTime:
          format: date-time
          type: string
      type: object
    SnowflakeMarketplaceOffer:
      properties:
        access_end_time:
          type: string
        access_start_date_preference:
          type: string
        access_start_time:
          type: string
        additional_information:
          type: string
        comment:
          type: string
        contract_duration_months:
          type: integer
        contract_type:
          type: string
        contract_value:
          type: string
        discount:
          type: number
        display_name:
          type: string
        expiration_time:
          type: string
        invoice_start_date_preference:
          description: 'invoice start date preference: FIRST_DAY_NEXT_MONTH, OFFER_ACCEPTED_DATE'
          type: string
        invoice_start_time:
          type: string
        is_default:
          type: boolean
        name:
          type: string
        payment_terms:
          $ref: '#/components/schemas/SnowflakeMarketplaceOfferPaymentTerms'
        pricing_plan_name:
          type: string
        state:
          type: string
        state_updated_on:
          type: string
        target_consumer:
          type: string
        terms_of_service:
          allOf:
          - $ref: '#/components/schemas/SnowflakeMarketplaceOfferTermsOfService'
          description: 'terms of service: {"type":"DEFAULT"}'
          type: object
        updated_on:
          type: string
      type: object
    AzureIncludedBaseQuantity:
      example:
        quantity: 1.2315135367772556
        isInfinite: true
        recurringUnit: Monthly
      properties:
        isInfinite:
          type: boolean
        quantity:
          type: number
        recurringUnit:
          enum:
          - Monthly
          - Annual
          type: string
      type: object
    GcpMarketplacePurchaseChannel:
      properties:
        marketplace:
          type: boolean
        reseller:
          type: boolean
      type: object
    GcpMarketplaceResellerInfo:
      example:
        billingAccountOrgDisplayName: billingAccountOrgDisplayName
        resellerPrivateOfferPlanScope: resellerPrivateOfferPlanScope
        partnerAccountName: partnerAccountName
        notesToReseller: notesToReseller
        resellerContactName: resellerContactName
        resellOfferTemplateId: resellOfferTemplateId
        billingAccountId: billingAccountId
        billingAccountType: billingAccountType
        billingAccountNickname: billingAccountNickname
        resellerContactEmail: resellerContactEmail
        resellerPrivateOfferPlanId: resellerPrivateOfferPlanId
        subBillingAccount: subBillingAccount
      properties:
        billingAccountId:
          type: string
        billingAccountNickname:
          type: string
        billingAccountOrgDisplayName:
          type: string
        billingAccountType:
          type: string
        notesToReseller:
          type: string
        partnerAccountName:
          description: In the format of ""organizations/{GcpOrganizationID}/partnerAccounts/{partnerAccountID}"
          type: string
        resellOfferTemplateId:
          type: string
        resellerContactEmail:
          type: string
        resellerContactName:
          type: string
        resellerPrivateOfferPlanId:
          type: string
        resellerPrivateOfferPlanScope:
          type: string
        subBillingAccount:
          description: In the format of "billingAccounts/..."
          type: string
      type: object
    SnowflakeMarketplacePlanInstallment:
      example:
        installment_amount: 4.652396432933246
        installment_number: 8.969578798196912
      properties:
        installment_amount:
          type: number
        installment_number:
          type: number
      type: object
    AzureProductVariantTrial:
      example:
        duration: 9
        dateTimeRange:
          endAt:
            dateTimeInUtc: dateTimeInUtc
            localizePerMarket: true
          startAt:
            dateTimeInUtc: dateTimeInUtc
            localizePerMarket: true
        type: NoTrial
        durationType: Minute
      properties:
        dateTimeRange:
          $ref: '#/components/schemas/AzureLocalizedTimeRange'
        duration:
          type: integer
        durationType:
          enum:
          - Minute
          - Days
          - Months
          type: string
        type:
          enum:
          - NoTrial
          - TimedAccess
          - TimedUsage
          - Unlimited
          type: string
      type: object
    PriceModelBulk:
      properties:
        bulkAmount:
          description: A currency amount to rate usage by
          type: number
        bulkSize:
          description: 'An integer amount to represent package size. For example, 1000 here would divide

            usage by 1000 before multiplying by package_amount in rating'
          type: integer
      type: object
    AwsMarketplaceCppoOpportunityTerm:
      properties:
        CurrencyCode:
          type: string
        Documents:
          items:
            $ref: '#/components/schemas/AwsMarketplaceCatalogLegalTermDocument'
          type: array
        Duration:
          description: ISO 8601 duration format. For example, "P12M" represents 12 months.
          type: string
        Grants:
          items:
            $ref: '#/components/schemas/AwsMarketplaceCppoOpportunityUpfrontPriceGrant'
          type: array
        Id:
          type: string
        MaximumAgreementStartDate:
          type: string
        PositiveTargeting:
          $ref: '#/components/schemas/AwsMarketplaceCppoOpportunityPositiveTargeting'
        Price:
          description: For ResaleFixedUpfrontPricingTerm
          type: string
        RateCards:
          items:
            $ref: '#/components/schemas/AwsMarketplaceCatalogPricingTermRateCard'
          type: array
        Schedule:
          description: For ResalePaymentScheduleTerm
          items:
            $ref: '#/components/schemas/AwsMarketplaceCppoOpportunityPaymentSchedule'
          type: array
        Type:
          $ref: '#/components/schemas/AwsMarketplaceCppoOpportunityTermType'
      type: object
    AzureMarketState:
      example:
        marketCode: marketCode
        state: Disabled
      properties:
        marketCode:
          description: ISO Country Code
          type: string
        state:
          enum:
          - Disabled
          - Enabled
          - StopSelling
          - Terminated
          type: string
      type: object
    NotificationEventAction:
      enum:
      - ''
      - ABNORMAL_ALERT
      - ACCEPT
      - ADD
      - APPROVE
      - CANCEL
      - CLOSE
      - CREATE
      - DELETE
      - ARCHIVE
      - DISBURSE
      - END_SOON
      - EXPIRE
      - EXPIRE_SOON
      - MERGE
      - METER
      - NEW_CLIENT_SIGNUP
      - NOTIFY
      - NOTIFY_CONTACTS
      - OPEN_EMAIL
      - PENDING_CANCEL
      - PENDING_ACCEPTANCE
      - REINSTATE
      - REJECT
      - REOPEN
      - CHARGE
      - REFUND
      - ISSUE
      - SIGN
      - ROTATE_SECRET
      - SUSPEND
      - TEST
      - UPDATE
      - ACE_ENGAGEMENT_SCORE_UPDATE
      - ACE_SALES_REP_UPDATE
      - ACE_CUSTOMER_EMAIL_UPDATE
      - AZURE_STATUS_UPDATE
      - SUBMIT_APPROVAL_REQUEST
      - REVIEW_APPROVAL_REQUEST
      - COMPLETE
      - FAIL
      - WEBHOOK
      - MARKETPLACE_CONTACT_EMAIL_UPDATE
      type: string
      x-enum-comments:
        NotificationEventAction_ADD: Add user to organization
      x-enum-varnames:
      - NotificationEventAction_UNKNOWN
      - NotificationEventAction_ABNORMAL_ALERT
      - NotificationEventAction_ACCEPT
      - NotificationEventAction_ADD
      - NotificationEventAction_APPROVE
      - NotificationEventAction_CANCEL
      - NotificationEventAction_CLOSE
      - NotificationEventAction_CREATE
      - NotificationEventAction_DELETE
      - NotificationEventAction_ARCHIVE
      - NotificationEventAction_DISBURSE
      - NotificationEventAction_END_SOON
      - NotificationEventAction_EXPIRE
      - NotificationEventAction_EXPIRE_SOON
      - NotificationEventAction_MERGE
      - NotificationEventAction_METER
      - NotificationEventAction_NEW_CLIENT_SIGNUP
      - NotificationEventAction_NOTIFY
      - NotificationEventAction_NOTIFY_CONTACTS
      - NotificationEventAction_OPEN_EMAIL
      - NotificationEventAction_PENDING_CANCEL
      - NotificationEventAction_PENDING_ACCEPTANCE
      - NotificationEventAction_REINSTATE
      - NotificationEventAction_REJECT
      - NotificationEventAction_REOPEN
      - NotificationEventAction_CHARGE
      - NotificationEventAction_REFUND
      - NotificationEventAction_ISSUE
      - NotificationEventAction_SIGN
      - NotificationEventAction_ROTATE_SECRET
      - NotificationEventAction_SUSPEND
      - NotificationEventAction_TEST
      - NotificationEventAction_UPDATE
      - NotificationEventAction_ACE_ENGAGEMENT_SCORE_UPDATE
      - NotificationEventAction_ACE_SALES_REP_UPDATE
      - NotificationEventAction_ACE_CUSTOMER_EMAIL_UPDATE
      - NotificationEventAction_AZURE_STATUS_UPDATE
      - NotificationEventAction_SUBMIT_APPROVAL_REQUEST
      - NotificationEventAction_REVIEW_APPROVAL_REQUEST
      - NotificationEventAction_COMPLETE
      - NotificationEventAction_FAIL
      - NotificationEventAction_WEBHOOK
      - NotificationEventAction_MARKETPLACE_CONTACT_EMAIL_UPDATE
    GcpMarketplacePrivateOfferInstallmentTimeline:
      properties:
        installments:
          items:
            $ref: '#/components/schemas/GcpMarketplacePrivateOfferInstallment'
          type: array
      type: object
    BillingDiscount:
      example:
        discountType: PERCENTAGE
        value: 1.4658129805029452
      properties:
        discountType:
          $ref: '#/components/schemas/BillingDiscountType'
        value:
          type: number
      type: object
    TrialConfig:
      properties:
        trialPeriod:
          type: integer
        trialPeriodUnit:
          $ref: '#/components/schemas/TimeUnit'
      type: object
    PrivateOfferDiscountType:
      enum:
      - absolute
      - percentage
      type: string
      x-enum-varnames:
      - PrivateOfferDiscountType_absolute
      - PrivateOfferDiscountType_percentage
    AzureMarketplacePriceAndAvailabilityPrivateOfferPrice:
      example:
        customMeters:
          priceInputOption: perMarket
          meters: '{}'
        recurrentPrice:
          recurrentPriceMode: flatRate
          userLimits:
            min: 6.84685269835264
            max: 1.4894159098541704
          priceInputOption: perMarket
          prices:
          - billingFrequency: '{}'
            pricePerPaymentInUsd: 1.2315135367772556
            flexibleSchedule: '{}'
            contractDuration: '{}'
            billingTerm:
              type: day
              value: 7.386281948385884
            paymentOption:
              type: day
              value: 7.386281948385884
            prices:
            - markets:
              - markets
              - markets
              price: 1.0246457001441578
              currency: currency
            - markets:
              - markets
              - markets
              price: 1.0246457001441578
              currency: currency
          - billingFrequency: '{}'
            pricePerPaymentInUsd: 1.2315135367772556
            flexibleSchedule: '{}'
            contractDuration: '{}'
            billingTerm:
              type: day
              value: 7.386281948385884
            paymentOption:
              type: day
              value: 7.386281948385884
            prices:
            - markets:
              - markets
              - markets
              price: 1.0246457001441578
              currency: currency
            - markets:
              - markets
              - markets
              price: 1.0246457001441578
              currency: currency
      properties:
        customMeters:
          $ref: '#/components/schemas/AzureMarketplacePriceAndAvailabilityPrivateOfferCustomMeters'
        recurrentPrice:
          $ref: '#/components/schemas/AzureMarketplacePriceAndAvailabilityRecurrentPrice'
      type: object
    AzureMarketplacePrivateOfferBeneficiaryRecipient:
      properties:
        id:
          type: string
        recipientType:
          enum:
          - cspCustomer
          - billingGroup
          type: string
      type: object
    AzureMarketplacePrivateOfferPricing:
      properties:
        basePlan:
          description: required for SaasNewCustomizedPlans
          type: string
        discountPercentage:
          description: between 0.01 to 100
          type: number
        discountType:
          $ref: '#/components/schemas/PrivateOfferDiscountType'
        markupPercentage:
          description: between 0.00000001 to 100
          type: number
        newPlanDetails:
          allOf:
          - $ref: '#/components/schemas/AzureMarketplacePrivateOfferPricingNewPlanDetails'
          description: required for SaasNewCustomizedPlans
          type: object
        originalPlan:
          allOf:
          - $ref: '#/components/schemas/AzureMarketplacePriceAndAvailabilityPrivateOfferPlan'
          description: the pricing plan of the original plan.
          type: object
        plan:
          description: The base/original/default plan of the private offer, in format of "plan/product-durable-id/plan-durable-id"
          type: string
        planId:
          type: string
        planName:
          type: string
        planType:
          description: The type of the plan, FLAT_RATE or PER_USER.
          enum:
          - FLAT_RATE
          - PER_USER
          type: string
        priceDetails:
          type: object
        privateOfferPlan:
          allOf:
          - $ref: '#/components/schemas/AzureMarketplacePriceAndAvailabilityPrivateOfferPlan'
          description: the pricing plan of the private offer
          type: object
        product:
          description: in format of "product/product-durable-id"
          type: string
        productName:
          type: string
        sugerOfferId:
          type: string
      type: object
    GcpMarketplaceOfferProration:
      enum:
      - PRORATION_UNSPECIFIED
      - NOT_PRORATED_ANNIVERSARY_DATES
      - PRORATED
      type: string
      x-enum-varnames:
      - GcpMarketplaceOfferProration_UNSPECIFIED
      - GcpMarketplaceOfferProration_NO
      - GcpMarketplaceOfferProration_YES
    GcpMarketplacePrivateOfferMetricDetail:
      properties:
        displayName:
          description: such as "CPU"
          type: string
        parentCommerceService:
          description: in format of "projects/{projectNumber}/services/service-name.endpoints.gcp-project-id.cloud.goog"
          type: string
        skuId:
          description: such as "BC1B-6259-BF57"
          type: string
        tiers:
          description: Price tiers for this metric.
          items:
            $ref: '#/components/schemas/GcpPriceTier'
          type: array
        unitDescription:
          description: such as "minute"
          type: string
      type: object
    GcpMarketplacePriceModel:
      enum:
      - FREE
      - SUBSCRIPTION
      - USAGE
      - SUBSCRIPTION_PLUS_USAGE
      type: string
      x-enum-varnames:
      - GcpMarketplacePriceModel_FREE
      - GcpMarketplacePriceModel_SUBSCRIPTION
      - GcpMarketplacePriceModel_USAGE
      - GcpMarketplacePriceModel_SUBSCRIPTION_PLUS_USAGE
    WorkloadMetaInfo:
      example:
        cppoOfferId: cppoOfferId
        enableTestUsageMetering: true
        replacedOfferResourceName: replacedOfferResourceName
        renewalOfferType: '{}'
        isAgreementBasedOffer: true
        isRenewalOffer: true
        cppoInOfferId: cppoInOfferId
        aceApnCrmUniqueIdentifier: aceApnCrmUniqueIdentifier
        testUsageMeteringEndTime: 2000-01-23 04:56:07+00:00
        entitlementCancellationSchedule: '{}'
        isGrossRevenueFullSync: true
        offerAcceptDate: 2000-01-23 04:56:07+00:00
        salesforceOpportunityId: salesforceOpportunityId
        hubspotDealId: hubspotDealId
        prettifiedErrorMessages:
        - prettifiedErrorMessages
        - prettifiedErrorMessages
        replacedOfferEndTime: 2000-01-23 04:56:07+00:00
        lastModifiedBy: '{}'
        customMetaInfo:
          key: customMetaInfo
        isReplacementOffer: true
        buyerIds:
        - buyerIds
        - buyerIds
        cppoOutOfferId: cppoOutOfferId
        errorMessages:
        - errorMessages
        - errorMessages
        baseAgreementId: baseAgreementId
        internalNote: internalNote
        salesforceEntitlementURL: salesforceEntitlementURL
        awsSaasProductDimensions:
        - Types:
          - Types
          - Types
          Description: Description
          Length: 2
          Rate: 6.778324963048013
          TimeUnit: DAY
          Unit: Unit
          Key: Key
          Name: Name
        - Types:
          - Types
          - Types
          Description: Description
          Length: 2
          Rate: 6.778324963048013
          TimeUnit: DAY
          Unit: Unit
          Key: Key
          Name: Name
        contacts:
        - name: name
          company: company
          email: email
        - name: name
          company: company
          email: email
        notifications:
        - eventID: eventID
          customFields:
            key: ''
          entityType: ''
          contactEmails:
          - contactEmails
          - contactEmails
          entityID: entityID
          message: message
          priority: '{}'
          title: title
          contactIds:
          - contactIds
          - contactIds
          organizationID: organizationID
          ccContactIds:
          - ccContactIds
          - ccContactIds
          channels:
          - EMAIL
          - EMAIL
          isActionItem: true
          partner: '{}'
          createdBy: '{}'
          entityStatus: entityStatus
          entityName: entityName
          eventStatus: '{}'
          action: ''
          requireAudit: true
          trackEvents:
          - contactId: contactId
            action: OPEN_EMAIL
            timestamp: 2000-01-23 04:56:07+00:00
          - contactId: contactId
            action: OPEN_EMAIL
            timestamp: 2000-01-23 04:56:07+00:00
          info: '{}'
          lastUpdateTime: 2000-01-23 04:56:07+00:00
          timestamp: 2000-01-23 04:56:07+00:00
        - eventID: eventID
          customFields:
            key: ''
          entityType: ''
          contactEmails:
          - contactEmails
          - contactEmails
          entityID: entityID
          message: message
          priority: '{}'
          title: title
          contactIds:
          - contactIds
          - contactIds
          organizationID: organizationID
          ccContactIds:
          - ccContactIds
          - ccContactIds
          channels:
          - EMAIL
          - EMAIL
          isActionItem: true
          partner: '{}'
          createdBy: '{}'
          entityStatus: entityStatus
          entityName: entityName
          eventStatus: '{}'
          action: ''
          requireAudit: true
          trackEvents:
          - contactId: contactId
            action: OPEN_EMAIL
            timestamp: 2000-01-23 04:56:07+00:00
          - contactId: contactId
            action: OPEN_EMAIL
            timestamp: 2000-01-23 04:56:07+00:00
          info: '{}'
          lastUpdateTime: 2000-01-23 04:56:07+00:00
          timestamp: 2000-01-23 04:56:07+00:00
        updateMessage: updateMessage
      properties:
        aceApnCrmUniqueIdentifier:
          description: The linked ACE ApnCrmUniqueIdentifier of the private offer if available.
          type: string
        awsSaasProductDimensions:
          description: 'The AWS SaaS product dimensions. Applicable for AWS SaaS products only.

            This is used to save price info when creating AWS SaaS product.'
          items:
            $ref: '#/components/schemas/AwsProductDimension'
          type: array
        baseAgreementId:
          description: Applicable for AWS Marketplace only, when the IsAgreementBasedOffer is true.
          type: string
        buyerIds:
          description: The Suger buyer IDs of the private offer if available.
          items:
            type: string
          type: array
        contacts:
          description: The contacts of the offer to notify if any updates.
          items:
            $ref: '#/components/schemas/Contact'
          type: array
        cppoInOfferId:
          description: The Suger CPPO_IN offer ID.
          type: string
        cppoOfferId:
          description: The Suger CPPO offer ID. Reseller to end buyer
          type: string
        cppoOutOfferId:
          description: The Suger CPPO_OUT offer ID. ISV to reseller
          type: string
        customMetaInfo:
          additionalProperties:
            type: string
          description: The custom meta info of the offer can be updated by seller via API or console.
          type: object
        enableTestUsageMetering:
          description: If enabled, Suger will test metering the usage for this entitlement hourly.
          type: boolean
        entitlementCancellationSchedule:
          allOf:
          - $ref: '#/components/schemas/CancellationSchedule'
          description: The cancellation schedule for the entitlement. It is nill if no cancellation schedule.
          type: object
        errorMessages:
          description: 'The error messages when the offer is invalid or offer related tasks failed.

            This is the raw error messages from the offer related tasks.'
          items:
            type: string
          type: array
        hubspotDealId:
          description: Hubsport deal ID of the private offer if available.
          type: string
        internalNote:
          description: 'The Internal note of the private offer.

            It is only visible to the seller/ISV, not visible to the buyer.

            Up to 1000 characters.'
          type: string
        isAgreementBasedOffer:
          description: Applicable for AWS Marketplace only, If this offer is agreement based offer.
          type: boolean
        isGrossRevenueFullSync:
          description: Whether the gross revenue is fully synced for the entitlement.
          type: boolean
        isRenewalOffer:
          description: 'Applicable for AWS Marketplace only. If this offer is renewal offer of existing agreement.

            The existing agreement can be within or outside AWS Marketplace. AWS may audit and verify your offer is a renewal.

            If AWS is unable to verify your offer, then AWS may revoke the offer and entitlements from your customer.'
          type: boolean
        isReplacementOffer:
          description: If this offer is a GCP replacement offer. Applicable for GCP Marketplace replacement offer only.
          type: boolean
        lastModifiedBy:
          allOf:
          - $ref: '#/components/schemas/LastModifiedBy'
          description: The user who last modified the product/offer/buyer/contact.
          type: object
        notifications:
          description: 'The notifications of the offer if any updates.

            In most cases, it is to notify contacts/buyers when the offer is pending acceptance.'
          items:
            $ref: '#/components/schemas/NotificationEvent'
          type: array
        offerAcceptDate:
          description: The date when the offer is accepted by the buyer. Only available when the private offer has been accepted.
          format: date-time
          type: string
        prettifiedErrorMessages:
          description: 'The prettified ErrorMessages. Using AI to make it more readable and understandable.

            The prettified error messages will be used for the offer related UI display.'
          items:
            type: string
          type: array
        renewalOfferType:
          allOf:
          - $ref: '#/components/schemas/AwsRenewalOfferType'
          description: Applicable for AWS Marketplace only, required when the IsRenewalOffer is true.
          type: object
        replacedOfferEndTime:
          description: The end time of the replaced offer. Applicable for GCP Marketplace replacement offer only.
          format: date-time
          type: string
        replacedOfferResourceName:
          description: 'The resource name of the GCP Marketplace offer that this offer is replacing.

            In format of "projects/{gcpProjectNumber}/services/{productServiceName}/privateOffers/{privateOfferId}"

            Applicable for GCP Marketplace replacement offer only.'
          type: string
        salesforceEntitlementURL:
          description: The Salesforce entitlement URL
          type: string
        salesforceOpportunityId:
          description: The Salesforce opportunity ID of the private offer if available.
          type: string
        testUsageMeteringEndTime:
          description: 'The test usage metering end time. It is used for test usage metering only.

            Required if EnableTestUsageMetering is true.'
          format: date-time
          type: string
        updateMessage:
          description: The message to notify when the offer is updated.
          type: string
      type: object
    AzureAudience:
      example:
        description: description
        id: id
      properties:
        description:
          type: string
        id:
          type: string
      type: object
    GcpMarketplaceResellerPrivateOfferPlanPriceModelTemplateCommitment:
      example:
        commitmentAmountPerPeriodTemplate:
          decimalAmountConstraint:
            minAmount:
              nanos: 9
              units: units
            defaultAmount:
              nanos: 9
              units: units
            maxAmount:
              nanos: 9
              units: units
          currencyCode: currencyCode
        period:
          unit: MONTHLY_PERIOD
          count: 9
        discountTemplate:
          discountPercentage:
            minAmount:
              nanos: 9
              units: units
            defaultAmount:
              nanos: 9
              units: units
            maxAmount:
              nanos: 9
              units: units
          discountEconomics: discountEconomics
          hideDiscountPercentage: true
          discountedPrice:
            nanos: 1
            units: units
            currencyCode: currencyCode
      properties:
        commitmentAmountPerPeriodTemplate:
          $ref: '#/components/schemas/GcpCommitmentAmountPerPeriodTemplate'
        discountTemplate:
          $ref: '#/components/schemas/GcpPriceModelDiscountTemplate'
        period:
          $ref: '#/components/schemas/GcpPeriodDuration'
      type: object
    PriceModelTieredPercentageConfig:
      properties:
        firstUnit:
          description: Inclusive tier starting value
          type: number
        flatFee:
          type: number
        lastUnit:
          description: Exclusive tier ending value. If null, this is treated as the last tier
          type: number
        percentageRate:
          type: number
      type: object
    AwsMarketplaceCatalogPricingTermRateCard:
      properties:
        Constraints:
          allOf:
          - $ref: '#/components/schemas/AwsMarketplaceCatalogPricingTermRateCardConstraints'
          description: 'Defines constraints on how the term can be configured by acceptors.

            Applicable only to ConfigurableUpfrontPricingTerm.'
          type: object
        RateCard:
          items:
            $ref: '#/components/schemas/AwsMarketplaceCatalogPricingTermRateCardItem'
          type: array
        Selector:
          allOf:
          - $ref: '#/components/schemas/AwsMarketplaceCatalogPricingTermRateCardSelector'
          description: 'Selector is used to differentiate between the mutually exclusive rate cards in the same pricing term,

            to be selected by the buyer. Applicable only to ConfigurableUpfrontPricingTerm.'
          type: object
      type: object
    OfferStatus:
      enum:
      - ''
      - INVALID
      - ACCEPTED
      - ACTIVE
      - CANCEL_FAILED
      - CANCEL_SUCCESS
      - CANCELLED
      - CREATE_FAILED
      - CREATE_SUCCESS
      - DELETED
      - DEPRECATED
      - DRAFT
      - EXPIRED
      - PENDING_ACCEPTANCE
      - PENDING_CANCEL
      - PENDING_CREATE
      - PENDING_UPDATE
      - PREVIEW
      - READY_TO_USE
      - REJECTED
      - RESTRICTED
      - TEST
      - UPDATE_FAILED
      - UPDATE_SUCCESS
      - USED
      type: string
      x-enum-comments:
        OfferStatus_USED: For AWS CPPO_OUT offer used by the channel partner.
      x-enum-varnames:
      - OfferStatus_UNKNOWN
      - OfferStatus_INVALID
      - OfferStatus_ACCEPTED
      - OfferStatus_ACTIVE
      - OfferStatus_CANCEL_FAILED
      - OfferStatus_CANCEL_SUCCESS
      - OfferStatus_CANCELLED
      - OfferStatus_CREATE_FAILED
      - OfferStatus_CREATE_SUCCESS
      - OfferStatus_DELETED
      - OfferStatus_DEPRECATED
      - OfferStatus_DRAFT
      - OfferStatus_EXPIRED
      - OfferStatus_PENDING_ACCEPTANCE
      - OfferStatus_PENDING_CANCEL
      - OfferStatus_PENDING_CREATE
      - OfferStatus_PENDING_UPDATE
      - OfferStatus_PREVIEW
      - OfferStatus_READY_TO_USE
      - OfferStatus_REJECTED
      - OfferStatus_RESTRICTED
      - OfferStatus_TEST
      - OfferStatus_UPDATE_FAILED
      - OfferStatus_UPDATE_SUCCESS
      - OfferStatus_USED
    PriceModelTiered:
      properties:
        tiers:
          items:
            $ref: '#/components/schemas/PriceModelTieredConfig'
          type: array
      type: object
    AzureValidationResult:
      example:
        errorMessage: errorMessage
        memberNames:
        - memberNames
        - memberNames
      properties:
        errorMessage:
          type: string
        memberNames:
          items:
            type: string
          type: array
      type: object
    GcpMarketplaceResellerPrivateOfferPlanPriceModelTemplate:
      example:
        baseOffer: baseOffer
        commitment:
          commitmentAmountPerPeriodTemplate:
            decimalAmountConstraint:
              minAmount:
                nanos: 9
                units: units
              defaultAmount:
                nanos: 9
                units: units
              maxAmount:
                nanos: 9
                units: units
            currencyCode: currencyCode
          period:
            unit: MONTHLY_PERIOD
            count: 9
          discountTemplate:
            discountPercentage:
              minAmount:
                nanos: 9
                units: units
              defaultAmount:
                nanos: 9
                units: units
              maxAmount:
                nanos: 9
                units: units
            discountEconomics: discountEconomics
            hideDiscountPercentage: true
            discountedPrice:
              nanos: 1
              units: units
              currencyCode: currencyCode
        consumption: overage
        payg:
          period:
            unit: MONTHLY_PERIOD
            count: 9
          discountTemplate:
            discountPercentage:
              minAmount:
                nanos: 9
                units: units
              defaultAmount:
                nanos: 9
                units: units
              maxAmount:
                nanos: 9
                units: units
            discountEconomics: discountEconomics
            hideDiscountPercentage: true
            discountedPrice:
              nanos: 1
              units: units
              currencyCode: currencyCode
          skuDiscountTemplates:
          - '{}'
          - '{}'
          skuRepresentation:
            skuList:
              skus:
              - skus
              - skus
            skus: skus
            skuGroupList: '{}'
        subscription: fixedPrice
        fixedPrice:
          period:
            unit: MONTHLY_PERIOD
            count: 9
          discountTemplate:
            discountPercentage:
              minAmount:
                nanos: 9
                units: units
              defaultAmount:
                nanos: 9
                units: units
              maxAmount:
                nanos: 9
                units: units
            discountEconomics: discountEconomics
            hideDiscountPercentage: true
            discountedPrice:
              nanos: 1
              units: units
              currencyCode: currencyCode
        overage:
          discountTemplate:
            discountPercentage:
              minAmount:
                nanos: 9
                units: units
              defaultAmount:
                nanos: 9
                units: units
              maxAmount:
                nanos: 9
                units: units
            discountEconomics: discountEconomics
            hideDiscountPercentage: true
            discountedPrice:
              nanos: 1
              units: units
              currencyCode: currencyCode
          skuDiscountTemplates:
          - '{}'
          - '{}'
          skuRepresentation:
            skuList:
              skus:
              - skus
              - skus
            skus: skus
            skuGroupList: '{}'
      properties:
        baseOffer:
          description: in format of "projects/{projectNumber}/services/service-name.endpoints.gcp-project-id.cloud.goog/standardOffers/base-offer-id"
          type: string
        commitment:
          $ref: '#/components/schemas/GcpMarketplaceResellerPrivateOfferPlanPriceModelTemplateCommitment'
        consumption:
          enum:
          - overage
          - payg
          type: string
        fixedPrice:
          $ref: '#/components/schemas/GcpMarketplaceResellerPrivateOfferPlanPriceModelTemplateFixedPrice'
        overage:
          $ref: '#/components/schemas/GcpMarketplaceResellerPrivateOfferPlanPriceModelTemplateOverage'
        payg:
          $ref: '#/components/schemas/GcpMarketplaceResellerPrivateOfferPlanPriceModelTemplatePayg'
        subscription:
          enum:
          - fixedPrice
          - commitment
          type: string
      type: object
    AwsMarketplaceCppoOpportunityPositiveTargeting:
      properties:
        BuyerAccounts:
          description: List of AWS account IDs that are allowed to subscribe to the offer.
          items:
            $ref: '#/components/schemas/AwsMarketplaceBuyerAccount'
          type: array
        CountryCodes:
          description: 'List as option for allowing targeting based on country.

            If the intention isn''t to target the offer to a country, this field should be omitted.

            If it''s present, the list must contain at least one country code.

            Each element in this list should be a valid 2-letter country code, using this format: ISO 3166-1 alpha-2.'
          items:
            type: string
          type: array
      type: object
    AwsProductDimension:
      example:
        Types:
        - Types
        - Types
        Description: Description
        Length: 2
        Rate: 6.778324963048013
        TimeUnit: DAY
        Unit: Unit
        Key: Key
        Name: Name
      properties:
        Description:
          type: string
        Key:
          type: string
        Length:
          description: 'The term length for the commit amount, such as 6 months, or 1 year.

            The length is used together with timeUnit.

            Length and TimeUnit are only used for commit dimension.'
          type: integer
        Name:
          type: string
        Rate:
          description: 'Below three fields are only used for pass data when create or update product''s public offer pricing.

            Rate is only used for update public offer, becasue rate will be set as 0.01 when create new product.'
          type: number
        TimeUnit:
          $ref: '#/components/schemas/TimeUnit'
        Types:
          items:
            type: string
          type: array
        Unit:
          type: string
      type: object
    AwsMarketplaceCppoOpportunityRule:
      properties:
        AvailabilityEndDate:
          type: string
        Id:
          description: Output only.
          type: string
        NegativeTargeting:
          allOf:
          - $ref: '#/components/schemas/AwsMarketplaceCppoOpportunityNegativeTargeting'
          description: Negative targeting defines the criteria which any customer's profile should fulfill to be restricted to access the offer.
          type: object
        OffersMaxQuantity:
          type: integer
        PositiveTargeting:
          allOf:
          - $ref: '#/components/schemas/AwsMarketplaceCppoOpportunityPositiveTargeting'
          description: Positive targeting defines the criteria which any buyer's profile should fulfill in order to be allowed to access the offer.
          type: object
        ResellerAccountId:
          type: string
        ResellerLegalName:
          type: string
        Type:
          $ref: '#/components/schemas/AwsMarketplaceCppoOpportunityRuleType'
        Usage:
          type: string
      type: object
    GcpMarketplaceProductSubscriptionPlan:
      example:
        period: period
        price:
          nanos: 1
          units: units
          currencyCode: currencyCode
      properties:
        period:
          description: such as "ONE_YEAR", "TWO_YEAR", "THREE_YEAR"
          type: string
        price:
          $ref: '#/components/schemas/GcpPriceValue'
      type: object
    AzureMarketplaceVmPrice:
      example:
        patternProperties:
          key:
            quantity: 7.457744773683766
            unitPricePerPaymentPeriodInUsd: 1.1730742509559433
      properties:
        patternProperties:
          additionalProperties:
            $ref: '#/components/schemas/AzureMarketplaceVmPricePropertyItem'
          type: object
      type: object
    AzureMarketplacePriceAndAvailabilityRecurrentPriceItem:
      example:
        billingFrequency: '{}'
        pricePerPaymentInUsd: 1.2315135367772556
        flexibleSchedule: '{}'
        contractDuration: '{}'
        billingTerm:
          type: day
          value: 7.386281948385884
        paymentOption:
          type: day
          value: 7.386281948385884
        prices:
        - markets:
          - markets
          - markets
          price: 1.0246457001441578
          currency: currency
        - markets:
          - markets
          - markets
          price: 1.0246457001441578
          currency: currency
      properties:
        billingFrequency:
          allOf:
          - $ref: '#/components/schemas/AzureMarketplaceTerm'
          description: billingFrequency defines the frequency of the billing for recurring price.
          type: object
        billingTerm:
          $ref: '#/components/schemas/AzureMarketplaceTerm'
        contractDuration:
          allOf:
          - $ref: '#/components/schemas/AzureMarketplaceTerm'
          description: contractDuration defines the duration of the contract, should always be “year” with value 1 or 2 or 3
          type: object
        flexibleSchedule:
          allOf:
          - $ref: '#/components/schemas/AzureMarketplacePriceFlexibleSchedule'
          description: flexibleSchedule defines the payment installments for flexible billing.
          type: object
        paymentOption:
          $ref: '#/components/schemas/AzureMarketplaceTerm'
        pricePerPaymentInUsd:
          type: number
        prices:
          items:
            $ref: '#/components/schemas/AzureMarketplacePrice'
          type: array
      type: object
    BillableDimension:
      example:
        priceModelTiered: '{}'
        priceModelTieredPercentage: '{}'
        priceModelMatrix: '{}'
        minimumCommit: 5.962133916683182
        length: 1
        priceModelBulk: '{}'
        description: description
        discount: '{}'
        minimumCommitScope: '{}'
        minimumCommitProrata: true
        billableMetricId: billableMetricId
        priceModelPercentage: '{}'
        name: name
        priceModelBasic: '{}'
        category: '{}'
        priceModelVolume: '{}'
        timeUnit: '{}'
      properties:
        billableMetricId:
          description: The ID for the billable metric.
          type: string
        category:
          allOf:
          - $ref: '#/components/schemas/PriceModelCategory'
          description: The category of the pricing model. This is used to determine which pricing model to use.
          type: object
        description:
          description: Description of the dimension. This is used in the UI to display the dimension.
          type: string
        discount:
          allOf:
          - $ref: '#/components/schemas/BillingDiscount'
          description: Discount for the dimension.
          type: object
        length:
          description: The term length for the commit amount. Applicable to Direct only.
          type: integer
        minimumCommit:
          description: The minimum commit amount. Applicable to Direct only. Ignored if the value is 0 or less.
          type: number
        minimumCommitProrata:
          description: 'If the minimum commit is appled with pro-rata. Applicable to Direct only.

            If true, the minimum commit amount will be prorated based on the usage period (starting time and ending time).'
          type: boolean
        minimumCommitScope:
          allOf:
          - $ref: '#/components/schemas/BillingMinimumCommitScope'
          description: The minimum commit scope. The default value is "DIMENSION" if not set.
          type: object
        name:
          description: Display name of the dimension. This is used in the UI to display the dimension.
          type: string
        priceModelBasic:
          allOf:
          - $ref: '#/components/schemas/PriceModelBasic'
          description: The configuration for the Basic pricing model. Applicable to Direct only.
          type: object
        priceModelBulk:
          allOf:
          - $ref: '#/components/schemas/PriceModelBulk'
          description: The configuration for the Package pricing model. Applicable to Direct only.
          type: object
        priceModelMatrix:
          allOf:
          - $ref: '#/components/schemas/PriceModelMatrix'
          description: The configuration for the Matrix pricing model. Applicable to Direct only.
          type: object
        priceModelPercentage:
          allOf:
          - $ref: '#/components/schemas/PriceModelPercentage'
          description: The configuration for the Percentage pricing model. Applicable to Direct only.
          type: object
        priceModelTiered:
          allOf:
          - $ref: '#/components/schemas/PriceModelTiered'
          description: The configuration for the Tiered pricing model. Applicable to Direct only.
          type: object
        priceModelTieredPercentage:
          allOf:
          - $ref: '#/components/schemas/PriceModelTieredPercentage'
          description: The configuration for the Tiered Percentage pricing model. Applicable to Direct only.
          type: object
        priceModelVolume:
          allOf:
          - $ref: '#/components/schemas/PriceModelVolume'
          description: The configuration for the Bulk pricing model. Applicable to Direct only.
          type: object
        timeUnit:
          allOf:
          - $ref: '#/components/schemas/TimeUnit'
          description: The term unit for the commit amount. Applicable to Direct only.
          type: object
      type: object
    AzureMarketplacePrivateOfferPartner:
      properties:
        id:
          type: string
        location:
          type: string
        partnerName:
          type: string
      type: object
    AwsMarketplaceCatalogLegalTermDocumentType:
      enum:
      - CustomEula
      - CustomDsa
      - StandardEula
      - StandardDsa
      - StandardResellerContract
      - CustomResellerContract
      type: string
      x-enum-varnames:
      - AwsMarketplaceCatalogLegalTermDocumentType_CustomEula
      - AwsMarketplaceCatalogLegalTermDocumentType_CustomDsa
      - AwsMarketplaceCatalogLegalTermDocumentType_StandardEula
      - AwsMarketplaceCatalogLegalTermDocumentType_StandardDsa
      - AwsMarketplaceCatalogLegalTermDocumentType_StandardResellerContract
      - AwsMarketplaceCatalogLegalTermDocumentType_CustomResellerContract
    GcpPeriodDuration:
      example:
        unit: MONTHLY_PERIOD
        count: 9
      properties:
        count:
          description: such as 1, 6, 12
          type: integer
        unit:
          $ref: '#/components/schemas/GcpPeriodDurationUnit'
      type: object
    AzureMarketplacePriceAndAvailabilityPrivateOfferPlanSoftwareReservation:
      example:
        paymentSchedule:
          type: day
          value: 7.386281948385884
        reservationDuration:
          type: day
          value: 7.386281948385884
        vmPrices:
          patternProperties:
            key:
              quantity: 7.457744773683766
              unitPricePerPaymentPeriodInUsd: 1.1730742509559433
      properties:
        paymentSchedule:
          $ref: '#/components/schemas/AzureMarketplaceTerm'
        reservationDuration:
          $ref: '#/components/schemas/AzureMarketplaceTerm'
        vmPrices:
          $ref: '#/components/schemas/AzureMarketplaceVmPrice'
      type: object
    EntityType:
      enum:
      - ''
      - API_CLIENT
      - AUDITING_EVENT
      - AUTO_SHARE_TASK
      - BUYER
      - CONTACT
      - ENTITLEMENT
      - ENTITLEMENT_TERM
      - HEADLESS_ENTITLEMENTS
      - HUBSPOT_USER
      - INTEGRATION
      - INVOICE
      - NEW_CLIENT
      - NOTIFICATION_MESSAGE
      - OFFER
      - ORGANIZATION
      - PAYMENT_TRANSACTION
      - PRODUCT
      - REFERRAL
      - REVENUE_RECORD
      - SUPPORT_TICKET
      - UNPURCHASED_OFFERS
      - USAGE_RECORD_GROUP
      - USAGE_RECORD_REPORT
      - USER
      - WORKFLOW
      - WORKFLOW_EXECUTION
      - WORKFLOW_WEBHOOK
      type: string
      x-enum-varnames:
      - EntityType_UNKNOWN
      - EntityType_API_CLIENT
      - EntityType_AUDITING_EVENT
      - EntityType_AUTO_SHARE_TASK
      - EntityType_BUYER
      - EntityType_CONTACT
      - EntityType_ENTITLEMENT
      - EntityType_ENTITLEMENT_TERM
      - EntityType_HEADLESS_ENTITLEMENTS
      - EntityType_HUBSPOT_USER
      - EntityType_INTEGRATION
      - EntityType_INVOICE
      - EntityType_NEW_CLIENT
      - EntityType_NOTIFICATION_MESSAGE
      - EntityType_OFFER
      - EntityType_ORGANIZATION
      - EntityType_PAYMENT_TRANSACTION
      - EntityType_PRODUCT
      - EntityType_REFERRAL
      - EntityType_REVENUE_RECORD
      - EntityType_SUPPORT_TICKET
      - EntityType_UNPURCHASED_OFFERS
      - EntityType_USAGE_RECORD_GROUP
      - EntityType_USAGE_RECORD_REPORT
      - EntityType_USER
      - EntityType_WORKFLOW
      - EntityType_WORKFLOW_EXECUTION
      - EntityType_WORKFLOW_WEBHOOK
    Contact:
      example:
        name: name
        company: company
        email: email
      properties:
        company:
          type: string
        email:
          type: string
        name:
          type: string
      type: object
    AwsMarketplaceCppoOpportunityNegativeTargeting:
      properties:
        CountryCodes:
          items:
            type: string
          type: array
      type: object
    GcpMarketplaceProductPriceInfo:
      example:
        usageFees:
        - priceTiers:
          - startingUsageAmount: startingUsageAmount
            price:
              nanos: 1
              units: units
              currencyCode: currencyCode
            fromAmount: 1.0246457001441578
          - startingUsageAmount: startingUsageAmount
            price:
              nanos: 1
              units: units
              currencyCode: currencyCode
            fromAmount: 1.0246457001441578
          metricId: metricId
          displayQuantity: 5
        - priceTiers:
          - startingUsageAmount: startingUsageAmount
            price:
              nanos: 1
              units: units
              currencyCode: currencyCode
            fromAmount: 1.0246457001441578
          - startingUsageAmount: startingUsageAmount
            price:
              nanos: 1
              units: units
              currencyCode: currencyCode
            fromAmount: 1.0246457001441578
          metricId: metricId
          displayQuantity: 5
        subscriptionPlans:
        - period: period
          price:
            nanos: 1
            units: units
            currencyCode: currencyCode
        - period: period
          price:
            nanos: 1
            units: units
            currencyCode: currencyCode
        description: description
        priceModel: FREE
      properties:
        description:
          type: string
        priceModel:
          $ref: '#/components/schemas/GcpMarketplacePriceModel'
        subscriptionPlans:
          description: Subscription Plan (Flat Commitment)
          items:
            $ref: '#/components/schemas/GcpMarketplaceProductSubscriptionPlan'
          type: array
        usageFees:
          description: Usage Metering Dimension/Metric if available
          items:
            $ref: '#/components/schemas/GcpMarketplaceProductUsageFee'
          type: array
      type: object
    UsageCount:
      properties:
        creditCount:
          description: The count of this dimension usage records that are handled as credit.
          type: number
        includedCount:
          description: The count of this dimension usage records that are handled as included in IncludedBaseQuantity
          type: number
        reportedCount:
          description: The count of this dimension usage records that are reported to cloud vendors.
          type: number
      type: object
    GcpMarketplacePrivateOfferProviderInfo:
      properties:
        creatorEmailAddress:
          description: The email address of who create the private offer in the provider.
          type: string
        salesContactEmail:
          description: The sales contact email of the provider.
          type: string
        salesContactName:
          description: The sales contact name of the provider.
          type: string
      type: object
    GcpMarketplacePrivateOfferState:
      enum:
      - OFFER_ACTIVE
      - OFFER_ACTIVATING
      - OFFER_SCHEDULED
      - OFFER_ENTITLEMENT_ACCOUNT_PENDING
      - OFFER_PUBLISHED
      - OFFER_LAPSED
      - OFFER_EXPIRED
      - OFFER_CANCELLED
      - OFFER_UNAVAILABLE
      - OFFER_DRAFT
      type: string
      x-enum-varnames:
      - GcpMarketplacePrivateOfferState_OFFER_ACTIVE
      - GcpMarketplacePrivateOfferState_OFFER_ACTIVATING
      - GcpMarketplacePrivateOfferState_OFFER_SCHEDULED
      - GcpMarketplacePrivateOfferState_OFFER_ENTITLEMENT_ACCOUNT_PENDING
      - GcpMarketplacePrivateOfferState_OFFER_PUBLISHED
      - GcpMarketplacePrivateOfferState_OFFER_LAPSED
      - GcpMarketplacePrivateOfferState_OFFER_EXPIRED
      - GcpMarketplacePrivateOfferState_OFFER_CANCELLED
      - GcpMarketplacePrivateOfferState_OFFER_UNAVAILABLE
      - GcpMarketplacePrivateOfferState_OFFER_DRAFT
    GcpPriceModelDiscountTemplate:
      example:
        discountPercentage:
          minAmount:
            nanos: 9
            units: units
          defaultAmount:
            nanos: 9
            units: units
          maxAmount:
            nanos: 9
            units: units
        discountEconomics: discountEconomics
        hideDiscountPercentage: true
        discountedPrice:
          nanos: 1
          units: units
          currencyCode: currencyCode
      properties:
        discountEconomics:
          type: string
        discountPercentage:
          $ref: '#/components/schemas/GcpAmountConstraint'
        discountedPrice:
          $ref: '#/components/schemas/GcpPriceValue'
        hideDiscountPercentage:
          type: boolean
      type: object
    AuditingEventPriority:
      enum:
      - ''
      - LOW
      - MEDIUM
      - HIGH
      - CRITICAL
      type: string
      x-enum-varnames:
      - AuditingEventPriority_UNKNOWN
      - AuditingEventPriority_LOW
      - AuditingEventPriority_MEDIUM
      - AuditingEventPriority_HIGH
      - AuditingEventPriority_CRITICAL
    SnowflakeMarketplaceOfferPaymentTerms:
      properties:
        installment_schedule:
          allOf:
          - $ref: '#/components/schemas/SnowflakeMarketplacePlanInstallmentSchedule'
          description: The installment schedule for the offer.
          type: object
        payment_type:
          description: The pricing plan payment types. Accepted values are INVOICE, CREDIT_CARD, INSTALLMENT.
          enum:
          - INVOICE
          - CREDIT_CARD
          - INSTALLMENT
          type: string
      type: object
    AzureMarketplacePrice:
      example:
        markets:
        - markets
        - markets
        price: 1.0246457001441578
        currency: currency
      properties:
        currency:
          description: ISO 4217 currency code
          type: string
        markets:
          description: PriceAndAvailability audience definition
          items:
            type: string
          type: array
        price:
          description: Prices   interface{} `json:"prices,omitempty"`
          type: number
      type: object
    AwsMarketplaceBuyerAccount:
      properties:
        AwsAccountId:
          type: string
      type: object
    GcpMarketplaceRevenueShareChange:
      properties:
        revenueShare:
          $ref: '#/components/schemas/GcpMarketplaceRevenueShareValue'
        revenueShareType:
          $ref: '#/components/schemas/GcpMarketplaceRevenueShareType'
        startTime:
          type: string
      type: object
    GcpMarketplacePrivateOfferTermDurationConstraint:
      example:
        defaultDuration:
          unit: MONTHLY_PERIOD
          count: 9
      properties:
        defaultDuration:
          $ref: '#/components/schemas/GcpPeriodDuration'
      type: object
    AzureMarketplacePriceAndAvailabilityPrivateOfferCustomMeters:
      example:
        priceInputOption: perMarket
        meters: '{}'
      properties:
        meters:
          description: One of PriceAndAvailabilityCustomMeter_USD or PriceAndAvailabilityCustomMeter_PerMarket
          type: object
        priceInputOption:
          description: default "usd"
          enum:
          - perMarket
          - usd
          type: string
      type: object
    AzureMarketplacePriceAndAvailabilityRecurrentPrice:
      example:
        recurrentPriceMode: flatRate
        userLimits:
          min: 6.84685269835264
          max: 1.4894159098541704
        priceInputOption: perMarket
        prices:
        - billingFrequency: '{}'
          pricePerPaymentInUsd: 1.2315135367772556
          flexibleSchedule: '{}'
          contractDuration: '{}'
          billingTerm:
            type: day
            value: 7.386281948385884
          paymentOption:
            type: day
            value: 7.386281948385884
          prices:
          - markets:
            - markets
            - markets
            price: 1.0246457001441578
            currency: currency
          - markets:
            - markets
            - markets
            price: 1.0246457001441578
            currency: currency
        - billingFrequency: '{}'
          pricePerPaymentInUsd: 1.2315135367772556
          flexibleSchedule: '{}'
          contractDuration: '{}'
          billingTerm:
            type: day
            value: 7.386281948385884
          paymentOption:
            type: day
            value: 7.386281948385884
          prices:
          - markets:
            - markets
            - markets
            price: 1.0246457001441578
            currency: currency
          - markets:
            - markets
            - markets
            price: 1.0246457001441578
            currency: currency
      properties:
        priceInputOption:
          description: default "usd"
          enum:
          - perMarket
          - usd
          type: string
        prices:
          items:
            $ref: '#/components/schemas/AzureMarketplacePriceAndAvailabilityRecurrentPriceItem'
          type: array
        recurrentPriceMode:
          description: default "flatRate"
          enum:
          - flatRate
          - perUser
          type: string
        userLimits:
          $ref: '#/components/schemas/AzureMarketplacePriceAndAvailabilityRecurrentPriceUserLimit'
      type: object
    AzureMarketplaceVmPricePropertyItem:
      example:
        quantity: 7.457744773683766
        unitPricePerPaymentPeriodInUsd: 1.1730742509559433
      properties:
        quantity:
          type: number
        unitPricePerPaymentPeriodInUsd:
          type: number
      type: object
    AzureMarketplaceValidation:
      example:
        resourceId: resourceId
        code: businessValidationError
        $schema: $schema
        level: informational
        message: message
      properties:
        $schema:
          type: string
        code:
          enum:
          - businessValidationError
          - collectionLimitExceeded
          - invalidId
          - invalidEntityStatus
          - invalidRequest
          - invalidResource
          - invalidState
          - notDeployed
          - notSupported
          - operationCanceled
          - productLocked
          - resourceNotFound
          - schemaValidationError
          type: string
        level:
          enum:
          - informational
          - warning
          type: string
        message:
          type: string
        resourceId:
          type: string
      type: object
    GcpMarketplacePrivateOfferInstallment:
      properties:
        priceModel:
          $ref: '#/components/schemas/GcpMarketplacePrivateOfferPriceModel'
        startTime:
          format: date-time
          type: string
      type: object
    CommitDimension:
      description: The commit dimension. There may be one or more commit dimensions defined in single product, offer or entitlement.
      example:
        types:
        - types
        - types
        quantity: 4
        length: 9
        description: description
        type: '{}'
        maximumUsers: 361608
        rate: 7.386281948385884
        isUserCreated: true
        minimumUsers: 202713
        name: name
        term: term
        category: category
        termEndTime: termEndTime
        key: key
        timeUnit: '{}'
      properties:
        category:
          type: string
        description:
          type: string
        isUserCreated:
          description: 'Whether this commit dimension is newly created by user,

            when creating AWS Marketplace Contract private offer.'
          type: boolean
        key:
          description: API name of the dimension
          type: string
        length:
          description: 'The term length for the commit amount, such as 6 months, or 1 year.

            The length is used together with timeUnit.

            If the length is zero, use the TermEndTime.'
          type: integer
        maximumUsers:
          description: The maximum number of users for PER_USER commit
          maximum: 1000000
          minimum: 1
          type: integer
        minimumUsers:
          description: The minimum number of users for PER_USER commit
          maximum: 1000000
          minimum: 1
          type: integer
        name:
          description: Display name of the dimension
          type: string
        quantity:
          description: The quantity of this commit.
          type: integer
        rate:
          description: The commit amount. For GCP, it is monthly commitment.
          type: number
        term:
          description: The term of the commit amount. It is used for front-end display only.
          type: string
        termEndTime:
          description: The end time of the commit term.
          type: string
        timeUnit:
          allOf:
          - $ref: '#/components/schemas/TimeUnit'
          description: The term unit for the commit amount.
          type: object
        type:
          allOf:
          - $ref: '#/components/schemas/CommitDimensionType'
          description: The type of the commit dimension. Applicable only to Azure Marketplace.
          type: object
        types:
          description: These indicate whether the dimension covers metering, entitlement, or support for external metering
          items:
            type: string
          type: array
      type: object
    EulaType:
      enum:
      - ''
      - SCMP
      - ECMP
      - RCMP
      - CUSTOM
      - ISV
      - CURRENT
      type: string
      x-enum-comments:
        EulaType_CURRENT: Current EULA, used for existing entitlement.
        EulaType_CUSTOM: Custom EULA
        EulaType_ECMP: AWS Enterprise Contract EULA
        EulaType_ISV: ISV standard / default EULA
        EulaType_RCMP: AWS Reseller Contract EULA
        EulaType_SCMP: AWS Standard Contract EULA
      x-enum-varnames:
      - EulaType_UNKNOWN
      - EulaType_SCMP
      - EulaType_ECMP
      - EulaType_RCMP
      - EulaType_CUSTOM
      - EulaType_ISV
      - EulaType_CURRENT
    GcpMarketplacePrivateOfferPriceModelDiscount:
      properties:
        discountPercentage:
          allOf:
          - $ref: '#/components/schemas/GcpAmountUnit'
          description: 'such as {"units": "0", "nanos": 0} as no discount,

            or {"units": "10", "nanos": 0} as 10% off discount'
          type: object
        discountedPrice:
          allOf:
          - $ref: '#/components/schemas/GcpPriceValue'
          description: 'The discounted price of the private offer.

            If the discount is 10% off, and the original price is $100, then the discounted price is $90.'
          type: object
      type: object
    AzureMarketplacePriceFlexibleSchedule:
      properties:
        billingSchedule:
          items:
            $ref: '#/components/schemas/AzureMarketplacePriceBillingSchedule'
          type: array
        initialCharge:
          $ref: '#/components/schemas/AzureMarketplacePriceInitialCharge'
        price:
          type: number
      type: object
    PriceModelMatrixProperty:
      properties:
        name:
          type: string
        value:
          type: string
      type: object
    CancellationSchedule:
      example:
        note: note
        cancelDate: cancelDate
        creationDate: creationDate
        type: '{}'
      properties:
        cancelDate:
          description: The cancellation date of the entitlement. It is required when the type is SpecificDate.
          type: string
        creationDate:
          description: When this cancellation schedule is created.
          type: string
        note:
          description: The cancellation note. Max 500 characters.
          maxLength: 500
          type: string
        type:
          allOf:
          - $ref: '#/components/schemas/CancellationScheduleType'
          description: Cancellation type
          type: object
      type: object
    AzureLocalizedTimeRange:
      example:
        endAt:
          dateTimeInUtc: dateTimeInUtc
          localizePerMarket: true
        startAt:
          dateTimeInUtc: dateTimeInUtc
          localizePerMarket: true
      properties:
        endAt:
          $ref: '#/components/schemas/AzureLocalizedDateTime'
        startAt:
          $ref: '#/components/schemas/AzureLocalizedDateTime'
      type: object
    GcpMarketplaceResellerPrivateOfferPlanInstallmentTimelineTemplate:
      example:
        installmentTemplates:
        - priceModelTemplate:
            baseOffer: baseOffer
            commitment:
              commitmentAmountPerPeriodTemplate:
                decimalAmountConstraint:
                  minAmount:
                    nanos: 9
                    units: units
                  defaultAmount:
                    nanos: 9
                    units: units
                  maxAmount:
                    nanos: 9
                    units: units
                currencyCode: currencyCode
              period:
                unit: MONTHLY_PERIOD
                count: 9
              discountTemplate:
                discountPercentage:
                  minAmount:
                    nanos: 9
                    units: units
                  defaultAmount:
                    nanos: 9
                    units: units
                  maxAmount:
                    nanos: 9
                    units: units
                discountEconomics: discountEconomics
                hideDiscountPercentage: true
                discountedPrice:
                  nanos: 1
                  units: units
                  currencyCode: currencyCode
            consumption: overage
            payg:
              period:
                unit: MONTHLY_PERIOD
                count: 9
              discountTemplate:
                discountPercentage:
                  minAmount:
                    nanos: 9
                    units: units
                  defaultAmount:
                    nanos: 9
                    units: units
                  maxAmount:
                    nanos: 9
                    units: units
                discountEconomics: discountEconomics
                hideDiscountPercentage: true
                discountedPrice:
                  nanos: 1
                  units: units
                  currencyCode: currencyCode
              skuDiscountTemplates:
              - '{}'
              - '{}'
              skuRepresentation:
                skuList:
                  skus:
                  - skus
                  - skus
                skus: skus
                skuGroupList: '{}'
            subscription: fixedPrice
            fixedPrice:
              period:
                unit: MONTHLY_PERIOD
                count: 9
              discountTemplate:
                discountPercentage:
                  minAmount:
                    nanos: 9
                    units: units
                  defaultAmount:
                    nanos: 9
                    units: units
                  maxAmount:
                    nanos: 9
                    units: units
                discountEconomics: discountEconomics
                hideDiscountPercentage: true
                discountedPrice:
                  nanos: 1
                  units: units
                  currencyCode: currencyCode
            overage:
              discountTemplate:
                discountPercentage:
                  minAmount:
                    nanos: 9
                    units: units
                  defaultAmount:
                    nanos: 9
                    units: units
                  maxAmount:
                    nanos: 9
                    units: units
                discountEconomics: discountEconomics
                hideDiscountPercentage: true
                discountedPrice:
                  nanos: 1
                  units: units
                  currencyCode: currencyCode
              skuDiscountTemplates:
              - '{}'
              - '{}'
              skuRepresentation:
                skuList:
                  skus:
                  - skus
                  - skus
                skus: skus
                skuGroupList: '{}'
          startTime: 2000-01-23 04:56:07+00:00
        - priceModelTemplate:
            baseOffer: baseOffer
            commitment:
              commitmentAmountPerPeriodTemplate:
                decimalAmountConstraint:
                  minAmount:
                    nanos: 9
                    units: units
                  defaultAmount:
                    nanos: 9
                    units: units
                  maxAmount:
                    nanos: 9
                    units: units
                currencyCode: currencyCode
              period:
                unit: MONTHLY_PERIOD
                count: 9
              discountTemplate:
                discountPercentage:
                  minAmount:
                    nanos: 9
                    units: units
                  defaultAmount:
                    nanos: 9
                    units: units
                  maxAmount:
                    nanos: 9
                    units: units
                discountEconomics: discountEconomics
                hideDiscountPercentage: true
                discountedPrice:
                  nanos: 1
                  units: units
                  currencyCode: currencyCode
            consumption: overage
            payg:
              period:
                unit: MONTHLY_PERIOD
                count: 9
              discountTemplate:
                discountPercentage:
                  minAmount:
                    nanos: 9
                    units: units
                  defaultAmount:
                    nanos: 9
                    units: units
                  maxAmount:
                    nanos: 9
                    units: units
                discountEconomics: discountEconomics
                hideDiscountPercentage: true
                discountedPrice:
                  nanos: 1
                  units: units
                  currencyCode: currencyCode
              skuDiscountTemplates:
              - '{}'
              - '{}'
              skuRepresentation:
                skuList:
                  skus:
                  - skus
                  - skus
                skus: skus
                skuGroupList: '{}'
            subscription: fixedPrice
            fixedPrice:
              period:
                unit: MONTHLY_PERIOD
                count: 9
              discountTemplate:
                discountPercentage:
                  minAmount:
                    nanos: 9
                    units: units
                  defaultAmount:
                    nanos: 9
                    units: units
                  maxAmount:
                    nanos: 9
                    units: units
                discountEconomics: discountEconomics
                hideDiscountPercentage: true
                discountedPrice:
                  nanos: 1
                  units: units
                  currencyCode: currencyCode
            overage:
              discountTemplate:
                discountPercentage:
                  minAmount:
                    nanos: 9
                    units: units
                  defaultAmount:
                    nanos: 9
                    units: units
                  maxAmount:
                    nanos: 9
                    units: units
                discountEconomics: discountEconomics
                hideDiscountPercentage: true
                discountedPrice:
                  nanos: 1
                  units: units
                  currencyCode: currencyCode
              skuDiscountTemplates:
              - '{}'
              - '{}'
              skuRepresentation:
                skuList:
                  skus:
                  - skus
                  - skus
                skus: skus
                skuGroupList: '{}'
          startTime: 2000-01-23 04:56:07+00:00
      properties:
        installmentTemplates:
          items:
            $ref: '#/components/schemas/GcpMarketplaceResellerPrivateOfferPlanInstallmentTemplate'
          type: array
      type: object
    GcpMarketplaceResellerPrivateOfferPlanMargin:
      example:
        marginPercentage:
          value: value
      properties:
        marginPercentage:
          $ref: '#/components/schemas/GcpMarketplaceResellerPrivateOfferPlanMarginPercentage'
      type: object
    GcpMarketplacePrivateOfferPolicies:
      properties:
        cancellationPolicy:
          description: The cancellation policy of the offer.
          type: string
        defaultRenewalPolicy:
          description: The default renewal policy of the offer.
          type: string
        downgradePolicy:
          description: The downgrade policy of the offer.
          type: string
        maxRenewalTimes:
          description: The max renewal times of the offer.
          type: string
        offerDealType:
          allOf:
          - $ref: '#/components/schemas/GcpMarketplaceOfferDealType'
          description: The offer deal type of the offer.
          type: object
        purchaseApproval:
          description: The purchase approval of the offer.
          type: string
        purchaseApprovalOverride:
          description: The purchase approval override of the offer.
          type: string
      type: object
    GcpMarketplaceProductPurchaseOptionSpec:
      example:
        priceInfo:
          usageFees:
          - priceTiers:
            - startingUsageAmount: startingUsageAmount
              price:
                nanos: 1
                units: units
                currencyCode: currencyCode
              fromAmount: 1.0246457001441578
            - startingUsageAmount: startingUsageAmount
              price:
                nanos: 1
                units: units
                currencyCode: currencyCode
              fromAmount: 1.0246457001441578
            metricId: metricId
            displayQuantity: 5
          - priceTiers:
            - startingUsageAmount: startingUsageAmount
              price:
                nanos: 1
                units: units
                currencyCode: currencyCode
              fromAmount: 1.0246457001441578
            - startingUsageAmount: startingUsageAmount
              price:
                nanos: 1
                units: units
                currencyCode: currencyCode
              fromAmount: 1.0246457001441578
            metricId: metricId
            displayQuantity: 5
          subscriptionPlans:
          - period: period
            price:
              nanos: 1
              units: units
              currencyCode: currencyCode
          - period: period
            price:
              nanos: 1
              units: units
              currencyCode: currencyCode
          description: description
          priceModel: FREE
        purchaseMode: PURCHASE_MODE_PRIVATE
        name: name
        title: title
        featureValues:
        - featureValue: featureValue
          featureTitle: featureTitle
          featureName: featureName
          featureDescription: featureDescription
        - featureValue: featureValue
          featureTitle: featureTitle
          featureName: featureName
          featureDescription: featureDescription
      properties:
        featureValues:
          items:
            $ref: '#/components/schemas/GcpMarketplaceProductFeatureValue'
          type: array
        name:
          description: The plan ID, such as "starter", without the duration suffix, such as "P1Y".
          type: string
        priceInfo:
          $ref: '#/components/schemas/GcpMarketplaceProductPriceInfo'
        purchaseMode:
          enum:
          - PURCHASE_MODE_PRIVATE
          - PURCHASE_MODE_PUBLIC
          type: string
        title:
          description: such as "Starter"
          type: string
      type: object
    OfferInfo:
      example:
        awsResaleAuthorizationId: awsResaleAuthorizationId
        additionalResellerEulaUrls:
        - additionalResellerEulaUrls
        - additionalResellerEulaUrls
        gcpSowAgreementDocument: '{}'
        resellerEulaUrl: resellerEulaUrl
        trialConfig: '{}'
        taxIds:
        - taxIds
        - taxIds
        paymentInstallments:
        - discountPercentage: 3.5571952270680973
          amount: 9.018348186070783
          originalAmount: 6.965117697638846
          chargeOn: 2000-01-23 04:56:07+00:00
          chargeOnStr: chargeOnStr
          credit: 6.438423552598547
        - discountPercentage: 3.5571952270680973
          amount: 9.018348186070783
          originalAmount: 6.965117697638846
          chargeOn: 2000-01-23 04:56:07+00:00
          chargeOnStr: chargeOnStr
          credit: 6.438423552598547
        billableDimensions:
        - priceModelTiered: '{}'
          priceModelTieredPercentage: '{}'
          priceModelMatrix: '{}'
          minimumCommit: 5.962133916683182
          length: 1
          priceModelBulk: '{}'
          description: description
          discount: '{}'
          minimumCommitScope: '{}'
          minimumCommitProrata: true
          billableMetricId: billableMetricId
          priceModelPercentage: '{}'
[...]
